<!-- page starts-->
    <section class="page-wrapper">
        <div class="ashton-hero-top-player-single-section cf">
        	<div class="container">
        		<div class="ashton-hero-top-player-single-detail cf">
        			<div class="ashton-hero-top-player-single-left">
        				<h2>{{playerSingle?.full_name}}</h2>
        				<p>{{playerSingle?.role}}</p>
        				<h3>{{playerSingle?.players_number}}</h3>
        			</div>
        			<div class="ashton-hero-top-player-single-center">
        				<div class="ashton-hero-top-player-single-center-image">
        					<img [src]="playerSingle?.image">
        				</div>
        			</div>
        			<div class="ashton-hero-top-player-single-right cf">
        				<div class="ashton-hero-top-player-single-right-box">
        					<div class="ashton-hero-top-player-single-box">
        						<h3>{{playerSingle?.games}} Games</h3>
        						<p>{{playerSingle?.goal}} Goals</p>
        					</div>
        				</div>
        				<div class="ashton-hero-top-player-single-right-box">
        					<div class="ashton-hero-top-player-single-box">
        						<h3>Matches</h3>
        						<p>{{playerSingle?.matches}} Goals</p>
        					</div>
        				</div>
        				<div class="ashton-hero-top-player-single-right-box">
        					<div class="ashton-hero-top-player-single-box">
        						<h3>Assist</h3>
        						<p>{{playerSingle?.assist}} Goals</p>
        					</div>
        				</div>
        				<div class="ashton-hero-top-player-single-right-box">
        					<div class="ashton-hero-top-player-single-box">
        						<h3>Yellow Cards</h3>
        						<p>{{playerSingle?.yellow_card}} Goals</p>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        	<a href="#" class="Previous-player">
        		<p>Previous</p>
		    </a>
		    <a href="#" class="next-player">
		    	<p>Next</p>
		    </a>
        </div>
        <div class="ashton-hero-top-detail cf">
         <div class="container">
         	<div class="ashton-hero-top-player-single-about">
         	   <div class="red-titel">About Greg</div>	
         	   <div class="ashton-hero-top-player-single-about-content">
         	   	  <h3>Previous clubs</h3>
         	   	  <p>{{playerSingle?.previous_club}}</p>
         	   	  <h3>Biography</h3>
         	   	  <p>{{playerSingle?.biography}}</p>
         	   </div>
         	</div>
            <div class="ashton-hero-center-detail player cf">
               <div class="red-titel">Men’s Team</div>
               <div class="ashton-hero-center-player-detail cf">
                  <div class="ashton-hero-center-player-tab-content course-main-content active cf" id="men-content">
                      <div class="ashton-player-box">
                          <h2>Greg Hartley</h2>
                          <p>Goalkeeper</p>
                          <div class="ashton-player-image">
                            <img src="assets/images/pl.png" alt="pl">
                          </div>
                          <div class="ashton-player-number">
                             <h3>25</h3>
                          </div>
                          <div class="ashton-player-overlay">
                             <img src="assets/images/red-shadow-ic.png" alt="red-shadow-ic">
                          </div>
                      </div>
                      <div class="ashton-player-box">
                          <h2>Greg Hartley</h2>
                          <p>Goalkeeper</p>
                          <div class="ashton-player-image">
                            <img src="assets/images/pl.png" alt="pl">
                          </div>
                          <div class="ashton-player-number">
                             <h3>25</h3>
                          </div>
                          <div class="ashton-player-overlay">
                             <img src="assets/images/red-shadow-ic.png" alt="red-shadow-ic">
                          </div>
                      </div>
                      <div class="ashton-player-box">
                          <h2>Greg Hartley</h2>
                          <p>Goalkeeper</p>
                          <div class="ashton-player-image">
                            <img src="assets/images/pl.png" alt="pl">
                          </div>
                          <div class="ashton-player-number">
                             <h3>25</h3>
                          </div>
                          <div class="ashton-player-overlay">
                             <img src="assets/images/red-shadow-ic.png" alt="red-shadow-ic">
                          </div>
                      </div>
                      <div class="ashton-hero-center-player-readmore">
                         <a href="#"></a>
                      </div>
                  </div>
               </div>
            </div>
         </div>
        </div>
    </section><!-- page ends-->