@import 'var';
.ashton-hero-center-detail.player{
   margin: 30px 0 0 0;
   float: left;
   width: 100%;
}
.ashton-hero-top-player-single-section{
    float: left;
    width: 100%;
    background-image: url($imagePath+"ficture bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 603px;
    position: relative;
}
.ashton-hero-top-player-single-section a.Previous-player {
    position: absolute;
    top: 55%;
    left: 4%;
    cursor: pointer;
    width: 130px;
    color: #ffffff;
    background: #BE1E2E;
    height: 44px;
    font-size: 22px;
    line-height: 26px;
    padding: 7px 15px 0 0px;
    text-align: right;
}
.ashton-hero-top-player-single-section a.next-player{
    position: absolute;
    top: 55%;
    right: 4%;
    cursor: pointer;
    width: 100px;
    color: #ffffff;
    background: #BE1E2E;
    height: 44px;
    font-size: 22px;
    line-height: 26px;
    padding: 7px 0 0 15px;
}
.ashton-hero-top-player-single-section a.Previous-player:before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 40px;
  height: 40px;
  background: #BE1E2E;
  background-image: url($imagePath+"left-arrow-line-symbol.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}
.ashton-hero-top-player-single-section a.next-player:after {
  content: "";
  position: absolute;
  right: 0;
  top: 3px;
  width: 40px;
  height: 40px;
  background: #BE1E2E;
  background-image: url($imagePath+"right-arrow-angle.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}
.ashton-hero-top-detail{
    float: left;
    width: 100%;
}
.ashton-hero-content-detail-top {
    float: left;
    width: 100%;
}
.ashton-hero-top-player-single-detail{
    float: left;
    width: 100%;
    padding: 140px 0 0 0;
}
.ashton-hero-top-player-single-left {
    float: left;
    width: 30%;
    padding: 0 0 0 70px;
    margin: 130px 0 0 0;
}
.ashton-hero-top-player-single-center {
    float: left;
    width: 33%;
    margin: 0 65px 0 0;
}
.ashton-hero-top-player-single-right{
    float: left;
    width: 30%;
    margin: 85px 0 0 0;
}
.ashton-hero-top-player-single-left h2 {
    font-size: 45px;
    color: #FFFFFF;
    line-height: 49px;
    font-weight: 500;
    position: relative;
}
.ashton-hero-top-player-single-left h2:before{
  content: "";
  position: absolute;
  top: 7px;
  left: -60px;
  background-image: url($imagePath+"sport.svg");
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
  width: 40px;
  height: 40px;
}
.ashton-hero-top-player-single-left p {
    font-size: 18px;
    color: #FFFFFF;
    line-height: 22px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin: 11px 0 0 0;
}
.ashton-hero-top-player-single-left  h3 {
    font-size: 150px;
    color: #FFFFFF;
    line-height: 222px;
    font-weight: 500;
}
.ashton-hero-top-player-single-box h3 {
    font-size: 28px;
    color: #FFFFFF;
    line-height: 32px;
    font-weight: 500;
    margin: 10px 0 0 10px;
    max-width: 105px;
    height: 65px;
}
.ashton-hero-top-player-single-box p {
    font-size: 22px;
    color: #FFFFFF;
    line-height: 32px;
    font-weight: 500;
    position: relative;
    margin: 0 0 0 40px;
}
.ashton-hero-top-player-single-box p:before{
  content: "";
  position: absolute;
  top: -3px;
  left: -34px;
  background-image: url($imagePath+"sport.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  width: 20px;
  height: 20px;
  padding: 10px 0 10px 10px;

}
.ashton-hero-top-player-single-center img {
    max-width: 100%;
    width: 375px;
    height: 461px;
}
.ashton-hero-top-player-single-box {
    float: left;
    width: 100%;
    box-shadow: 4px 8px 12px 1px rgba(161,157,154,0.40);
    border-radius: 3px;
    background-color: rgba(161,157,154,0.4);
}
.ashton-hero-top-player-single-right-box{
    float: left;
    width: 45%;
    margin: 0 32px 23px 0;
}
.ashton-hero-top-player-single-right-box:nth-child(2n){
    margin: 0 0px 23px 0;
} 
.red-titel{
   font-size: 45px;
   line-height: 67px;
   color: #BE1E2E;
   font-weight: 500;
   margin: 20px 0;
   text-transform: uppercase;
}
.ashton-hero-top-player-single-about{
  float: left;
  width: 100%;
}
.ashton-hero-top-player-single-about-content{
  float: left;
  width: 100%;
}
.ashton-hero-top-player-single-about-content h3 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    margin: 17px 0 4px 0;
}
.ashton-hero-top-player-single-about-content p {
    font-size: 14px;
    color: #000000;
    letter-spacing: 0.3px;
    line-height: 20px;
    padding:0 0 18px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.ashton-hero-center-player-tab{
  float: left;
  width: 100%;
}
.ashton-hero-center-player-tab-content.course-main-content{
  display:none;
}
.ashton-hero-center-player-tab-content.course-main-content.active{
  display: block;
}
.ashton-hero-center-player-tab ul li:nth-last-child(1){
  margin: 0 0px 0 0;
}
.ashton-hero-center-player-tab ul li a{
    color: #CDCDCD;
    display: inline-block;
}
.ashton-hero-center-player-tab-content {
    float: left;
    width: 100%;
    margin: 37px 0 0 0;
}
.ashton-player-box {
    background: #BE1E2E;
    box-shadow: 0 0px 12px 0px rgba(0,0,0,0.10);
    border-radius: 5px;
    float: left;
    width: 32%;
    max-width: 371px;
    height: 423px;
    margin: 0 29px 28px 0;
    position: relative;
}
.ashton-player-box:nth-child(3n){
    margin: 0 0px 28px 0;
}
.ashton-player-box h2 {
    font-size: 45px;
    line-height: 67px;
    color: #ffffff;
    font-weight: 500;
    padding: 30px 0 0 17px;
}
.ashton-player-box p {
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    padding: 0px 0 0 17px;
}
.ashton-player-number h3{
  font-size: 200px;
  line-height: 297px;
  font-weight: 500;
  color: rgba(255,255,255,0.16);
  margin: 15px 0 0 0;
}
.ashton-player-image {
    position: absolute;
    bottom: -5px;
    right: 0;
}
.ashton-player-overlay {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
}
.ashton-hero-center-player-readmore{
  float: left;
  width: 100%;
}
.ashton-hero-center-player-readmore a{
  display: inline-block;
  float: right;
  width: 40px;
  height: 40px;
  background: #BE1E2E;
  background-image: url($imagePath+"right-arrow-angle.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}