/*********************ashton-menu-css*************************/
@import 'var';

.homepage .header-top-menu {
    float: left;
    width: 100%;
    height: 80px;
    background-color: transparent;
    position: absolute;
}
.header-top-menu {
  background: #BE1E2E;
  position: fixed;
  width: 100%;
  margin: 0 0 0px 0;
  z-index: 1;
}
.header-top-menu-left{
  float: left;
  width: 60%;
}
.header-top-menu-right {
  float:right;
  width: 40%;
  text-align: right;
}
.header-top-menu-left-humburger{
  float: left;
  width: 10%;
}
.header-top-menu-left-menu-list{
  float: left;
  width: 70%;
  padding: 27px 0 0 0;
}
.header-top-menu-left-logo{
  float: left;
  width: 20%;
  margin: 21px 0 0 0;
}
.header-top-menu-left-logo img {
    width: 85px;
    position: absolute;
    top: 20px;
}
.menu-icon {height: 80px; display:block; cursor: pointer; color: #000000; text-transform: uppercase; text-align: center; font-weight: bold; line-height: 20px; font-size: 15px; padding: 24px; text-indent: -9999px; position:relative; left: 0px; top: 0px;}
.menu-icon .menu-box { width: 40px; height: 10px; margin-left: 20px; padding: 4px 4px; position: relative; }
.menu-icon .menu-box span { width: 100%; height: 3px; margin-bottom: 6px; background:#ffffff; display: block; border-radius: 2px; transition: all 0.5s; -webkit-transition: all 0.5s; }
.menu-icon.active span:nth-child(1) { transform: rotate(50deg) translateY(5px) translateX(3px); -webkit-transform: rotate(50deg) translateY(5px) translateX(3px); }
.menu-icon.active span:nth-child(2) { opacity: 0; }
.menu-icon.active span:nth-child(3) { transform: rotate(-50deg) translateY(-10px) translateX(8px); -webkit-transform: rotate(-50deg) translateY(-10px) translateX(8px); }
.menu-icon.active{
  z-index: 11;
}
.homepage .menu-icon.active{
  z-index: 1;
}
.header-top-menu-left-menu-list ul li {
  list-style: none;
  float: left;
}
.header-top-menu-left-menu-list ul li a {
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    text-transform:capitalize;
    font-weight: 500;
    color: #ffffff;
    margin: 0 20px 0 0;
}
.header-top-menu-right-login {
    float: right;
    width: 205px;
    height: 80px;
    background: #FFFFFF;
    text-transform: uppercase;
}
.header-top-menu-right-login a{
  color: #000000;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  padding: 27px 64px 0 0;
  display: inline-block;
  position: relative;
}
.header-top-menu-right-login a:after{
  content: "";
  background-image: url($imagePath+"user-profile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  height: 20px;
  position: absolute;
  top:27px;
  right:25px;
}
.homepage .header-left-menu {
    background: #BE1E2E;
    width: 100%;
    height: 100vh;
    max-width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    display: block;
}
.header-left-menu{
  display: none;
}
.header-left-logo {
    width: 100%;
    max-width: 85px;
    height: 85px;
    overflow: hidden;
    margin: 21px auto 30px; 
}
.header-left-menu-list ul li a span.header-left-icon {
    float: left;
    width: 22px;
    height: 24px;
    margin: 0 39px 0px 39px;
}
.header-left-menu-list ul li:hover{
  background-color: rgba(64,2,9,0.42);
}
.header-left-menu-list ul li{
  height: 82px;
  display: table;
  position: relative;
}
.header-left-menu-list ul li a {
  display: table-cell;
  vertical-align: middle;
}
span.header-left-icon-titel {
    position: absolute;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 30px;
    background-color: rgba(64,2,9,0.42);
    padding: 12px 54px 0 25px;
    top: 0;
    height: 82px;
    opacity: 0;
    font-weight: 500;
}
.header-left-menu-list ul li:hover span.header-left-icon-titel {
    opacity: 1;
}
.header-left-social-icon ul li {
    list-style: none;
    padding: 0 36px 0 34px;
    margin: 0 0 7px 0;
}
.header-left-social-icon {
    position: absolute;
    bottom: 40px;
    z-index: 1;
}
.homepage .header-wrapper.sticky-header.fixed .header-left-social-icon.dsk{
    display: block;
}
.homepage .header-top-menu-left{
  display: none;
}
.header-top-menu-left{
  display:block;
}
.homepage .header-wrapper.sticky-header.fixed .header-top-menu-left{
  display: block;
}
.homepage .header-wrapper.sticky-header.fixed .header-top-menu{
  position: fixed;
  top: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 1;
}
.homepage .header-wrapper.sticky-header.fixed.readbox .header-top-menu{
  position: fixed;
  top: 0;
  background-color:#BE1E2E;
  z-index: 1;
}
.header-mobile-menu {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #151515b5;
    display: none;
}
.header-mobile-menu-inner{
    width: 26%;
    background: #000000;
    float: left;
    padding: 122px 0 0 48px;
    height: 100%;
}
.header-mobile-menu.active{
  display: block;
  z-index: 1;
}
.homepage .header-mobile-menu.active{
  display: block;
  z-index: 0;
  
}

.header-wrapper.sticky-header.fixed .header-left-menu{
  opacity: 0;
  max-width: 0;
  transition: 0.5s;
}
.header-mobile-menu ul.enumenu_ul li{
  float: left;
  width: 100%;
}
.header-mobile-menu ul li a {
    display: inline-block;
    font-size: 22px;
    color: #FFFFFF;
    line-height: 32px;
    margin: 0 0 46px 0;
    font-weight: 500;
}
.header-mobile-menu .header-left-social-icon-menu ul li {
    list-style: none;
    float: left;
    margin: 0 19px 0 0;
}
.header-left-social-icon-menu {
    position: absolute;
    bottom: 0;
}
.signup .header-top-menu{
    background: rgba(0,0,0,0.21);
}
.fixtures-single .header-top-menu{
     background:rgba(0,0,0,0.21);
}
.news-single .header-top-menu{
     background:rgba(0,0,0,0.21);
}
.player-single .header-top-menu{
     background:rgba(0,0,0,0.21);
}
/*************************footer css**************************/
.footer-wrapper{float: left; width: 100%; padding: 31px 0 0 0;}
.footer-top-section{
   float: left;
   width: 100%;
   background: #BE1E2E;
}
.footer-top-left {
    float: left;
    width: 40%;
    padding: 39px 0 50px 0;
}
.footer-top-right{
  float: left;
  width: 60%;
  padding: 0 0 0 113px;
}
.footer-top-left-top {
    float: left;
    width: 100%;
    border-bottom: 1px solid #ffffff;
    padding: 0 40px 22px 0;
}
.footer-top-left-top-image {
    float: left;
    width: 27%;
}
.footer-top-left-top-content {
    float: left;
    width: 73%;
    padding: 0 0px 0 16px;
}
.footer-top-left-top-content h3 {
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0.29px;
    line-height: 21px;
    font-weight: 600;
}
.footer-top-left-top-content p {
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0.23px;
    line-height: 21px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin: 17px 0px 0 0;
}
.footer-top-left-bottom {
    float: left;
    width: 100%;
    margin: 48px 0 0 0;
}
.footer-bottom-section{
  float: left;
  width: 100%;
  background-color: #ffffff;
}
.footer-top-social-icon ul li {
    list-style: none;
    float: left;
    margin: 0 17px 0 0;
}
.footer-top-right-menu {
    float: left;
    width: 30%;
}
.footer-top-right-menu:nth-child(3n) {
    float: left;
    width: 35%;
}
.footer-top-right-menu ul li{
  margin: 26px 0 0 0;
  float: left;
  width: 100%;
}
.footer-top-right-menu ul li a {
    font-size: 18px;
    color: #FFFFFF;
    line-height: 26px;
    font-weight: 500;
    margin: 0px 0 0 0;
    text-transform: uppercase;
}
.footer-bottom-left-menu {
    float: left;
    width: 100%;
    margin: 7px 0;
}
.footer-bottom-left-menu ul li a {
    list-style: none;
    float: left;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0.7px;
    line-height: 21px; 
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
}
.footer-bottom-left-menu ul li{
    float: left;
    margin: 0 20px 0 0;
}
.footer-bottom-left p {
    font-size: 12px;
    color: #000000;
    line-height: 15px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 8px 0;
}
.footer-bottom-left{
  float: left;
  width: 50%;
}
.footer-bottom-right{
  float: left;
  width: 50%;
  padding: 19px 0;
  text-align: right;
}
.footer-bottom-right p{
  font-size: 14px;
  color: #000000;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
}