<!-- body starts-->
<section class="body-wrapper" [ngClass]="{ 'intropage' : intropage, 'homepage' : homepage, 'signup' : signuppage, 'fixtures-single' : is_fixturessingle, 'news-single' : is_newssinglepage, 'player-single' : is_playersingle}">
 
 
  <header class="header-wrapper sticky-header">
      <div class="header-top-section cf">
          <div class="header-top-menu cf">
            <div class="header-top-menu-left cf">
              <div class="header-top-menu-left-humburger">
                <div class="enumenu_container"><div class="menu-icon"> <div class="menu-box"><span></span><span></span><span></span> </div></div>
                </div>
              </div>
              <div class="header-mobile-menu">
                  <div class="header-mobile-menu-inner">
                      <ul class="enumenu_ul">
                        <li><a href="#">NEWS</a></li>
                        <li><a href="#">VIdeoS</a></li>
                        <li><a href="#">Fixtures</a></li> 
                        <li><a href="#">Players</a></li> 
                        <li><a href="#">Our Charity</a></li> 
                        <li><a href="#">Become Sponsors</a></li> 
                      </ul> 
                      <div class="header-left-social-icon-menu">
                            <ul>
                              <li><a href="#"><img src="assets/images/fb.svg" alt="fb"></a></li>
                              <li><a href="#"><img src="assets/images/insta.svg" alt="insta"></a></li>
                              <li><a href="#"><img src="assets/images/youtube.svg" alt="youtube"></a></li>
                              <li><a href="#"><img src="assets/images/twi.svg" alt="twi"></a></li> 
                            </ul>
                      </div>
                  </div>
              </div>
              <div class="header-top-menu-left-menu-list">
                <ul>
                  <li><a href="#">Buy Tickets</a></li>
                  <li><a href="#">Season Tickets</a></li>
                  <li><a href="#">Club Sponsorship</a></li>
                  <li><a href="#">Merchandise</a></li>
                  <li><a href="#">Match Day Hospitality</a></li>
                </ul>
              </div>
              <div class="header-top-menu-left-logo">
                <img src="assets/images/Bitmap-icon.png">
              </div>
            </div>
            <div class="header-top-menu-right">
              <div class="header-top-menu-right-login">
                <a href="#">LOGIN/SIGNUP</a>
              </div>
            </div>
          </div>
          <div class="header-left-menu">
            <div class="header-left-logo">
              <a href="#"><img src="assets/images/Bitmap-icon.png"></a>
            </div>
            <div class="header-left-menu-list">
              <ul>
                <li>
                  <a href="#">
                    <span class="header-left-icon"><img src="assets/images/match tickets.svg"></span><span class="header-left-icon-titel">Season Tickets</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="header-left-icon"><img src="assets/images/season-tickets.svg"></span><span class="header-left-icon-titel">Season Tickets</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="header-left-icon"><img src="assets/images/club-sponsorship.svg"></span><span class="header-left-icon-titel">Season Tickets</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="header-left-icon"><img src="assets/images/merchandise.svg"></span><span class="header-left-icon-titel">Season Tickets</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="header-left-icon"><img src="assets/images/Match-Day-Hospitality-Register.svg"></span><span class="header-left-icon-titel">Season Tickets</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="header-left-social-icon">
              <ul>
                <li><a href="#"><img src="assets/images/fb.svg"></a></li>
                <li><a href="#"><img src="assets/images/insta.svg"></a></li>
                <li><a href="#"><img src="assets/images/youtube.svg"></a></li>
                <li><a href="#"><img src="assets/images/twi.svg"></a></li> 
              </ul>
            </div>
          </div>
      </div>
  
    </header> 
  
  <router-outlet></router-outlet>
  
<!-- footer starts-->
  <footer class="footer-wrapper">
    <div class="footer-top-section cf">
            <div class="container">
              <div class="footer-top-detail cf">
                <div class="footer-top-left">
                  <div class="footer-top-left-top">
                    <div class="footer-top-left-top-image">
                      <img src="assets/images/Bitmap-icon.png" alt="Bitmap-icon">
                    </div>
                    <div class="footer-top-left-top-content">
                      <h3>ASHTON UNITED</h3>
                      <p>Hurst Cross Stadium, Surrey Street, Ashton-under-Lyne, Greater Manchester, OL6 8DY</p>
                    </div>
                  </div>
                  <div class="footer-top-left-bottom">
                    <div class="footer-top-social-icon">
                       <ul>
                         <li><a href="#"><img src="assets/images/fb.svg" alt="fb"></a></li>
                         <li><a href="#"><img src="assets/images/insta.svg" alt="insta"></a></li>
                         <li><a href="#"><img src="assets/images/youtube.svg" alt="youtube"></a></li>
                         <li><a href="#"><img src="assets/images/twi.svg" alt="twi"></a></li>
                       </ul>
                    </div>
                  </div>
                </div>
                <div class="footer-top-right">
                  <div class="footer-top-right-menu">
                     <ul>
                       <li><a href="#">NEWS</a></li>
                       <li><a href="#">VIdeoS</a></li>
                       <li><a href="#">Fixtures</a></li>
                       <li><a href="#">Players</a></li>
                       <li><a href="#">Our Charity</a></li>
                     </ul>
                  </div>
                  <div class="footer-top-right-menu">
                     <ul>
                       <li><a href="#">About US</a></li>
                       <li><a href="#">Contact Us</a></li>
                       <li><a href="#">History</a></li>
                       <li><a href="#">AUITC</a></li>
                     </ul>
                  </div>
                  <div class="footer-top-right-menu">
                     <ul>
                       <li><a href="#">The Board and Volunteers</a></li>
                       <li><a href="#">Become Sponsors</a></li>
                     </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-bottom-section cf">
            <div class="container">
              <div class="footer-bottom-detail cf">
                 <div class="footer-bottom-left">
                    <div class="footer-bottom-left-menu">
                     <ul>
                       <li><a href="#">Privacy Policy</a></li>          
                       <li><a href="#">Date Protection Policy</a></li>
                       <li><a href="#"> Sitemap </a></li>
                     </ul>
                    </div>
                   <p>© 2020 Ashton United. All rights reserved.</p>
                 </div>
                 <div class="footer-bottom-right">
                   <p>Powered by Yellow Panther</p>
                 </div>
              </div>
            </div>
          </div>
     
  </footer><!-- footer ends-->

</section><!-- body ends-->

