@import 'var';

.checkout-center-section{
    float: left;
    width: 100%;
}
.checkout-center-section.myaddress{
    margin: 119px 0 0 0;
}
.checkout-center-detail-left {
    float: left;
    width: 60%;
}
.checkout-center-detail-address-titel {
    background: #BE1E2E;
    height: 44px;
    float: left;
    width: 100%;
}
.checkout-center-detail-address-titel h2 {
    font-size: 22px;
    color: #FFFFFF;
    line-height: 32px;
    font-weight: 500;
    padding:6px 0 0 20px;
}
.checkout-center-detail-right {
    float: left;
    width: 40%;
    padding: 0 0 0 78px;
}
.myaddress-detail-section{
    float: left;
    width: 100%;
    margin: 24px 0 0 0;
}
.myaddress-radio-btn-box {
    float: left;
    width: 100%;
    border: 1px solid #979797;
    margin: 0px 0 22px 0;
    padding: 17px 15px 17px 55px;
}
.myaddress-detail-box {
    float: left;
    width: 100%;
}
.myaddress-radio-btn-box h3 {
    font-size: 14px;
    color: #000000;
    line-height: 21px;
    font-weight: 500;
    margin: 0 0 3px 0;
}
.myaddress-radio-btn-box p {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
.myaddress-radio-btn-box-top {
    float: left;
    width: 100%;
    max-width: 430px;
    margin: 0 0 16px 0;
}
.myaddress-radio-btn-box-bottom {
    float: left;
    width: 100%;
    text-align: right;
}
.myaddress-radio-btn-box-bottom ul {
    list-style: none;
    float: right;
}
.myaddress-radio-btn-box-bottom ul li{
	float: left;
	position: relative;
	margin: 0 20px 0 0;
}
.myaddress-radio-btn-box-bottom ul li:nth-child(2){
	margin: 0 0 0 0;
}
.myaddress-radio-btn-box-bottom ul li:after{
	content: "|";
    position: absolute;
    top: 0px;
    right: -13px;
}
.myaddress-radio-btn-box-bottom ul li:nth-child(2):after{
   display: none;
}
.myaddress-radio-btn-box-bottom ul li a {
    display: inline-block;
    font-size: 14px;
    color: #000000;
    line-height: 21px;
}
.checkout-center-detail-address-btn{
	float: left;
	width: 100%;
}
.checkout-center-detail-address-btn a {
    display: inline-block;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 26px;
    background: #BE1E2E;
    font-weight: 500;
    padding: 5px 34px;
    float: right;
}
.checkout-center-detail-right-myaddress-btn{
	float: left;
	width: 100%;
	margin: 74px 0 0 0;
    text-align: center;
}
.checkout-center-detail-right-myaddress-btn a {
    display: inline-block;
    font-size: 18px;
    color: #BE1E2E;
    letter-spacing: 0;
    line-height: 26px;
    border: 1px solid;
    padding: 6px 90px;
}
.myaddress-radio-btn-box-top .container {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
  width: 100%;
}

/* Hide the browser's default radio button */
.myaddress-radio-btn-box-top .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.myaddress-radio-btn-box-top .checkmark {
  position: absolute;
  top: 0;
  left: -30px;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #BE1E2E;
}

/* On mouse-over, add a grey background color */
.myaddress-radio-btn-box-top .container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.myaddress-radio-btn-box-top .container input:checked ~ .checkmark {
  background-color: #2196F3;
  background-color: transparent;
  border: 1px solid #BE1E2E;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.myaddress-radio-btn-box-top .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.myaddress-radio-btn-box-top .container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.myaddress-radio-btn-box-top .container .checkmark:after {
 	top: 4px;
	left: 4px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #BE1E2E;
}
.checkout-center-detail-address-box{
    margin: 26px 0 0 0;
}
.half{
    width: 50%;
    float: left;
    max-width: 325px;
    margin: 0 0 19px 0;
}
.full{
   width: 100%;
   float: left;
   margin: 0 0 19px 0;
}
.input-style{
    border: 1px solid #DADADA;
    width: 100%;
    height: 44px;
    font-size: 16px;
    line-height: 20px;
    padding: 0 0 0 15px;
}
.checkout-address-box.half{
   margin-right: 51px
}
.checkout-address-box.half:nth-child(2n){
   margin-right: 0px
}
.checkout-address-box-btn {
    float: left;
    width: 100%;
    text-align: center;
}
.login-section{
  float: left;
  width:100%; 
}
.checkout-center-detail-popup{
   width: 100%;
   max-width: 795px;
   margin: 0 auto;
   background: #FFFFFF;
   box-shadow: 0 8px 10px 6px rgba(0,0,0,0.04);
   border-radius: 10px;
   padding: 25px 47px;
}
.add-popup{
   width: 100%;
   max-width: 795px;
   margin: 0 auto; 
}
.checkout-center-detail-popup h2 {
    font-size: 18px;
    color: #BE1E2E;
    line-height: 26px;
    font-weight: 500;
}
.checkout-address-box-btn a {
    display: inline-block;
    background: #BE1E2E;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 26px;
    padding: 5px 54px;
}
