@import 'var';

.ashton-hero-shop-section.buyticket{
    float: left;
    width: 100%;
    margin: 80px 0 0 0;
}
.buyticket-detail {
   float: left;
   width: 100%;
   margin: 34px 0 0 0;
}
.buyticket-detail h3{
	font-size: 22px;
    color: #000000;
    line-height: 32px;
    font-weight: 500;
}
.buyticket-detail p{
	font-size: 12px;
    color: #000000;
    line-height: 15px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
.buyticket-avoid-detail{
    float: left;
    width: 100%;
    margin: 35px 0 0 0;
}
.buyticket-avoid-box {
    float: left;
    width: 32%;
    max-width: 370px;
    box-shadow: 0 8px 10px 6px rgba(0,0,0,0.04);
    border-radius: 10px;
    background-color: #BE1E2E;
    color: #ffffff;
    margin: 0 31px 30px 0;
}
.buyticket-avoid-box:nth-child(3n){
	margin: 0 0 30px 0;
}
.buyticket-avoid-left {
    float: left;
    width: 40%;
    padding: 0 15px 0 0;
    border-right: 1px solid;
    position: relative;
    height: 173px;
    border-style: dashed;
}
.buyticket-avoid-left:after{
    content: "";
    width: 17px;
    height: 17px;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: -8px;
    right: -9px;
    z-index: 1;
}
.buyticket-avoid-left:before{
	content: "";
    width: 17px;
    height: 17px;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    bottom:-11px;
    right: -9px;
    z-index: 1;
	
}
.buyticket-avoid-left-image {
    margin: 22px 0 0 18px;
}
.buyticket-avoid-left h3 {
    font-size: 25px;
    line-height: 37px;
    text-align: center;
    font-weight: 500;
}
.buyticket-avoid-right{
	float: left;
	width: 60%;
	margin: 0 0 11px 0;
}
.buyticket-avoid-right-content{
	float: left;
    width: 100%;
    padding: 18px 40px 0 13px;
}
.buyticket-avoid-right-btn{
	float: left;
	width: 100%;
	margin: 17px 10px 0 0;
}
.buyticket-avoid-right h3 {
    font-size: 22px;
    line-height: 28px;
    font-weight: 500;
}
.buyticket-avoid-right p{
	font-size: 12px;
	line-height: 15px;
	font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin: 9px 0 0 0;
}
.buyticket-avoid-right-btn a {
    display: inline-block;
    float: right;
    background: #FFFFFF;
    padding: 5px 9px;
    font-size: 18px;
    color: #BE1E2E;
    line-height: 26px;
    font-weight: 500;
    margin: 0 10px 0 0;
}
.club-sponsorship-section{
  float: left;
  width: 100%;
  margin: 31px 0 0 0;
}
.club-sponsorship-section h2 {
    font-size: 35px;
    color: #000000;
    line-height: 52px;
    font-weight: 500;
    margin: 0 0 20px 0;
    text-transform: uppercase;
}
.club-sponsorship-box {
    float: left;
    width: 18%;
    margin: 0 29px 0 0;
    height: 165px;
    display: table!important;
    max-width: 220px;
}
.club-sponsorship-box:nth-child(5n){
    margin: 0 0px 0 0;
} 
.club-sponsorship-box-inner{
  display: table-cell;
  vertical-align: middle;
}
.club-sponsorship-box-inner img{
  width: 95%;
  height: auto;
}
.club-affiliate-section{
  float: left;
  width: 100%;
  margin: 20px 0 0 0;
}
.club-affiliate-section h2 {
    font-size: 35px;
    color: #000000;
    line-height: 52px;
    font-weight: 500;
    text-align: center;
}
.club-affiliate-detail{
  float: left;
  width: 100%;
}
.club-affiliate-detail ul {
    list-style: none;
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
}
.club-affiliate-detail ul li {
    list-style: none;
    float: left;
    width: 100px;
    height: 131px;
    display: table;
    overflow: hidden;
    margin: 0 5px 0 0;
}
.club-affiliate-detail ul li a{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
