@import "var";
:host{
    .loading {
        clear: both;
        position: relative;
        min-height: calc(100vh - 460px);
        //background: var(--background, $primary);
        color:  rgb(58, 156, 255);

        .image{
            position: absolute;
            top: 25px;
            left: 50%;
            transform: translateX(-50%);
        }
        .loading-inner {
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translateY(-50%) translateX(-50%);
            text-align: center;


            #loading {
                display: block;
                margin-bottom: 20px;
                width: 70px;
                height: 70px;
                border: 3px solid #83b9f1;
                border-radius: 50%;
                border-top-color: #fff;
                animation: spin 1s ease-in-out infinite;
            }
            // .spinner{
            //     height: auto;
            //     & > div{
            //         background-color: #333;
            //     }
            // }
        }
        
        &.inline{
            background: transparent;
            height: 100px;
            width: 110px;
            display: inline-block;
            min-height: 0;
        }
    }

    &.bg-white{
        .loading {
            background: #fff;
        }
    }

    
}



@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}