<div class="loading {{type}}">
    <div class="loading-inner">
        <div class="loader">
            <div class="image"> <img src="assets/images/jc.png"> </div>
            <div id="loading">  </div>
        </div>
        Loading...
    </div>
</div>