<!-- page starts-->
    <section class="page-wrapper">
      <div class="ashton-hero-top-detail cf">
         <div class="container">
            <div class="ashton-hero-center-detail player cf">
               <div class="red-titel">Players</div>
               <div class="ashton-hero-center-player-detail cf">
                  <div class="ashton-hero-center-player-tab">
                    <ul>
                       <li class="courses-name" [ngClass]="{'active': i == 0}" id="{{category?.players_category_id}}" *ngFor="let category of playercategoryList?.data; let i = index"><a href="#">{{category?.title}}</a></li>
                      <!--  <li class="courses-name " id="women"><a href="#">Women’s Team</a></li>
                       <li class="courses-name " id="junior"><a href="#">Junior’s Team</a></li> -->
                    </ul>
                  </div>
                  <div class="ashton-hero-center-player-tab-content course-main-content cf" [ngClass]="{'active': i == 0}" id="{{category?.players_category_id}}-content" *ngFor="let category of playercategoryList?.data; let i = index">
                      <div class="ashton-player-box" *ngFor="let player of playerList?.data" [ngClass]="{'ashton-active': player?.players_category_id == category?.players_category_id}">
                        <a [routerLink]="['/player', player?.slug]">
                          <h2>{{player?.full_name}}</h2>
                          <p>{{player?.main_role}}</p>
                          <div class="ashton-player-image">
                            <img [src]="player?.image" alt="pl">
                          </div>
                          <div class="ashton-player-number">
                             <h3>{{player?.players_number}}</h3>
                          </div>
                          <div class="ashton-player-overlay">
                             <img src="assets/images/red-shadow-ic.png" alt="red-shadow-ic">
                          </div>
                        </a>
                      </div>
                      <!-- <div class="ashton-player-box">
                          <h2>Greg Hartley</h2>
                          <p>Goalkeeper</p>
                          <div class="ashton-player-image">
                            <img src="assets/images/pl.png" alt="pl">
                          </div>
                          <div class="ashton-player-number">
                             <h3>25</h3>
                          </div>
                          <div class="ashton-player-overlay">
                             <img src="assets/images/red-shadow-ic.png" alt="red-shadow-ic">
                          </div>
                      </div>
                      <div class="ashton-player-box">
                          <h2>Greg Hartley</h2>
                          <p>Goalkeeper</p>
                          <div class="ashton-player-image">
                            <img src="assets/images/pl.png" alt="pl">
                          </div>
                          <div class="ashton-player-number">
                             <h3>25</h3>
                          </div>
                          <div class="ashton-player-overlay">
                             <img src="assets/images/red-shadow-ic.png" alt="red-shadow-ic">
                          </div>
                      </div>
                      <div class="ashton-player-box">
                          <h2>Greg Hartley</h2>
                          <p>Goalkeeper</p>
                          <div class="ashton-player-image">
                            <img src="assets/images/pl.png" alt="pl">
                          </div>
                          <div class="ashton-player-number">
                             <h3>25</h3>
                          </div>
                          <div class="ashton-player-overlay">
                             <img src="assets/images/red-shadow-ic.png" alt="red-shadow-ic">
                          </div>
                      </div> 
                      <div class="ashton-player-box">
                          <h2>Greg Hartley</h2>
                          <p>Goalkeeper</p>
                          <div class="ashton-player-image">
                            <img src="assets/images/pl.png" alt="pl">
                          </div>
                          <div class="ashton-player-number">
                             <h3>25</h3>
                          </div>
                          <div class="ashton-player-overlay">
                             <img src="assets/images/red-shadow-ic.png" alt="red-shadow-ic">
                          </div>
                      </div>
                      <div class="ashton-player-box">
                          <h2>Greg Hartley</h2>
                          <p>Goalkeeper</p>
                          <div class="ashton-player-image">
                            <img src="assets/images/pl.png" alt="pl">
                          </div>
                          <div class="ashton-player-number">
                             <h3>25</h3>
                          </div>
                          <div class="ashton-player-overlay">
                             <img src="assets/images/red-shadow-ic.png" alt="red-shadow-ic">
                          </div>
                      </div> -->
                      <div class="ashton-hero-center-player-readmore">
                         <a href="#"></a>
                      </div>
                  </div>
                  <!-- <div class="ashton-hero-center-player-tab-content course-main-content  cf" id="women-content">
                      <div class="ashton-player-box">
                          <h2>Greg Hartley</h2>
                          <p>Goalkeeper</p>
                          <div class="ashton-player-image">
                            <img src="assets/images/pl.png" alt="pl">
                          </div>
                          <div class="ashton-player-number">
                             <h3>25</h3>
                          </div>
                          <div class="ashton-player-overlay">
                             <img src="assets/images/red-shadow-ic.png" alt="red-shadow-ic">
                          </div>
                      </div>
                      <div class="ashton-player-box">
                          <h2>Greg Hartley</h2>
                          <p>Goalkeeper</p>
                          <div class="ashton-player-image">
                            <img src="assets/images/pl.png" alt="pl">
                          </div>
                          <div class="ashton-player-number">
                             <h3>25</h3>
                          </div>
                          <div class="ashton-player-overlay">
                             <img src="assets/images/red-shadow-ic.png" alt="red-shadow-ic">
                          </div>
                      </div>
                      <div class="ashton-player-box">
                          <h2>Greg Hartley</h2>
                          <p>Goalkeeper</p>
                          <div class="ashton-player-image">
                            <img src="assets/images/pl.png" alt="pl">
                          </div>
                          <div class="ashton-player-number">
                             <h3>25</h3>
                          </div>
                          <div class="ashton-player-overlay">
                             <img src="assets/images/red-shadow-ic.png" alt="red-shadow-ic">
                          </div>
                      </div>
                  </div>
                  <div class="ashton-hero-center-player-tab-content course-main-content  cf" id="junior-content">
                      <div class="ashton-player-box">
                          <h2>Greg Hartley</h2>
                          <p>Goalkeeper</p>
                          <div class="ashton-player-image">
                            <img src="assets/images/pl.png" alt="pl">
                          </div>
                          <div class="ashton-player-number">
                             <h3>25</h3>
                          </div>
                          <div class="ashton-player-overlay">
                             <img src="assets/images/red-shadow-ic.png" alt="red-shadow-ic">
                          </div>
                      </div>
                      <div class="ashton-player-box">
                          <h2>Greg Hartley</h2>
                          <p>Goalkeeper</p>
                          <div class="ashton-player-image">
                            <img src="assets/images/pl.png" alt="pl">
                          </div>
                          <div class="ashton-player-number">
                             <h3>25</h3>
                          </div>
                          <div class="ashton-player-overlay">
                             <img src="assets/images/red-shadow-ic.png" alt="red-shadow-ic">
                          </div>
                      </div>
                      <div class="ashton-player-box">
                          <h2>Greg Hartley</h2>
                          <p>Goalkeeper</p>
                          <div class="ashton-player-image">
                            <img src="assets/images/pl.png" alt="pl">
                          </div>
                          <div class="ashton-player-number">
                             <h3>25</h3>
                          </div>
                          <div class="ashton-player-overlay">
                             <img src="assets/images/red-shadow-ic.png" alt="red-shadow-ic">
                          </div>
                      </div>
                  </div> -->
               </div>
            </div>
         </div>
      </div>
      <div class="ashton-hero-shop-section cf">
         <div class="container">
           <div class="club-sponsorship-section cf">
             <h2>CLUB SPONSORS</h2>
             <div class="club-sponsorship-detail">
              <ngx-slick-carousel class="carousel " #slickModal="slick-carousel" [config]="slidesponsorConfig">
                <div ngxSlickItem class="club-sponsorship-box slide">
                  <div class="club-sponsorship-box-inner">
                     <img src="assets/images/unnamed-3.jpg" alt="unnamed-3">
                  </div>
                </div>
                <div ngxSlickItem class="club-sponsorship-box slide">
                  <div class="club-sponsorship-box-inner">
                     <img src="assets/images/unnamed-1.jpg" alt="unnamed-1">
                  </div>
                </div>
                <div ngxSlickItem class="club-sponsorship-box slide">
                  <div class="club-sponsorship-box-inner">
                     <img src="assets/images/sponsorship-logo.png" alt="sponsorship-logo">
                  </div>
                </div>
                <div ngxSlickItem class="club-sponsorship-box slide">
                  <div class="club-sponsorship-box-inner">
                     <img src="assets/images/unnamed-9.jpg" alt="unnamed-9">
                  </div>
                </div>
                <div ngxSlickItem class="club-sponsorship-box slide">
                  <div class="club-sponsorship-box-inner">
                     <img src="assets/images/unnamed-2.jpg" alt="unnamed-2">
                  </div>
                </div>
                <div ngxSlickItem class="club-sponsorship-box slide">
                  <div class="club-sponsorship-box-inner">
                     <img src="assets/images/unnamed-3.jpg" alt="unnamed-3">
                  </div>
                </div>
                <div ngxSlickItem class="club-sponsorship-box slide">
                  <div class="club-sponsorship-box-inner">
                     <img src="assets/images/unnamed-1.jpg" alt="unnamed-1">
                  </div>
                </div>
              </ngx-slick-carousel>
             </div>
           </div>
           <div class="club-affiliate-section cf">
             <h2>CLUB AFFILIATES</h2>
             <div class="club-affiliate-detail">
                <ul>
                   <li><a href="#"><img src="assets/images/mcdonnalds.jpg" alt="mcdonnalds"></a></li>
                   <li><a href="#"><img src="assets/images/respect.jpg" alt="respect"></a></li>
                   <li><a href="#"><img src="assets/images/logo-logo.jpg" alt="logo-logo"></a></li>
                   <li><a href="#"><img src="assets/images/respect-logo.jpg" alt="respect-logo"></a></li>
                   <li><a href="#"><img src="assets/images/logo2-logo2.jpg" alt="logo2-logo2"></a></li>
                   <li><a href="#"><img src="assets/images/logo3-logo3.jpg" alt="logo3-logo3"></a></li>
                </ul>
             </div>
           </div>
         </div>
      </div>
    </section><!-- page ends-->
