@import 'var';

.ashton-hero-center-detail.player{
   margin: 106px 0 0 0;
}
.ashton-hero-content-detail-top {
    float: left;
    width: 100%;
}
.ashton-hero-content-slide-box {
    float: left;
    width: 50%;
    background-color: rgba(255,255,255,0.17);
    border-radius: 9px;
    max-width: 405px;
    padding: 23px 26px 21px;
    margin: 0 30px 0 0px;
}
.ashton-hero-content-slide-left{
  float: left;
  width: 35%;
}
.ashton-hero-content-slide-center{
  float: left;
  width: 30%;
  text-align: center;
  padding: 10px 0 0 0;
}
.ashton-hero-content-slide-center h2{
  font-size: 38px;
  line-height: 48px;
  font-weight: 500;
  color: #ffffff;
}
.ashton-hero-content-slide-right {
    float: right;
    width: 20%;
    text-align: right;
}
.ashton-hero-content-detail-bottom-slide-detail h3 {
    font-size: 24px;
    line-height: 32px;
    text-transform: capitalize;
    color: #ffffff;
    margin: 0 0 15px 0;
    font-weight: 500;
}
.ashton-hero-content-slide-box-top {
    float: left;
    width: 100%;
}
.ashton-hero-content-slide-box-bottom {
    float: left;
    width: 100%;
}
.ashton-hero-content-slide-box-bottom p {
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.ashton-hero-content-detail-bottom-slide-box button.slick-next.slick-arrow {
    position: absolute;
    right: -25px;
    bottom: 35%;
    text-indent: -9999;
    border: none;
    font-size: 0;
}
.ashton-hero-content-detail-bottom-slide-box  button.slick-prev.slick-arrow {
    position: absolute;
    left: -60px;
    bottom: 35%;
    border: none;
    font-size: 0;
}
.ashton-hero-content-detail-bottom-slide-box button.slick-next.slick-arrow:after{
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: #BE1E2E;
  background-image: url($imagePath+"right-arrow-angle.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}
.ashton-hero-content-detail-bottom-slide-box  button.slick-prev.slick-arrow:after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: #BE1E2E;
  background-image: url($imagePath+"left-arrow-line-symbol.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}
.red-titel{
   font-size: 45px;
   line-height: 67px;
   color: #BE1E2E;
   font-weight: 500;
   margin: 20px 0;
   text-transform: uppercase;
}

.ashton-hero-center-player-tab{
  float: left;
  width: 100%;
}
.ashton-hero-center-player-tab ul li {
    list-style: none;
    float: left;
    font-size: 22px;
    line-height: 27px;
    margin: 0 55px 0 0;
    padding: 13px 0px;
}
.ashton-hero-center-player-tab ul li.active{
   background: #BE1E2E;
   padding: 13px 44px;
}
.ashton-hero-center-player-tab ul li.active a{
   color: #FFFFFF;
}
.ashton-hero-center-player-tab-content.course-main-content{
  display:none;
}
.ashton-hero-center-player-tab-content.course-main-content.active{
  display: block;
}
.ashton-hero-center-player-tab ul li:nth-last-child(1){
  margin: 0 0px 0 0;
}
.ashton-hero-center-player-tab ul li a{
    color: #CDCDCD;
    display: inline-block;
}
.ashton-hero-center-player-tab-content {
    float: left;
    width: 100%;
    margin: 37px 0 0 0;
}
.ashton-player-box {
    background: #BE1E2E;
    box-shadow: 0 0px 12px 0px rgba(0,0,0,0.10);
    border-radius: 5px;
    float: left;
    width: 32%;
    max-width: 371px;
    height: 423px;
    margin: 0 29px 28px 0;
    position: relative;
    display: none;
}
.ashton-player-box.ashton-active{
  display: block;
}
.ashton-player-box:nth-child(3n){
    margin: 0 0px 28px 0;
}
.ashton-player-box h2 {
    font-size: 45px;
    line-height: 67px;
    color: #ffffff;
    font-weight: 500;
    padding: 30px 0 0 17px;
}
.ashton-player-box p {
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    padding: 0px 0 0 17px;
}
.ashton-player-number h3{
  font-size: 200px;
  line-height: 297px;
  font-weight: 500;
  color: rgba(255,255,255,0.16);
  margin: 15px 0 0 0;
}
.ashton-player-image {
    position: absolute;
    bottom: -5px;
    right: 0;
}
.ashton-player-overlay {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
}
.club-sponsorship-section{
  float: left;
  width: 100%;
  margin: 31px 0 0 0;
}
.club-sponsorship-section h2 {
    font-size: 35px;
    color: #000000;
    line-height: 52px;
    font-weight: 500;
    margin: 0 0 20px 0;
    text-transform: uppercase;
}
.club-sponsorship-box {
    float: left;
    width: 18%;
    margin: 0 29px 0 0;
    height: 165px;
    display: table!important;
    max-width: 220px;
}
.club-sponsorship-box:nth-child(5n){
    margin: 0 0px 0 0;
} 
.club-sponsorship-box-inner{
  display: table-cell;
  vertical-align: middle;
}
.club-sponsorship-box-inner img{
  width: 95%;
  height: auto;
}
.club-affiliate-section{
  float: left;
  width: 100%;
  margin: 20px 0 0 0;
}
.club-affiliate-section h2 {
    font-size: 35px;
    color: #000000;
    line-height: 52px;
    font-weight: 500;
    text-align: center;
}
.club-affiliate-detail{
  float: left;
  width: 100%;
}
.club-affiliate-detail ul {
    list-style: none;
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
}
.club-affiliate-detail ul li {
    list-style: none;
    float: left;
    width: 100px;
    height: 131px;
    display: table;
    overflow: hidden;
    margin: 0 5px 0 0;
}
.club-affiliate-detail ul li a{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.ashton-hero-center-player-readmore{
	float: left;
	width: 100%;
}
.ashton-hero-center-player-readmore a{
  display: inline-block;
  float: right;
  width: 40px;
  height: 40px;
  background: #BE1E2E;
  background-image: url($imagePath+"right-arrow-angle.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}