<!-- page starts-->
    <section class="page-wrapper">
      <div class="ashton-hero-top fixtures-single">
        <div class="fixtures-top-detail-banner cf">
        	<div class="fixtures-top-detail-slider">
        		<div class="fixtures-top-detail-slider-box">
        			<div class="fixtures-top-detail-slider-box-left">
        				<div class="fixtures-top-detail-slider-box-left-text">
        					<p>Ashton United</p>
        				</div>
        				<div class="fixtures-top-detail-slider-box-left-image">
        					<img src="assets/images/Bitmap.png" alt="Bitmap">
        				</div>
        			</div>
        			<div class="fixtures-top-detail-slider-box-center">
        				<div class="fixtures-top-detail-slider-box-center-inner">
	        				<h3>Home 15:00</h3>
	        				<p>Sat 17th of Oct</p>
	        			</div>
        			</div>
        			<div class="fixtures-top-detail-slider-box-right">
        				<div class="fixtures-top-detail-slider-box-left-image">
        					<img src="assets/images/Bitmap-two.png" alt="Bitmap">
        				</div>
        				<div class="fixtures-top-detail-slider-box-left-text">
        					<p>Mickleover Sports</p>
        				</div>
        			</div>
        		</div>
        		<div class="fixtures-top-detail-slider-btn">
        			<a href="#">Watch Highlight</a>
        		</div>
        	</div>
        </div>
        <div class="fixtures-center-detail-section cf">
        	<div class="container">
        		<div class="ashton-hero-top-news-single-about">
         	   <div class="red-titel">Single Goal enough for Colls</div>	
         	   <div class="ashton-hero-top-news-single-about-content">
         	   	  <p>Michael Clegg’s first visit to his former club saw the hosts run our victorious due to a single goal on the half hour. The game started in dramatic fashion as a quick free kick in the first few seconds saw Ben Hardcastle crowded out with Louis Almond hitting the loose ball straight at Taberner. On 4 minutes a mistake by Jake Cottrell playing at left back saw Sam Baird bring down Ben Conway with Greg Hartley rescuing the Robins with a good low save from Peet’s penalty.</p>
				  <p>Still in the first few minutes and debutant Chris Dagnall was shown a straight red card following a melee on the far touchline right in front of the dugouts – the visitors’ 3rd red card in their last 4 matches. Ben Hardcastle then fired a great finish into the far corner of the goal but Louis Almond had been penalised by the linesman in the build up and Lafferty sent a header narrowly wide of Ashton’s goal after Rick Smith had headed a corner back.</p>
				  <p>The opening goal arrived for the Colls as Dylan Glass played a fine 1-2 with Conway and lifted his finish over Hartley and Peet then saw penalty appeals ignored as he went down under Wilson’s challenge. The final action of the half saw Hardcastle hammer his effort wide after Sheridan’s corner had been cleared to him.</p>
                  <p>Harley needed to be alert after the break to effect the block after Cusani had been set free on the left wing and Sheridan then needed to block Smith’s cross from Cusani’s lay off. Sub Wynne’s header needed to be clawed out by Hartley from Cusani’s cross and the winger was again the danger man as his cross was too far ahead of Wynne.</p>
                  <p>John Lufudu needed to use his pace to get back to deny Wynne and as a loose ball broke to him he then cleared the stop netting before dragging his next effort past the near post.</p>
                  <p>Team: Hartley, Lufudu, Cottrell, Sheridan, Wilson (Chadwick 78), Baird (Rowney 45), Hardcastle, Brewster, Dagnell, Almond, Tomsett (Alli 70). SNU: Bembo-Leta, Walters. </p>
                  <p>David Robinson</p>

         	   </div>
         	</div>
        		<div class="fixtures-recentmathces-section cf">
        			<div class="red-titel">Recent Mathces</div>
        			<div class="fixtures-recentmathces-detail">
        				<div class="fixtures-recentmathces-box">
        					<div class="fixtures-recentmathces-box-left">
        						<div class="fixtures-center-detail-right-box-top cf">
		        				<div class="fixtures-center-detail-right-left">
		        				    <div class="fixtures-top-detail-slider-box-left-text">
		        					   <p>Ashton United</p>
		        				    </div>
		        				    <div class="fixtures-top-detail-slider-box-left-image">
		        					  <img src="assets/images/Bitmap.png" alt="Bitmap">
		        				    </div>	
		        				</div>
		        				<div class="fixtures-center-detail-right-center">
		        				    <div class="fixtures-top-detail-slider-box-center-inner">
			        				   <h2>VS</h2>
			        			    </div>	
		        				</div>
		        				<div class="fixtures-center-detail-right-right">
		        					<div class="fixtures-top-detail-slider-box-left-image">
		        					    <img src="assets/images/Bitmap-two.png" alt="Bitmap">
		        				    </div>
		        				    <div class="fixtures-top-detail-slider-box-left-text">
		        					   <p>Mickleover Sports</p>
		        				    </div>
		        				</div>
		        			</div>
	        			    <div class="fixtures-center-detail-right-box-bottom cf">
	        			    	<div class="fixtures-center-detail-right-box-bottom-left">
	        			    		<p>Saturday 17th of October |  Home 15:00 </p>
	        			    	</div>
	        			    </div>
        					</div>
        					<div class="fixtures-recentmathces-box-right">
        						<h3>2-1</h3>
        						<p>90’ +4</p>

        						<div class="fixtures-recentmathces-box-right-next">
        							<a href="#"><img src="assets/images/right-arrow-angle-red.svg"></a>
        						</div>
        					</div>
        				</div>
        				<div class="fixtures-recentmathces-box">
        					<div class="fixtures-recentmathces-box-left">
        						<div class="fixtures-center-detail-right-box-top cf">
		        				<div class="fixtures-center-detail-right-left">
		        				    <div class="fixtures-top-detail-slider-box-left-text">
		        					   <p>Ashton United</p>
		        				    </div>
		        				    <div class="fixtures-top-detail-slider-box-left-image">
		        					  <img src="assets/images/Bitmap.png" alt="Bitmap">
		        				    </div>	
		        				</div>
		        				<div class="fixtures-center-detail-right-center">
		        				    <div class="fixtures-top-detail-slider-box-center-inner">
			        				   <h2>VS</h2>
			        			    </div>	
		        				</div>
		        				<div class="fixtures-center-detail-right-right">
		        					<div class="fixtures-top-detail-slider-box-left-image">
		        					    <img src="assets/images/Bitmap-two.png" alt="Bitmap">
		        				    </div>
		        				    <div class="fixtures-top-detail-slider-box-left-text">
		        					   <p>Mickleover Sports</p>
		        				    </div>
		        				</div>
		        			</div>
	        			    <div class="fixtures-center-detail-right-box-bottom cf">
	        			    	<div class="fixtures-center-detail-right-box-bottom-left">
	        			    		<p>Saturday 17th of October |  Home 15:00 </p>
	        			    	</div>
	        			    </div>
        					</div>
        					<div class="fixtures-recentmathces-box-right">
        						<h3>2-1</h3>
        						<p>90’ +4</p>
        						<div class="fixtures-recentmathces-box-right-next">
        							<a href="#"><img src="assets/images/right-arrow-angle-red.svg"></a>
        						</div>
        					</div>
        				</div>
        				<div class="fixtures-recentmathces-box">
        					<div class="fixtures-recentmathces-box-left">
        						<div class="fixtures-center-detail-right-box-top cf">
		        				<div class="fixtures-center-detail-right-left">
		        				    <div class="fixtures-top-detail-slider-box-left-text">
		        					   <p>Ashton United</p>
		        				    </div>
		        				    <div class="fixtures-top-detail-slider-box-left-image">
		        					  <img src="assets/images/Bitmap.png" alt="Bitmap">
		        				    </div>	
		        				</div>
		        				<div class="fixtures-center-detail-right-center">
		        				    <div class="fixtures-top-detail-slider-box-center-inner">
			        				   <h2>VS</h2>
			        			    </div>	
		        				</div>
		        				<div class="fixtures-center-detail-right-right">
		        					<div class="fixtures-top-detail-slider-box-left-image">
		        					    <img src="assets/images/Bitmap-two.png" alt="Bitmap">
		        				    </div>
		        				    <div class="fixtures-top-detail-slider-box-left-text">
		        					   <p>Mickleover Sports</p>
		        				    </div>
		        				</div>
		        			</div>
	        			    <div class="fixtures-center-detail-right-box-bottom cf">
	        			    	<div class="fixtures-center-detail-right-box-bottom-left">
	        			    		<p>Saturday 17th of October |  Home 15:00 </p>
	        			    	</div>
	        			    </div>
        					</div>
        					<div class="fixtures-recentmathces-box-right">
        						<h3>2-1</h3>
        						<p>90’ +4</p>
        						<div class="fixtures-recentmathces-box-right-next">
        							<a href="#"><img src="assets/images/right-arrow-angle-red.svg"></a>
        						</div>
        					</div>
        				</div>
        				<div class="fixtures-recentmathces-btn">
        					<a href="#">Load More</a>
        				</div>
        			</div>
        		</div>
        	</div>
        </div>
      </div>
    </section><!-- page ends-->