@import 'var';

.ashton-hero-top.fixtures{
   margin: 26px 0 0 0;
}
.ashton-hero-top.fixtures {
    float: left;
    width: 100%;
    margin: 80px 0 0 0;
}
.ashton-hero-center-player-tab ul li {
    list-style: none;
    float: left;
    font-size: 22px;
    line-height: 27px;
    margin: 0 55px 0 0;
    padding: 13px 0px;
}
.ashton-hero-center-player-tab ul li.active{
   background: #BE1E2E;
   padding: 13px 44px;
}
.ashton-hero-center-player-tab ul li.active a{
   color: #FFFFFF;
}
.ashton-hero-center-player-tab ul li:nth-last-child(1){
  margin: 0 0px 0 0;
}
.ashton-hero-center-player-tab ul li a{
    color: #CDCDCD;
    display: inline-block;
}
.fixtures-top-detail-banner{
  background-image: url($imagePath+"ficture bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  width: 100%;
  height: 260px;
  margin: 20px 0 0 0;
}
.fixtures-top-detail-slider-box {
    float: left;
    width: 100%;
}
.fixtures-top-detail-slider {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 83px 0 0 0;
}
.fixtures-top-detail-slider-box-left {
    float: left;
    width: 40%;
}
.fixtures-top-detail-slider-box-center{
	float: left;
	width: 20%;
}
.fixtures-top-detail-slider-box-right{
	float: left;
	width: 40%;
}
.fixtures-top-detail-slider-box-left-text {
    float: left;
    height: 100px;
    display: table;
    padding: 0 0 0 25px;
}
.fixtures-top-detail-slider-box-left-image {
    float: right;
    height: 100px;
    display: table;
}
.fixtures-top-detail-slider-box-right .fixtures-top-detail-slider-box-left-image {
    float:left;
}
.fixtures-top-detail-slider-box-center{
	text-align: center;
	height: 100px;
    display: table;
}
.fixtures-top-detail-slider-box-left-text p {
    font-size: 22px;
    color: #FFFFFF;
    line-height: 32px;
    font-weight: 500;
    display: table-cell;
    vertical-align: middle;
}
.fixtures-top-detail-slider-box-center-inner{
	display: table-cell;
    vertical-align: middle;
}
.fixtures-top-detail-slider-box-left-image img {
    width: 100px;
    height: 100px;
}
.fixtures-center-detail-right-right .fixtures-top-detail-slider-box-left-image img{
    width: 69px;
    height: 69px;
} 
.fixtures-top-detail-slider-box-center h3{
   font-size: 15px;
   color: #FFFFFF;
   line-height: 16px;
   font-weight: 600;
   font-family: 'Montserrat', sans-serif;
}
.fixtures-top-detail-slider-box-center p{
   font-size: 10px;
   color: #FFFFFF;
   line-height: 16px;
   font-weight: 600;
   font-family: 'Montserrat', sans-serif;
}
.fixtures-top-detail-slider-btn{
   float: left;
   width: 100%;
   text-align: center;
   margin: 14px 0 0 0;
}
.fixtures-top-detail-slider-btn a {
    display: inline-block;
    font-size: 18px;
    color: #000000;
    line-height: 26px;
    text-transform: capitalize;
    background-color: #ffffff;
    padding: 9px 40px;
    box-shadow: 0 9px 4px 0 rgba(0,0,0,0.10);
    border-radius: 22.5px;
}
.fixtures-center-detail-section{
	float: left;
	width: 100%;
}
.fixtures-center-detail{
	float: left;
	width: 100%;
	margin: 20px 0 0 0;
}
.fixtures-center-detail-left{
   float: left;
   width: 47%;
   max-width: 552px;
}
.fixtures-center-detail-right{
	float: left;
	width: 53%;
}
.fixtures-center-detail-right-box{
	background-color: #ffffff;
	border-radius: 9px;
	box-shadow: 0 8px 12px 6px rgba(0,0,0,0.10);
	height: 142px;
	float: left;
	width: 100%;
	padding: 0 10px 0 26px;
	margin: 0 0 10px 0;
}
.fixtures-center-detail-right-box-top{
	float: left;
	width: 100%;
	margin: 10px 0 0 0;
}
.fixtures-center-detail-right-left {
    float: left;
    width: 42%;
}
.fixtures-center-detail-right-center{
	float: left;
    width: 15%;
    height: 69px;
    display: table;
    text-align: center;
}
.fixtures-center-detail-right-right {
    float: left;
    width: 42%;
}
.fixtures-center-detail-right-left .fixtures-top-detail-slider-box-left-image{
	height: 69px;
}
.fixtures-center-detail-right-left .fixtures-top-detail-slider-box-left-text {
    float: left;
    height: 69px;
}
.fixtures-center-detail-right-left .fixtures-top-detail-slider-box-left-text p{
	font-size: 16px;
    color: #000000;
    line-height: 24px;
    font-weight: 500;
}
.fixtures-center-detail-right-right .fixtures-top-detail-slider-box-left-text {
    float: left;
    height: 69px;
}
.fixtures-center-detail-right-right .fixtures-top-detail-slider-box-left-text p{
	font-size: 16px;
    color: #000000;
    line-height: 24px;
    font-weight: 500;
}
.fixtures-center-detail-right-right .fixtures-top-detail-slider-box-left-image{
   float: left;
   height: 69px;
}
.fixtures-center-detail-right-left .fixtures-top-detail-slider-box-left-image img{
   width: 69px;
   height: 69px;
}
.fixtures-center-detail-right-box-bottom {
	float: left;
	width: 100%;
	margin: 16px 0 0 0;
}
.fixtures-center-detail-right-box-bottom-left {
    float: left;
    width: 70%;
    margin: 11px 0 0 0;
}
.fixtures-center-detail-right-box-bottom-btn{
	float: right;
	width: 30%;
}
.fixtures-center-detail-right-box-bottom-btn a {
    display: inline-block;
    background: #BE1E2E;
    width: 140px;
    height: 37px;
    float: right;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 26px;
    font-weight: 500;
    padding: 5px 0 5px 10px;
    position: relative;
}
.fixtures-center-detail-right-box-bottom-btn a:after{
  content: "";
  position: absolute;
  bottom: 8px;
  right: 5px;
  width: 20px;
  height: 20px;
  background-image: url($imagePath+"right-arrow-angle.svg");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
}
.fixtures-center-detail-right-box-bottom-left p {
    font-size: 13px;
    color: #000000;
    line-height: 16px;
    font-weight: 500;
}
.fixtures-recentmathces-section{
    float: left;
    width: 100%;
    margin: 20px 0 0 0;
}
.fixtures-recentmathces-detail {
    float: left;
    width: 100%;
    margin: 45px 0 0 0;
}
.fixtures-recentmathces-box {
    float: left;
    width: 100%;
    background: #FFFFFF;
    border-radius: 9px;
    box-shadow: 0 8px 12px 6px rgba(0,0,0,0.10);
    margin: 0 0 32px 0;
}
.fixtures-recentmathces-box-left{
	float: left;
	width: 50%;
}
.fixtures-recentmathces-box-right{
	float: left;
	width: 50%;
	text-align: center;
	margin: 30px 0 0 0;
	position: relative;
}
.fixtures-recentmathces-box-left .fixtures-center-detail-right-box-bottom {
    text-align: center;
    margin: 0 0 0 0;
}
.fixtures-recentmathces-box-left .fixtures-center-detail-right-box-bottom .fixtures-center-detail-right-box-bottom-left{
	float: left;
	width: 100%;
	margin: 11px 0 17px 0;
}
.fixtures-recentmathces-box-right h3 {
    font-size: 30px;
    color: #BE1E2E;
    letter-spacing: 0;
    line-height: 45px;
    font-weight: 500;
}
.fixtures-recentmathces-box-right p{
	font-size: 16px;
    color: #000000;
    line-height: 19px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.fixtures-recentmathces-btn{
	float: left;
	width: 100%;
	margin: 18px 0 6px 0;
}
.fixtures-recentmathces-btn a{
	display: inline-block;
	font-size: 18px;
    color: #FFFFFF;
    line-height: 26px;
    background: #BE1E2E;
    padding: 6px 46px;
    float: right;
}
.fixtures-recentmathces-box-right-next{
	position: absolute;
	top: 25px;
    right: 29px;
    width: 20px;
    height: 20px;
}
