@import 'var';
*{padding:0;margin:0;-webkit-font-smoothing:antialiased;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,select,input,option{margin:0;padding:0;border:0;outline:0;font-size:100%}article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}nav ul,nav ol{list-style:none;list-style-image:none}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;font-family: 'Open Sans', sans-serif;}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:none;cursor:pointer}:focus{outline:0}ul{list-style:none}ul li{list-style:none}table{border-collapse:separate;border-spacing:0}caption,th,td{text-align:left;font-weight:normal}a{text-decoration:none}blockquote:before,blockquote:after,q:before,q:after{content:""}blockquote,q{quotes:"" ""}table{border:0 none;border-collapse:collapse;border-spacing:0}td{vertical-align:top}img{border:0 none;max-width:100%}a{outline:none;cursor:pointer}.none{display:none}article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}.clear{clear:both}img{max-width:100%}.cf:before,.cf:after{content:"";display:table}.cf:after{clear:both}button::-moz-focus-inner,input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="file"] > input[type="button"]::-moz-focus-inner{border:1px dotted transparent}header,section,footer{margin:0}.preloader{display:none}.ellipsis { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; } a{ transition: .5s; -webkit-transition: .5s; -moz-transition: .5s; }
/* body style */
html, body{ height: 100%; }
body{ margin: 0;padding: 0; font-family: 'Oswald', sans-serif;  background-color : #ffffff; color: #424242; font-size: 16px; line-height: 20px;}
/* container style */
.body-wrapper{ width: 100%;}
.container{ width: 100%; max-width: 1172px; margin: 0 auto; position: relative;}
.container:before, .container:after{ display: table;content: " ";}
.container:after{ clear: both;}
/* header style */
.homepage .header-wrapper{ width: 100%; background: #ffffff; color:#000000; padding:0px 0;position: absolute;
    top: 0;z-index: 9;}
.header-wrapper {
    width: 100%;
    background: #BE1E2E;
}
.logobox{ float: left;}
.menubox{ float: right;}
/* page style */
.page-wrapper{ float: left;width: 100%; background: #ffffff;}
.seemore-white{
  display: inline-block;
  background-color: #ffffff;
  width: 127px;
  height: 37px;
  font-size: 18px;
  line-height: 26px;
  color: #BE1E2E;
  text-transform: capitalize;
  font-weight: 500;
  padding: 5px 0 0 16px;
  text-align: left;
  position: relative;
}
.red-titel{
   font-size: 45px;
   line-height: 67px;
   color: #BE1E2E;
   font-weight: 500;
   margin: 20px 0;
   text-transform: uppercase;
}
.ashton-hero-content-detail-bottom-slide-box button.slick-next.slick-arrow {
    position: absolute;
    right: -25px;
    bottom: 35%;
    text-indent: -9999;
    border: none;
    font-size: 0;
}
.ashton-hero-content-detail-bottom-slide-box  button.slick-prev.slick-arrow {
    position: absolute;
    left: -60px;
    bottom: 35%;
    border: none;
    font-size: 0;
}
.ashton-hero-content-detail-bottom-slide-box button.slick-next.slick-arrow:after{
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: #BE1E2E;
  background-image: url($imagePath+"right-arrow-angle.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}
.ashton-hero-content-detail-bottom-slide-box  button.slick-prev.slick-arrow:after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: #BE1E2E;
  background-image: url($imagePath+"left-arrow-line-symbol.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}
.ashton-hero-center-player-tab-content button.slick-next.slick-arrow {
    position: absolute;
    right: -30px;
    bottom:0px;
    text-indent: -9999;
    border: none;
    font-size: 0;
}
.ashton-hero-center-player-tab-content button.slick-prev.slick-arrow {
    position: absolute;
    left: -50px;
    bottom: 0px;
    border: none;
    font-size: 0;
}
.ashton-hero-center-player-tab-content button.slick-next.slick-arrow:after{
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: #BE1E2E;
  background-image: url($imagePath+"right-arrow-angle.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}
.ashton-hero-center-player-tab-content button.slick-prev.slick-arrow:after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: #BE1E2E;
  background-image: url($imagePath+"left-arrow-line-symbol.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}
.body-wrapper.intropage .header-wrapper{
  display: none;
}
.body-wrapper.intropage .footer-wrapper{
  display: none;
}
.red-titel{
   font-size: 45px;
   line-height: 67px;
   color: #BE1E2E;
   font-weight: 500;
   margin: 20px 0;
   text-transform: uppercase;
}
.ashton-hero-top-payment-image-slide .slick-dots {
    display: -webkit-box;
    display: flex;
    margin: 0px 0 0 0;
    padding: 0 0;
    z-index: 10;
    position: absolute;
    left: calc(50% - 30px);
    bottom: 0px;
}
.ashton-hero-top-payment-image-slide li {
    margin: 0 7px 0 0;
}
.ashton-hero-top-payment-image-slide li.slick-active button {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    width: 10px;
    height: 10px;
}
.ashton-hero-top-payment-image-slide li button {
    display: block;
    width: 10px;
    height: 10px;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: transparent;
    text-indent: -9999px;
    border: 1px solid #FFFFFF;
}
.mfp-close-btn-in .login-section  .mfp-close {
    color: #ffffff!important;
    top: -44px!important;
    right: 28%!important;
}
.video-popup-detail video#video {
    width: 100%;
}
.mfp-close-btn-in .video-popup-section  .mfp-close {
    color: #ffffff!important;
    top: -44px!important;
    right: 18%!important;
}
.ashton-hero-top-news-single-about-content p {
    margin: 5px 0 15px 0;
}
.signup .header-wrapper{
     background:rgba(0,0,0,0.21);
}
.fixtures-single .header-wrapper{
     background:rgba(0,0,0,0.21);
}
.news-single .header-wrapper{
     background:rgba(0,0,0,0.21);
}
.player-single .header-wrapper{
     background:rgba(0,0,0,0.21);
}
.mfp-close-btn-in .login-section.forlogin-section.assign .mfp-close {
    color: #ffffff !important;
    top: -44px !important;
    right: 35% !important;
}