@import 'var';
.ashton-hero-center-detail.news{
   margin: 106px 0 0 0;
}
.ashton-hero-content-detail-top {
    float: left;
    width: 100%;
}
.ashton-hero-center-new-box{
  float: left;
  width: 48%;
  margin: 0 44px 30px 0;
  position: relative;
  height: 400px;
}
.ashton-hero-center-new-box:nth-child(2n){
   margin: 0 0px 30px 0;
}
.ashton-hero-center-new-image{
  width: 446px;
  height: 313px;
  float: left;
}
.ashton-hero-center-new-content-box {
    background: #FFFFFF;
    box-shadow: 0 8px 12px 6px rgba(0,0,0,0.10);
    border-radius: 5px;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 286px;
    height: 189px;
    padding: 20px 13px 0 34px;
}
.ashton-hero-center-new-content-box h3{
  font-size: 22px;
  line-height: 32px;
  color: #000000;
  font-weight: 500;
}
.ashton-hero-center-new-content-box p{
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  bottom: 15px;
  right: 13px;
}
.ashton-hero-center-new-btn {
    float: left;
    width: 100%;
    text-align: right;
    margin: 35px 0 0 0;
}
.ashton-hero-center-new-btn a {
    display: inline-block;
    background: #BE1E2E;
    padding: 5px 53px;
    color: #ffffff;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    position: relative;
}