 <!-- page starts-->
    <section class="page-wrapper">
      <div class="ashton-hero-top-detail cf">
         <div class="container">
            <div class="ashton-hero-center-detail news cf">
               <div class="red-titel">News</div>
               <div class="ashton-hero-center-new-detail cf">
                  <div class="ashton-hero-center-new-detail-inner cf">
                    <div class="ashton-hero-center-new-box" *ngFor="let news of newsList?.data">
                      <a [routerLink]="['/news-single', news?.slug]">
                        <div class="ashton-hero-center-new-image">
                           <img [src]="news?.thumbnail_image" alt="new-img">
                        </div>
                        <div class="ashton-hero-center-new-content-box">
                          <h3>{{news?.title}}</h3>
                          <p>{{news?.created_at}}</p>
                        </div>
                      </a>
                    </div>
                    <!-- <div class="ashton-hero-center-new-box">
                      <div class="ashton-hero-center-new-image">
                         <img src="assets/images/new-img.png" alt="new-img">
                      </div>
                      <div class="ashton-hero-center-new-content-box">
                        <h3>Ashton United Vs Matlock Town Preview </h3>
                        <p>Aug 12, 2020</p>
                      </div>
                    </div>
                    <div class="ashton-hero-center-new-box">
                      <div class="ashton-hero-center-new-image">
                         <img src="assets/images/new-img.png" alt="new-img">
                      </div>
                      <div class="ashton-hero-center-new-content-box">
                        <h3>Wheels come off at the Proctor Cars Stadium</h3>
                        <p>Aug 12, 2020</p>
                      </div>
                    </div>
                    <div class="ashton-hero-center-new-box">
                      <div class="ashton-hero-center-new-image">
                         <img src="assets/images/new-img.png" alt="new-img">
                      </div>
                      <div class="ashton-hero-center-new-content-box">
                        <h3>Ashton United Vs Matlock Town Preview </h3>
                        <p>Aug 12, 2020</p>
                      </div>
                    </div> -->
                  </div>
                  <div class="ashton-hero-center-new-btn">
                     <a href="#">LOAD MORE</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
    </section><!-- page ends -->