<!-- page starts-->
    <section class="page-wrapper">
      <div class="checkout-top-section">
      	<div class="container">
      		<div class="checkout-top-detail cf">
      			<div class="checkout-top-detail-inner">
      				<div class="checkout-top-detail-content">
      					<p>A Northern Premier League match at Hurst Cross Stadium</p>
      				</div>
      				<div class="checkout-top-detail-team cf">
      					<div class="checkout-top-detail-team-left">
      						<div class="checkout-top-detail-team-left-content">
      							<div class="checkout-top-detail-team-left-content-inner">
	      							<h3>Ashton United</h3>
	      						</div>
      						</div>
      						<div class="checkout-top-detail-team-left-image">
      							<img src="assets/images/Bitmap-icon.png">
      						</div>
      					</div>
      					<div class="checkout-top-detail-team-center">
      						<div class="checkout-top-detail-team-center-inner">
	      						<h3>Home 15:00</h3>
	      						<p>Sat 17th of Oct</p>
	      					</div>
      					</div>
      					<div class="checkout-top-detail-team-right">
      						<div class="checkout-top-detail-team-left-image">
      							<img src="assets/images/avoid-image.png">
      						</div>
      						<div class="checkout-top-detail-team-left-content">
      							<div class="checkout-top-detail-team-left-content-inner">
	      							<h3>Radcliffe Borough</h3>
	      						</div>
      						</div>
      					</div>
      				</div>
      			</div>
      		</div>
      	</div>
      </div>
      <div class="checkout-center-section cf">
      	 <div class="container">
      	 	<div class="checkout-center-detail cf">
      	 		<div class="checkout-center-detail-left">
      	 			<div class="general-admission-box">
      	 				<table border="0" cellspacing="0" cellpadding="0">
      	 					<tr class="red-bg">
      	 						<th>General Admission</th>
      	 						<th>Price</th>
      	 						<th>Amount</th>
      	 					</tr>
      	 					<tr>
      	 						<td><p><span class="images"><img src="assets/images/adult-ic.svg"></span><span class="name">Adult</span></p></td>
      	 						<td>£10.00</td>
      	 						<td>
      	 							<div class="select-box">
									   <div class="product-quantity">
									      <div class="product-quantity-box">
									         <input data-min="1" id="quantity" name="quantity" readonly="true" type="text" value="1">
									         <div class="quantity-selectors-container">
									            <div class="quantity-selectors"><button class="increment-quantity" type="button"><span >+</span></button><button class="decrement-quantity" type="button"><span>−</span></button></div>
									         </div>
									      </div>
									   </div>
									</div>
      	 						</td>
      	 					</tr>
      	 					<tr>
      	 						<td><p><span class="images"><img src="assets/images/child-ic.svg"></span><span class="name">Adult</span></p></td>
      	 						<td>£6.00</td>
      	 						<td>
      	 							<div class="select-box">
									   <div class="product-quantity">
									      <div class="product-quantity-box">
									         <input data-min="1" id="quantity" name="quantity" readonly="true" type="text" value="1">
									         <div class="quantity-selectors-container">
									            <div class="quantity-selectors"><button class="increment-quantity" type="button"><span >+</span></button><button class="decrement-quantity" type="button"><span>−</span></button></div>
									         </div>
									      </div>
									   </div>
									</div>
      	 						</td>
      	 					</tr>
      	 					<tr>
      	 						<td><p><span class="images"><img src="assets/images/senour-ic.svg"></span><span class="name">Adult</span></p></td>
      	 						<td>£6.00</td>
      	 						<td>
      	 							<div class="select-box">
									   <div class="product-quantity">
									      <div class="product-quantity-box">
									         <input data-min="1" id="quantity" name="quantity" readonly="true" type="text" value="1">
									         <div class="quantity-selectors-container">
									            <div class="quantity-selectors"><button class="increment-quantity" type="button"><span >+</span></button><button class="decrement-quantity" type="button"><span>−</span></button></div>
									         </div>
									      </div>
									   </div>
									</div>
      	 						</td>
      	 					</tr>
      	 					<tr>
      	 						<td><p><span class="images"><img src="assets/images/student-ic.svg"></span><span class="name">Adult</span></p></td>
      	 						<td>£1.00</td>
      	 						<td>
      	 							<div class="select-box">
									   <div class="product-quantity">
									      <div class="product-quantity-box">
									         <input data-min="1" id="quantity" name="quantity" readonly="true" type="text" value="1">
									         <div class="quantity-selectors-container">
									            <div class="quantity-selectors"><button class="increment-quantity" type="button"><span >+</span></button><button class="decrement-quantity" type="button"><span>−</span></button></div>
									         </div>
									      </div>
									   </div>
									</div>
      	 						</td>
      	 					</tr>
      	 				</table>
      	 			</div>
      	 			<div class="away-fans">
      	 				<table border="0" cellspacing="0" cellpadding="0">
      	 					<tr class="red-bg">
      	 						<th>General Admission</th>
      	 						<th>Price</th>
      	 						<th>Amount</th>
      	 					</tr>
      	 					<tr>
      	 						<td><p><span class="images"><img src="assets/images/adult-ic.svg"></span><span class="name">Adult</span></p></td>
      	 						<td>£10.00</td>
      	 						<td>
      	 							<div class="select-box">
									   <div class="product-quantity">
									      <div class="product-quantity-box">
									         <input data-min="1" id="quantity" name="quantity" readonly="true" type="text" value="1">
									         <div class="quantity-selectors-container">
									            <div class="quantity-selectors"><button class="increment-quantity" type="button"><span >+</span></button><button class="decrement-quantity" type="button"><span>−</span></button></div>
									         </div>
									      </div>
									   </div>
									</div>
      	 						</td>
      	 					</tr>
      	 					<tr>
      	 						<td><p><span class="images"><img src="assets/images/child-ic.svg"></span><span class="name">Adult</span></p></td>
      	 						<td>£6.00</td>
      	 						<td>
      	 							<div class="select-box">
									   <div class="product-quantity">
									      <div class="product-quantity-box">
									         <input data-min="1" id="quantity" name="quantity" readonly="true" type="text" value="1">
									         <div class="quantity-selectors-container">
									            <div class="quantity-selectors"><button class="increment-quantity" type="button"><span >+</span></button><button class="decrement-quantity" type="button"><span>−</span></button></div>
									         </div>
									      </div>
									   </div>
									</div>
      	 						</td>
      	 					</tr>
      	 					<tr>
      	 						<td><p><span class="images"><img src="assets/images/senour-ic.svg"></span><span class="name">Adult</span></p></td>
      	 						<td>£6.00</td>
      	 						<td>
      	 							<div class="select-box">
									   <div class="product-quantity">
									      <div class="product-quantity-box">
									         <input data-min="1" id="quantity" name="quantity" readonly="true" type="text" value="1">
									         <div class="quantity-selectors-container">
									            <div class="quantity-selectors"><button class="increment-quantity" type="button"><span >+</span></button><button class="decrement-quantity" type="button"><span>−</span></button></div>
									         </div>
									      </div>
									   </div>
									</div>
      	 						</td>
      	 					</tr>
      	 					<tr>
      	 						<td><p><span class="images"><img src="assets/images/student-ic.svg"></span><span class="name">Adult</span></p></td>
      	 						<td>£1.00</td>
      	 						<td>
      	 							<div class="select-box">
									   <div class="product-quantity">
									      <div class="product-quantity-box">
									         <input data-min="1" id="quantity" name="quantity" readonly="true" type="text" value="1">
									         <div class="quantity-selectors-container">
									            <div class="quantity-selectors"><button class="increment-quantity" type="button"><span >+</span></button><button class="decrement-quantity" type="button"><span>−</span></button></div>
									         </div>
									      </div>
									   </div>
									</div>
      	 						</td>
      	 					</tr>
      	 				</table>
      	 			</div>
      	 		</div>
      	 		<div class="checkout-center-detail-right">
      	 			<h2>Bookings Summary</h2>
      	 			<div class="checkout-center-detail-right-general-admission">
      	 				<h3>General Admission </h3>
      	 				<div class="checkout-center-detail-right-general-admission-detail cf">
      	 					<div class="checkout-center-detail-right-general-admission-name">
      	 						<p>Senior (Over 65) #112</p>
      	 						<p>Student</p>
      	 					</div>
      	 					<div class="checkout-center-detail-right-general-admission-number">
      	 						<p>2 Nos.</p>
      	 						<p>2 Nos.</p>
      	 					</div>
      	 					<div class="checkout-center-detail-right-general-admission-price">
      	 						<p>£20.00</p>
      	 						<p>£20.00</p>
      	 					</div>
      	 				</div>
      	 				<h3>Away</h3>
      	 				<div class="checkout-center-detail-right-general-admission-detail cf">
      	 					<div class="checkout-center-detail-right-general-admission-name">
      	 						<p>Senior (Over 65) #112</p>
      	 						<p>Student</p>
      	 					</div>
      	 					<div class="checkout-center-detail-right-general-admission-number">
      	 						<p>2 Nos.</p>
      	 						<p>2 Nos.</p>
      	 					</div>
      	 					<div class="checkout-center-detail-right-general-admission-price">
      	 						<p>£20.00</p>
      	 						<p>£20.00</p>
      	 					</div>
      	 				</div>
      	 				<div class="checkout-center-detail-payment">
      	 					<div class="checkout-payment-payable-btn">
      	 						<a href="#">Add To Cart</a>
      	 					</div>
      	 				</div>
      	 			</div>
      	 		</div>
      	 	</div>
      	 	<div class="want-to-buy-season-tickets-section cf">
      	 		<div class="want-to-buy-season-tickets-left">
      	 			<h3>Want to buy Season Tickets?</h3>
      	 		</div>
      	 		<div class="want-to-buy-season-tickets-right">
      	 			<div class="want-to-buy-season-tickets-right-image">
      	 				<img src="assets/images/season-ic.png">
      	 			</div>
      	 		</div>
      	 	</div>
      	 </div>
      </div>
    </section><!-- page ends-->