@import 'var';
.ashton-hero-center-detail.videos{
   margin: 106px 0 0 0;
}
.ashton-hero-center-video-box{
  float: left;
  width: 48%;
  margin: 0 44px 46px 0;
  position: relative;
  height: 400px;
}
.ashton-hero-center-video-box:nth-child(2n){
   margin: 0 0px 46px 0;
}
.ashton-hero-center-video-image{
  width: 446px;
  height: 313px;
  float: left;
}
.ashton-hero-center-video-content-box {
    background: #FFFFFF;
    box-shadow: 0 8px 12px 6px rgba(0,0,0,0.10);
    border-radius: 5px;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 286px;
    height: 189px;
    padding: 20px 13px 0 10px;
}
.ashton-hero-center-video-content-box h3{
  font-size: 22px;
  line-height: 32px;
  color: #000000;
  font-weight: 500;
}
.ashton-hero-center-video-content-box p{
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  bottom: 15px;
  right: 13px;
}
.ashton-hero-center-video-btn {
    float: left;
    width: 100%;
    text-align: right;
    margin: 35px 0 0 0;
}
.ashton-hero-center-video-btn a {
    display: inline-block;
    background: #BE1E2E;
    padding: 5px 53px;
    color: #ffffff;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    position: relative;
}
.ashton-hero-center-new-btn a:after{
  content: "";
  position: absolute;
  bottom: -2px;
  right:0;
  width: 35px;
  height: 40px;
  background-image: url($imagePath+"right-arrow-angle.svg");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
} 
.ashton-hero-center-video-btn a:after{
  content: "";
  position: absolute;
  bottom: -2px;
  right:0;
  width: 35px;
  height: 40px;
  background-image: url($imagePath+"right-arrow-angle.svg");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
} 
.ashton-hero-center-video.icon a {
    display: inline-block;
    float: left;
    margin: 4px 11px 0 0;
}

.sound-btn {
    position: absolute;
    right: 26px;
    top: 26px;
    z-index: 10;
    /*display: none;*/
}
.sound-btn.active{
    display: block;
}
.sound-btn a{
  display: inline-block;
}
.sound-btn a.active span.audio-play{
    display: block;
}
.sound-btn a.active span.mute{
    display: none;
}
.sound-btn a span{
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.sound-btn a span.audio-play{
  display: none;
}
.sound-btn a span img{
  width: 40px;
  height: 40px;
  overflow: hidden;
}