<!-- page starts-->
    <section class="page-wrapper">
      <div class="ashton-hero-top-detail cf">
         <div class="container">
            <div class="ashton-hero-center-detail videos cf">
               <div class="red-titel">VIDEOS</div>
               <div class="ashton-hero-center-video-detail cf">
                  <div class="ashton-hero-center-video-detail-inner cf" >
                    <div class="ashton-hero-center-video-box" *ngFor="let video of videoList?.data">
                      <div class="ashton-hero-center-video-image">
                         <img [src]="video?.image" alt="new-img">
                      </div>
                      <div class="ashton-hero-center-video-content-box">
                        <div class="ashton-hero-center-video icon">
                          <a  class="popup-youtube" href="{{video?.video}}"><img src="assets/images/play-button.png" alt="play-button"></a>
                          <h3>{{video?.title}}</h3>
                        </div>
                        <p>{{video?.created_at}}</p>
                      </div>
                    </div>
                    <!-- <div class="ashton-hero-center-video-box">
                      <div class="ashton-hero-center-video-image">
                         <img src="assets/images/new-img.png" alt="new-img">
                      </div>
                      <div class="ashton-hero-center-video-content-box">
                        <div class="ashton-hero-center-video icon">
                          <a href="#video-popup"  class="popup-login"><img src="assets/images/play-button.png" alt="play-button"></a>
                          <h3>Ashton United Vs Matlock Town Preview</h3>
                        </div>
                        <p>Aug 12, 2020</p>
                      </div>
                    </div> -->
                  
                    <!-- <div class="ashton-hero-center-video-box">
                      <div class="ashton-hero-center-video-image">
                         <img src="assets/images/new-img.png" alt="new-img">
                      </div>
                      <div class="ashton-hero-center-video-content-box">
                        <div class="ashton-hero-center-video icon">
                          <a href="#"><img src="assets/images/play-button.png" alt="play-button"></a>
                          <h3>Wheels come off at the Proctor Cars Stadium</h3>
                        </div>
                        <p>Aug 12, 2020</p>
                      </div>
                    </div>
                    <div class="ashton-hero-center-video-box">
                      <div class="ashton-hero-center-video-image">
                         <img src="assets/images/new-img.png" alt="new-img">
                      </div>
                      <div class="ashton-hero-center-video-content-box">
                        <div class="ashton-hero-center-video icon">
                          <a href="#"><img src="assets/images/play-button.png" alt="play-button"></a>
                          <h3>Ashton United Vs Matlock Town Preview</h3>
                        </div>
                        <p>Aug 12, 2020</p>
                      </div>
                    </div>  -->
                  </div>
                  <div class="ashton-hero-center-video-btn">
                     <a href="#">SEE MORE</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
    </section><!-- page ends-->
<!-- <div class="video-popup-section forlogin-section  mfp-hide" id="video-popup">
  <div class="add-popup cf">
      <div class="container">
         <div class="video-popup-detail">
            <div class="sound-btn">
                    <a href="javascript:void(0)" id="videos">
                        <span class="mute"><img src="assets/images/mute.svg"></span>
                        <span class="audio-play"><img src="assets/images/audio-speaker-on.svg"></span>
                    </a>
            </div>
            <div class="video">
              <video loop muted autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true" id="video">
                <source src="assets/images/Ashton United Vs Mickleover Sports FC  Match Highlights.mp4" type="video/mp4">
              </video>
            </div>
         </div>
      </div>
  </div>
</div> -->