/* css Reset */
*{padding:0;margin:0;-webkit-font-smoothing:antialiased;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,select,input,option{margin:0;padding:0;border:0;outline:0;font-size:100%}article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}nav ul,nav ol{list-style:none;list-style-image:none}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;font-family: 'Open Sans', sans-serif;}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:none;cursor:pointer}:focus{outline:0}ul{list-style:none}ul li{list-style:none}table{border-collapse:separate;border-spacing:0}caption,th,td{text-align:left;font-weight:normal}a{text-decoration:none}blockquote:before,blockquote:after,q:before,q:after{content:""}blockquote,q{quotes:"" ""}table{border:0 none;border-collapse:collapse;border-spacing:0}td{vertical-align:top}img{border:0 none;max-width:100%}a{outline:none;cursor:pointer}.none{display:none}article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}.clear{clear:both}img{max-width:100%}.cf:before,.cf:after{content:"";display:table}.cf:after{clear:both}button::-moz-focus-inner,input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="file"] > input[type="button"]::-moz-focus-inner{border:1px dotted transparent}header,section,footer{margin:0}.preloader{display:none}.ellipsis { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; } a{ transition: .5s; -webkit-transition: .5s; -moz-transition: .5s; }
/* body style */
html, body{ height: 100%; }
body{ margin: 0;padding: 0; font-family: 'Oswald', sans-serif;  background-color : #ffffff; color: #424242; font-size: 16px; line-height: 20px;}
/* container style */
.body-wrapper{ width: 100%;}
.container{ width: 100%; max-width: 1172px; margin: 0 auto; position: relative;}
.container:before, .container:after{ display: table;content: " ";}
.container:after{ clear: both;}
/* header style */
.header-wrapper{ width: 100%; background: #ffffff; color:#000000; padding:0px 0;position: absolute;
    top: 0;z-index: 9;}
.logobox{ float: left;}
.menubox{ float: right;}
/* page style */
.page-wrapper{ float: left;width: 100%; background: #ffffff;}
.box-left{ float: left; width: 50%;}
.box-right{ float: right;width: 50%;}
/* footer style */
.footer-wrapper{float: left; width: 100%; padding: 100px 0;}

/*********************ashton-fullpage-css**********************/
.ashton-section{
   background-image: url(../images/bg-ground.png);
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
}
.ashton-detail {
   width: 100%;
   max-width:100%;
   margin: 0 auto;
   text-align: center;
}
.ashton-inner{
   float: left;
   width: 100%;
   display: table;
   height: 100vh;
   background-image: url(../images/IMG-BG.png);
   background-repeat: no-repeat;
   background-size:contain;
   background-position: center;
   position: relative;
}
.ashton-inner-image{
	display: table-cell;
	vertical-align: middle;
  width: 100%;
}
.ashton-inner-image img{
	width: 238px;
	height: 238px;
}
.ashton-inner-btn{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.ashton-inner-btn a{
	display: inline-block;
	background: #BE1E2E;
  border-radius: 16px 16px 0 0;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 35px;
  line-height: 52px;
  padding: 2px 41px 3px;
}

/*********************ashton-menu-css*************************/
.header-top-menu {
    float: left;
    width: 100%;
    height: 80px;
    background-color: transparent;
    position: absolute;
}
.header-top-menu-left{
  float: left;
  width: 60%;
}
.header-top-menu-right {
  float:right;
  width: 40%;
  text-align: right;
}
.header-top-menu-left-humburger{
  float: left;
  width: 10%;
}
.header-top-menu-left-menu-list{
  float: left;
  width: 70%;
  padding: 27px 0 0 0;
}
.header-top-menu-left-logo{
  float: left;
  width: 20%;
}
.header-top-menu-left-logo img {
    width: 85px;
}
.menu-icon {height: 80px; display:block; cursor: pointer; color: #000000; text-transform: uppercase; text-align: center; font-weight: bold; line-height: 20px; font-size: 15px; padding: 24px; text-indent: -9999px; position:relative; left: 0px; top: 0px;}
.menu-icon .menu-box { width: 40px; height: 10px; margin-left: 20px; padding: 4px 4px; position: relative; }
.menu-icon .menu-box span { width: 100%; height: 3px; margin-bottom: 6px; background:#ffffff; display: block; border-radius: 2px; transition: all 0.5s; -webkit-transition: all 0.5s; }
.menu-icon.active span:nth-child(1) { transform: rotate(50deg) translateY(5px) translateX(3px); -webkit-transform: rotate(50deg) translateY(5px) translateX(3px); }
.menu-icon.active span:nth-child(2) { opacity: 0; }
.menu-icon.active span:nth-child(3) { transform: rotate(-50deg) translateY(-10px) translateX(8px); -webkit-transform: rotate(-50deg) translateY(-10px) translateX(8px); }
.menu-icon.active{
  z-index: 1;
}
.header-top-menu-left-menu-list ul li {
  list-style: none;
  float: left;
}
.header-top-menu-left-menu-list ul li a {
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    text-transform:capitalize;
    font-weight: 500;
    color: #ffffff;
    margin: 0 20px 0 0;
}
.header-top-menu-right-login {
    float: right;
    width: 205px;
    height: 80px;
    background: #FFFFFF;
    text-transform: uppercase;
}
.header-top-menu-right-login a{
  color: #000000;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  padding: 27px 64px 0 0;
  display: inline-block;
  position: relative;
}
.header-top-menu-right-login a:after{
  content: "";
  background-image: url(../images/user-profile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  height: 20px;
  position: absolute;
  top:27px;
  right:25px;
}
.header-left-menu {
    background: #BE1E2E;
    width: 100%;
    height: 100vh;
    max-width: 100px;
    position: absolute;
    top: 0;
    left: 0;
}
.header-left-logo {
    width: 100%;
    max-width: 85px;
    height: 85px;
    overflow: hidden;
    margin: 21px auto 30px; 
}
.header-left-menu-list ul li a span.header-left-icon {
    float: left;
    width: 22px;
    height: 24px;
    margin: 0 39px 0px 39px;
}
.header-left-menu-list ul li:hover{
  background-color: rgba(64,2,9,0.42);
}
.header-left-menu-list ul li{
  height: 82px;
  display: table;
  position: relative;
}
.header-left-menu-list ul li a {
  display: table-cell;
  vertical-align: middle;
}
span.header-left-icon-titel {
    position: absolute;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 30px;
    background-color: rgba(64,2,9,0.42);
    padding: 12px 54px 0 25px;
    top: 0;
    height: 82px;
    opacity: 0;
    font-weight: 500;
}
.header-left-menu-list ul li:hover span.header-left-icon-titel {
    opacity: 1;
}
.header-left-social-icon ul li {
    list-style: none;
    padding: 0 36px 0 34px;
    margin: 0 0 7px 0;
}
.header-left-social-icon {
    position: absolute;
    bottom: 40px;
    z-index: 1;
}
.header-wrapper.sticky-header.fixed .header-left-social-icon.dsk{
    display: block;
}
.header-top-menu-left{
  display: none;
}
.header-wrapper.sticky-header.fixed .header-top-menu-left{
  display: block;
}
.header-wrapper.sticky-header.fixed .header-top-menu{
  position: fixed;
  top: 0;
  background-color: rgba(0,0,0,0.21);
  z-index: 1;
}
.header-mobile-menu {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #151515b5;
    display: none;
}
.header-mobile-menu-inner{
    width: 26%;
    background: #000000;
    float: left;
    padding: 122px 0 0 48px;
    height: 100%;
}

.header-mobile-menu.active{
  display: block;
  
}
.header-wrapper.sticky-header.fixed .header-left-menu{
  opacity: 0;
}
.header-mobile-menu ul.enumenu_ul li{
  float: left;
  width: 100%;
}
.header-mobile-menu ul li a {
    display: inline-block;
    font-size: 22px;
    color: #FFFFFF;
    line-height: 32px;
    margin: 0 0 46px 0;
    font-weight: 500;
}
.header-mobile-menu .header-left-social-icon-menu ul li {
    list-style: none;
    float: left;
    margin: 0 19px 0 0;
}
.header-left-social-icon-menu {
    position: absolute;
    bottom: 0;
}
/*************************home page css***********************/
.ashton-hero-mouse{
  float: left;
  width: 100%;
  text-align: center;
  z-index: 1;
  position: relative;
  margin: 56px 0 0 0;
}
.ashton-hero-mouse a{
  display: inline-block;
}
.ashton-hero-mouse a img{
  width: 45px;
  height: 45px;
}
.ashton-hero-top{
  float: left;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/header3.jpg);
  height: 100vh;
  z-index: 999;
}
.ashton-hero-top-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000082;
    top: 0;
    left: 0;
}
.ashton-hero-top-detail {
    float: left;
    width: 100%;
    margin: 0 0 44px 0;
}
.ashton-hero-top-section{
    padding: 130px 0 0 0;
    float: left;
    width: 100%;
    z-index:1;
    position: relative;
}
.ashton-hero-content-detail-top-left {
    float: left;
    width: 50%;
    max-width: 350px;
    margin: 0 15% 0 5%;

}
.ashton-hero-content-detail-top-right{
  float: left;
  width: 50%;
  padding: 0 0 0 15%;
}
.ashton-hero-content-detail-top-left h2 {
    font-size: 44px;
    line-height: 65px;
    color: #ffffff;
    font-weight: 500;
}
.ashton-hero-content-detail-top-left p {
    font-size: 12px;
    color: #FFFFFF;
    line-height: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
.ashton-hero-content-detail-top-right h3 {
    font-size: 22px;
    line-height: 32px;
    color: #ffffff;
    font-weight: 500;
}
.ashton-hero-content-detail-top-right p {
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin: 6px 0 11px 0;
}
.ashton-hero-live-match-box {
    float: left;
    width: 100%;
    background-color: rgba(255,255,255,0.17);
    border-radius: 9px;
    max-width: 370px;
    padding: 23px 26px 21px;
}
.ashton-hero-live-match-left {
    float: left;
    width: 35%;
}
.ashton-hero-live-match-center{
   float: left;
   width: 30%;
   text-align: center;
   padding: 7px 0 0 0;
}
.ashton-hero-live-match-right {
    float: left;
    width: 35%;
    text-align: right;
}
.ashton-hero-live-match-left img {
    width: 70px;
    height: 70px;
}
.ashton-hero-live-match-right img {
    width: 70px;
    height: 70px;
}
.ashton-hero-live-match-center h3{
  font-size: 25px;
  line-height: 37px;
}
.ashton-hero-live-match-center p{
  font-size: 12px;
  line-height: 15px;
}
.ashton-hero-live-match-btn{
  width: 100%;
  float: left;
  text-align: center;
  margin: 11px 0 0 0;
}
.ashton-hero-live-match-btn a {
    display: inline-block;
    background: #FFFFFF;
    box-shadow: 0 9px 4px 0 rgba(0,0,0,0.10);
    border-radius: 27px;
    padding: 10px 44px;
    font-weight: 500;
    color: #000000;
    font-size: 18px;
    line-height: 28px;
}
.ashton-hero-content-detail-bottom {
    width: 100%;
    float: right;
    margin: 20% 0 0 0;
    max-width: 890px;
}
.ashton-hero-content-detail {
    float: left;
    width: 100%;
    position: relative;
    height: 100%;
}
.ashton-hero-content-detail-top {
    float: left;
    width: 100%;
}
.ashton-hero-content-slide-box {
    float: left;
    width: 50%;
    background-color: rgba(255,255,255,0.17);
    border-radius: 9px;
    max-width: 405px;
    padding: 23px 26px 21px;
    margin: 0 30px 0 0px;
}
.ashton-hero-content-slide-left{
  float: left;
  width: 35%;
}
.ashton-hero-content-slide-center{
  float: left;
  width: 30%;
  text-align: center;
  padding: 10px 0 0 0;
}
.ashton-hero-content-slide-center h2{
  font-size: 38px;
  line-height: 48px;
  font-weight: 500;
  color: #ffffff;
}
.ashton-hero-content-slide-right {
    float: right;
    width: 20%;
    text-align: right;
}
.ashton-hero-content-detail-bottom-slide-detail h3 {
    font-size: 24px;
    line-height: 32px;
    text-transform: capitalize;
    color: #ffffff;
    margin: 0 0 15px 0;
    font-weight: 500;
}
.ashton-hero-content-slide-box-top {
    float: left;
    width: 100%;
}
.ashton-hero-content-slide-box-bottom {
    float: left;
    width: 100%;
}
.ashton-hero-content-slide-box-bottom p {
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.ashton-hero-content-detail-bottom-slide-box button.slick-next.slick-arrow {
    position: absolute;
    right: -25px;
    bottom: 35%;
    text-indent: -9999;
    border: none;
    font-size: 0;
}
.ashton-hero-content-detail-bottom-slide-box  button.slick-prev.slick-arrow {
    position: absolute;
    left: -60px;
    bottom: 35%;
    border: none;
    font-size: 0;
}
.ashton-hero-content-detail-bottom-slide-box button.slick-next.slick-arrow:after{
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: #BE1E2E;
  background-image: url(../images/right-arrow-angle.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}
.ashton-hero-content-detail-bottom-slide-box  button.slick-prev.slick-arrow:after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: #BE1E2E;
  background-image: url(../images/left-arrow-line-symbol.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}
.red-titel{
   font-size: 45px;
   line-height: 67px;
   color: #BE1E2E;
   font-weight: 500;
   margin: 20px 0;
   text-transform: uppercase;
}

.ashton-hero-center-player-tab{
  float: left;
  width: 100%;
}
.ashton-hero-center-player-tab ul li {
    list-style: none;
    float: left;
    font-size: 22px;
    line-height: 27px;
    margin: 0 55px 0 0;
    padding: 13px 0px;
}
.ashton-hero-center-player-tab ul li.active{
   background: #BE1E2E;
   padding: 13px 44px;
}
.ashton-hero-center-player-tab ul li.active a{
   color: #FFFFFF;
}
.ashton-hero-center-player-tab ul li:nth-last-child(1){
  margin: 0 0px 0 0;
}
.ashton-hero-center-player-tab ul li a{
    color: #CDCDCD;
    display: inline-block;
}
.ashton-hero-center-player-tab-content {
    float: left;
    width: 100%;
    margin: 37px 0 0 0;
}
.ashton-player-box {
    background: #BE1E2E;
    box-shadow: 0 8px 12px 6px rgba(0,0,0,0.10);
    border-radius: 5px;
    float: left;
    width: 32%;
    max-width: 371px;
    height: 423px;
    margin: 0 29px 0 0;
    position: relative;
}
.ashton-player-box:nth-child(3n){
    margin: 0 0px 0 0;
}
.ashton-player-box h2 {
    font-size: 45px;
    line-height: 67px;
    color: #ffffff;
    font-weight: 500;
    padding: 30px 0 0 17px;
}
.ashton-player-box p {
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    padding: 0px 0 0 17px;
}
.ashton-player-number h3{
  font-size: 200px;
  line-height: 297px;
  font-weight: 500;
  color: rgba(255,255,255,0.16);
  margin: 15px 0 0 0;
}
.ashton-player-image {
    position: absolute;
    bottom: -5px;
    right: 0;
}
.ashton-player-overlay {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
}
.ashton-hero-center-new-box{
  float: left;
  width: 48%;
  margin: 0 44px 22px 0;
  position: relative;
  height: 400px;
}
.ashton-hero-center-new-box:nth-child(2n){
   margin: 0 0px 22px 0;
}
.ashton-hero-center-new-image{
  width: 446px;
  height: 313px;
  float: left;
}
.ashton-hero-center-new-content-box {
    background: #FFFFFF;
    box-shadow: 0 8px 12px 6px rgba(0,0,0,0.10);
    border-radius: 5px;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 286px;
    height: 189px;
    padding: 20px 13px 0 34px;
}
.ashton-hero-center-new-content-box h3{
  font-size: 22px;
  line-height: 32px;
  color: #000000;
  font-weight: 500;
}
.ashton-hero-center-new-content-box p{
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  bottom: 15px;
  right: 13px;
}
.ashton-hero-center-new-btn {
    float: left;
    width: 100%;
    text-align: right;
    margin: 35px 0 0 0;
}
.ashton-hero-center-new-btn a {
    display: inline-block;
    background: #BE1E2E;
    padding: 5px 53px;
    color: #ffffff;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    position: relative;
}
.ashton-hero-center-video-box{
  float: left;
  width: 48%;
  margin: 0 44px 22px 0;
  position: relative;
  height: 400px;
}
.ashton-hero-center-video-box:nth-child(2n){
   margin: 0 0px 22px 0;
}
.ashton-hero-center-video-image{
  width: 446px;
  height: 313px;
  float: left;
}
.ashton-hero-center-video-content-box {
    background: #FFFFFF;
    box-shadow: 0 8px 12px 6px rgba(0,0,0,0.10);
    border-radius: 5px;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 286px;
    height: 189px;
    padding: 20px 13px 0 10px;
}
.ashton-hero-center-video-content-box h3{
  font-size: 22px;
  line-height: 32px;
  color: #000000;
  font-weight: 500;
}
.ashton-hero-center-video-content-box p{
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  bottom: 15px;
  right: 13px;
}
.ashton-hero-center-video-btn {
    float: left;
    width: 100%;
    text-align: right;
    margin: 35px 0 0 0;
}
.ashton-hero-center-video-btn a {
    display: inline-block;
    background: #BE1E2E;
    padding: 5px 53px;
    color: #ffffff;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    position: relative;
}
.ashton-hero-center-new-btn a:after{
  content: "";
  position: absolute;
  bottom: -2px;
  right:0;
  width: 35px;
  height: 40px;
  background-image: url(../images/right-arrow-angle.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
} 
.ashton-hero-center-video-btn a:after{
  content: "";
  position: absolute;
  bottom: -2px;
  right:0;
  width: 35px;
  height: 40px;
  background-image: url(../images/right-arrow-angle.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
} 
.ashton-hero-center-video.icon a {
    display: inline-block;
    float: left;
    margin: 4px 11px 0 0;
}
.ashton-hero-shop-section{
    float: left;
    width: 100%;
}
.ashton-hero-shop-detail{
   float: left;
   width: 100%;
   background-image: url(../images/shop-bg.png);
   background-repeat: no-repeat;
   background-size:cover;
   background-position: center;
   height: 490px;
   display: table;
}
.seemore-white{
  display: inline-block;
  background-color: #ffffff;
  width: 127px;
  height: 37px;
  font-size: 18px;
  line-height: 26px;
  color: #BE1E2E;
  text-transform: capitalize;
  font-weight: 500;
  padding: 5px 0 0 16px;
  text-align: left;
  position: relative;
}
.seemore-white:after{
  content: "";
  position: absolute;
  bottom: -2px;
  right:0;
  width: 35px;
  height: 40px;
  background-image: url(../images/right-arrow-angle-red.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
}
.ashton-hero-shop-seemore-btn{
  display: table-cell;
  vertical-align: middle;
  padding: 0 115px 0 0;
  text-align: right;
}
.our-charity-detail{
  float: left;
  width: 100%;
  background-image: url(../images/our-charity-bg.png);
  background-size:cover;
  background-repeat: no-repeat;
  height: 241px;
  padding: 57px 41px 0 49px;
  margin: 28px 0 25px 0;
}
.our-charity-left{
  float: left;
  width: 50%;
}
.our-charity-right{
  float: left;
  width: 50%;
  text-align: right;
}
.our-charity-left h3 {
    font-size: 45px;
    line-height: 67px;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
}
.our-charity-left p {
    font-size: 25px;
    line-height: 37px;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 0 5px 0;
}

/*******************checkbox css**************/
.container-check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  color: #ffffff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.container-check:hover input ~ .checkmark {
  background-color: #ccc;
}
.container-check input:checked ~ .checkmark {
  background-color: #ffffff;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container-check input:checked ~ .checkmark:after {
  display: block;
}
.container-check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #BE1E2E;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.show-your-support-detail{
    float: left;
    width: 100%;
    height: 184px;
    overflow: hidden;
}
.show-your-support-left {
    float: left;
    width: 45%;
    background-image: url(../images/show-your-support-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 184px;
    padding: 37px 67px 0 49px;
}
.show-your-support-right {
    float: left;
    width: 55%;
    background: #BE1E2E;
    height: 184px;
    padding: 28px 0 0 86px;
}
.show-your-support-left h3 {
    font-size: 45px;
    line-height: 67px;
    color: #ffffff;
    font-weight: 500;
}
.show-your-support-left p {
    font-size: 25px;
    line-height: 37px;
    color: #ffffff;
    font-weight: 500;
}
.show-your-support-right-content-titel {
    font-size: 18px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 500;
}
.show-your-support-right-content-inputbox input[type="email"] {
    background: #A31422;
    border-radius: 5px;
    height: 50px;
    padding: 0 0 0 10px;
    color: #ffffff;
    width: 100%;
}
.show-your-support-right-content-inputbox input[type="email"]::-webkit-input-placeholder { /* Edge */
  color:rgba(255,255,255,0.48);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.show-your-support-right-content-inputbox input[type="email"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:rgba(255,255,255,0.48);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.show-your-support-right-content-inputbox input[type="email"]::placeholder {
  color:rgba(255,255,255,0.48);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.show-your-support-right-content {
    float: left;
    width: 55%;
}
.show-your-support-right-btn{
    float: left;
    width: 45%;
    text-align: center;
    margin: 33px 0 0 0;
}
.show-your-support-right-content-inputbox {
    margin: 7px 0 12px 0;
}
.show-your-support-right-btn a {
    display: inline-block;
    width: 167px;
    height: 50px;
    background-color: #ffffff;
    background: #FFFFFF;
    box-shadow: 0 8px 15px 0 rgba(0,0,0,0.26);
    border-radius: 5px;
    font-size: 20px;
    color: #BE1E2E;
    line-height: 30px;
    font-weight: 500;
    padding: 10px 0;
}
.club-sponsorship-section{
  float: left;
  width: 100%;
  margin: 31px 0 0 0;
}
.club-sponsorship-section h2 {
    font-size: 35px;
    color: #000000;
    line-height: 52px;
    font-weight: 500;
    margin: 0 0 20px 0;
    text-transform: uppercase;
}
.club-sponsorship-box {
    float: left;
    width: 18%;
    margin: 0 29px 0 0;
    height: 165px;
    display: table;
}
.club-sponsorship-box:nth-child(5n){
    margin: 0 0px 0 0;
} 
.club-sponsorship-box-inner{
  display: table-cell;
  vertical-align: middle;
}
.club-affiliate-section{
  float: left;
  width: 100%;
  margin: 20px 0 0 0;
}
.club-affiliate-section h2 {
    font-size: 35px;
    color: #000000;
    line-height: 52px;
    font-weight: 500;
    text-align: center;
}
.club-affiliate-detail{
  float: left;
  width: 100%;
}
.club-affiliate-detail ul {
    list-style: none;
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
}
.club-affiliate-detail ul li {
    list-style: none;
    float: left;
    width: 100px;
    height: 131px;
    display: table;
    overflow: hidden;
    margin: 0 5px 0 0;
}
.club-affiliate-detail ul li a{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/*************************footer css**************************/
.footer-wrapper{float: left; width: 100%; padding: 31px 0 0 0;}
.footer-top-section{
   float: left;
   width: 100%;
   background: #BE1E2E;
}
.footer-top-left {
    float: left;
    width: 40%;
    padding: 39px 0 50px 0;
}
.footer-top-right{
  float: left;
  width: 60%;
  padding: 0 0 0 113px;
}
.footer-top-left-top {
    float: left;
    width: 100%;
    border-bottom: 1px solid #ffffff;
    padding: 0 40px 22px 0;
}
.footer-top-left-top-image {
    float: left;
    width: 27%;
}
.footer-top-left-top-content {
    float: left;
    width: 73%;
    padding: 0 0px 0 16px;
}
.footer-top-left-top-content h3 {
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0.29px;
    line-height: 21px;
    font-weight: 600;
}
.footer-top-left-top-content p {
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0.23px;
    line-height: 21px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin: 17px 0px 0 0;
}
.footer-top-left-bottom {
    float: left;
    width: 100%;
    margin: 48px 0 0 0;
}
.footer-bottom-section{
  float: left;
  width: 100%;
  background-color: #ffffff;
}
.footer-top-social-icon ul li {
    list-style: none;
    float: left;
    margin: 0 17px 0 0;
}
.footer-top-right-menu {
    float: left;
    width: 30%;
}
.footer-top-right-menu:nth-child(3n) {
    float: left;
    width: 35%;
}
.footer-top-right-menu ul li{
  margin: 26px 0 0 0;
  float: left;
  width: 100%;
}
.footer-top-right-menu ul li a {
    font-size: 18px;
    color: #FFFFFF;
    line-height: 26px;
    font-weight: 500;
    margin: 0px 0 0 0;
    text-transform: uppercase;
}
.footer-bottom-left-menu {
    float: left;
    width: 100%;
    margin: 7px 0;
}
.footer-bottom-left-menu ul li a {
    list-style: none;
    float: left;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0.7px;
    line-height: 21px; 
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
}
.footer-bottom-left-menu ul li{
    float: left;
    margin: 0 20px 0 0;
}
.footer-bottom-left p {
    font-size: 12px;
    color: #000000;
    line-height: 15px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 8px 0;
}
.footer-bottom-left{
  float: left;
  width: 50%;
}
.footer-bottom-right{
  float: left;
  width: 50%;
  padding: 19px 0;
  text-align: right;
}
.footer-bottom-right p{
  font-size: 14px;
  color: #000000;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
}