
:host{
    display: block;
    
}
.invalid-feedback{
    font-size: 12px;
}
.register-detail .invalid-feedback{
    font-size: 14px;
}
.login-section-inner.success .invalid-feedback{
    display: none;
}
