
@import 'var';

.ashton-section{
   /*background-image: url($imagePath+"bg-ground.png");
   background-repeat: no-repeat;
   background-size: cover;*/
   height: 100vh;
}
.ashton-detail {
   width: 100%;
   max-width:100%;
   margin: 0 auto;
   text-align: center;
}
.ashton-inner{
   float: left;
   width: 100%;
   display: table;
   height: 100vh;
   background-image: url($imagePath+"IMG-BG.png");
   background-repeat: no-repeat;
   background-size:contain;
   background-position: center;
   position: relative;
}
.ashton-inner-image{
	display: table-cell;
	vertical-align: middle;
  width: 100%;
}
.ashton-inner-image img{
	width: 238px;
	height: 238px;
}
.ashton-inner-btn{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.ashton-inner-btn a{
	display: inline-block;
	background: #BE1E2E;
  border-radius: 16px 16px 0 0;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 35px;
  line-height: 52px;
  padding: 2px 41px 3px;
  text-decoration:none;
  font-family: 'Oswald', sans-serif;
}
body{
  margin: 0;
}
.body-wrapper.intropage .header-wrapper{
  display: none;
}
.video{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.video video {
    width: 100%;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    z-index: 0;
    -webkit-transform: inherit;
    transform: inherit;
    top:0;
    left:0;
}
.sound-btn {
    position: absolute;
    right: 26px;
    top: 26px;
    z-index: 10;
    /*display: none;*/
}
.sound-btn.active{
    display: block;
}
.sound-btn a{
  display: inline-block;
}
.sound-btn a.active span.audio-play{
    display: block;
}
.sound-btn a.active span.mute{
    display: none;
}
.sound-btn a span{
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.sound-btn a span.audio-play{
  display: none;
}
.sound-btn a span img{
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.overlay-video{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0000008c;
}