<!-- body starts-->
<section class="body-wrapper">
    <div class="ashton-section">
        <div class="ashton-detail cf">
            <div class="ashton-inner">
                <div class="sound-btn">
                    <a href="javascript:void(0)" id="videos">
                        <span class="mute"><img src="assets/images/mute.svg"></span>
                        <span class="audio-play"><img src="assets/images/audio-speaker-on.svg"></span>
                    </a>
                </div>
                <div class="video">
                  <video loop muted autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true" id="video">
                    <source src="assets/images/Ashton United Vs Mickleover Sports FC  Match Highlights.mp4" type="video/mp4">
                  </video>
                </div>
                <div class="ashton-inner-btn"><a routerLink="/home">enter</a></div>
            </div>
            <div class="overlay-video">
               <div class="ashton-detail cf">
                    <div class="ashton-inner">
                        <div class="ashton-inner-image">
                          <img src="assets/images/Bitmap-icon.png">
                        </div>
                    </div>
                </div> 
            </div>
        </div> 
    </div>
</section><!-- body ends-->