@import 'var';
.cart-top-section {
    float: left;
    width: 100%;
    margin: 100px 0 0 0;
}
.checkout-top-section {
    float: left;
    width: 100%;
    background-image: url($imagePath+"ficture bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 126px 0 0 0;
}
.checkout-top-detail-team{
    float: left;
    width: 100%;
    margin: 0 0 37px 0;
}
.checkout-top-detail-inner {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
}
.checkout-top-detail-team-left {
    float: left;
    width: 37%;
}
.checkout-top-detail-team-center{
    float: left;
    width: 26%;
    color: #ffffff;
    text-align: center;
    display: table;
    height: 100px;
}
.checkout-top-detail-team-center-inner{
    display: table-cell;
    vertical-align: middle;
}
.checkout-top-detail-team-right{
    float: left;
    width: 37%;
}
.checkout-top-detail-content {
    float: left;
    width: 100%;
    color: #ffffff;
    text-align: center;
}
.checkout-top-detail-content p {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin: 81px 0 26px 0;
}
.checkout-top-detail-team-left-content {
    float: left;
    color: #ffffff;
    height: 100px;
    display: table;
}
.checkout-top-detail-team-left-content-inner{
    display: table-cell;
    vertical-align: middle;
}
.checkout-top-detail-team-left-image {
    float: right;
}
.checkout-top-detail-team-right .checkout-top-detail-team-left-image {
    float:left;
}
.checkout-top-detail-team-left-image img{
    width: 100px;
    height: 100px;
}
.checkout-top-detail-team-left-content-inner h3 {
    font-size: 22px;
    line-height: 32px;
    font-weight: 500;
    margin: 0 0px 0 20px;
}
.checkout-top-detail-team-center-inner h3 {
    font-size: 15px;
    line-height: 16px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.checkout-top-detail-team-center-inner p{
    font-size: 10px;
    line-height: 16px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.checkout-center-section{
    float: left;
    width: 100%;
}
.checkout-center-detail-left {
    float: left;
    width: 60%;
}
.checkout-center-detail-right {
    float: left;
    width: 40%;
    padding: 0 0 0 78px;
}
.checkout-center-detail-left table {
    width: 100%;
}
.product-quantity-box {
    width: 100%;
    height: 42px;
    border-radius: 6px;
    position: relative;
    max-width: 120px;
    margin: 0 auto;
}
.product-quantity-box input[type="text"] {
    width: 70px;
    padding: 11px 0 0 0px;
    margin: 0px 0 0 0px;
    text-align: center;
    font-weight:500;
    font-size: 20px;
    line-height: 30px;
}
.product-quantity-box button.increment-quantity {
    position: absolute;
    top: 10px;
    right: 12px;
    border: 0;
    background-color: transparent;
}
.product-quantity-box button.decrement-quantity {
    position: absolute;
    top: 11px;
    left: 12px;
    border: 0;
    background-color: transparent;
}
.product-quantity-box button.decrement-quantity span {
    color: #000000;
    font-size: 20px;
    line-height: 30px;
}
.product-quantity-box button.increment-quantity span {
    color: #000000;
    font-size: 20px;
    line-height: 30px;
}
.plus-min{
   position: absolute;
   top: 4px;
   right: 0;
   background-image: url($imagePath+"plus.png"); 
   background-size: contain;
   width: 20px;
   height: 20px;
   background-repeat: no-repeat;
   cursor: pointer;
}
.masksshop-content-box.open  .plus-min{
   position: absolute;
   top: 10px;
   right: 0;
   background-image: url($imagePath+"Minus.png");
   height: 2px;
}
.mask-shipping {
    float: left;
    width: 100%;
}
.mask-shipping.open .masksshop-content-text {
    height: auto;
    overflow: hidden;
    float: left;
    width: 100%;
}
/*.mask-shipping.open .plus-min {
    position: absolute;
    top: 10px;
    right: 0;
    background-image: url($imagePath+"Minus.png");
    height: 2px;
}*/
.masksshop-price-number p {
    color: #605E63;
    font-size: 25px;
    line-height: 36px;
    font-family: 'riverhackregular';
    font-weight: normal;
    position: relative;
}
.masksshop-price-number p:after{
    content: "";
    position: absolute;
    top: 18px;
    left: -1px;
    width: 100px;
    height: 1px;
    background-color: #605E63;
    z-index: 1; 
}
.red-bg{
   background: #BE1E2E;
   height: 44px;
   color: #ffffff;
}
.checkout-center-detail{
    float: left;
    width: 100%;
    margin: 26px 0 0 0;
}
.checkout-center-detail-right h2 {
    font-size: 22px;
    line-height: 32px;
    font-weight: 500;
    margin: 10px 0 10px 0;
}
.cart-center-detail-top{
    float: left;
    width: 100%;
    background: #FFFFFF;
    border-radius: 9px;
    box-shadow: 0 8px 12px 6px rgba(0, 0, 0, 0.1);
    padding: 26px 22px 22px 29px;
    margin: 0 0 48px 0;
}
.cart-center-top{
    float: left;
    width: 100%;
}
.cart-center-top-left {
    float: left;
    width: 35%;
}
.cart-center-top-center {
    float: left;
    width:55%;
    padding: 25px 0 0 34px;
}
.cart-center-top-left-image {
    float: left;
    width: 40%;
}
.cart-center-top-left-right-image img {
    width: 80px;
}
.cart-center-top-center p {
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
.cart-center-top-center h3 {
    font-size: 12px;
    color: #BE1E2E;
    line-height: 17px;
    font-weight: 500;
}
.cart-center-bottom-general .checkout-center-detail-right-general-admission-name h3 {
    font-size: 12px;
    color: #000000;
    line-height: 14px;
    font-weight: 600;
    margin: 0 0 0 0;
    font-family: 'Montserrat', sans-serif;
}
.checkout-center-detail-right-general-admission-name p a {
    display: inline-block;
    color: #000000;
}
.checkout-center-detail{
    float: left;
    width: 100%;
    margin: 26px 0 0 0;
}
.checkout-center-detail-right h2 {
    font-size: 22px;
    line-height: 32px;
    font-weight: 500;
    margin: 10px 0 10px 0;
}
.checkout-center-detail-right-general-admission h3 {
    font-size: 15px;
    color: #BE1E2E;
    line-height: 22px;
    font-weight: 500;
    margin: 0 0 6px 0;
}
.checkout-center-detail-right-general-admission-name {
    float: left;
    width: 60%;
}
.checkout-center-detail-right-general-admission-number {
    float: left;
    width: 20%;
}
.checkout-center-detail-right-general-admission-name p {
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 13px 0;
}
.checkout-center-detail-right-general-admission-number p {
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 13px 0;
}
.checkout-center-detail-right-general-admission-price p {
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 13px 0;
}
.checkout-center-detail-right-away-fans-detail {
    float: left;
    width: 100%;
}
.checkout-center-detail-right-away-fans-content{
    float: left;
    width: 70%;
}
.checkout-center-detail-right-away-fans-content p {
    font-size: 11px;
    color: #000000;
    line-height: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 21px 0;
}
.checkout-center-detail-right-away-fans-content p a{
    display: inline-block;
    color: #000000;
}
.checkout-center-detail-right-away-fans-btn p a {
    display: inline-block;
    background: #FFFFFF;
    box-shadow: 0 4px 7px 0 rgba(0,0,0,0.12);
    font-size: 12px;
    color: #000000;
    line-height: 15px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    padding: 9px 10px 6px 10px;
    text-transform: capitalize;
    margin: 0 0 22px 0;
}
.cart-center-top-left-right-image {
    float: left;
    width: 40%;
    text-align: right;
}
.cart-center-top-left-vs {
    float: left;
    width: 20%;
    text-align: center;
    display: table;
    height: 80px;
}
.cart-center-top-left-vs-inner{
    display: table-cell;
    vertical-align: middle;
}
.cart-center-top-left-vs-inner h3{
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
}
.cart-center-bottom{
    float: left;
    width: 100%;
    margin: 11px 0 0 0;
}
.checkout-center-detail-right-general-admission-name {
    float: left;
    width: 60%;
}
.checkout-center-detail-right-general-admission-number {
    float: left;
    width: 20%;
}
.checkout-center-detail-right-general-admission-price {
    float: left;
    width: 20%;
}
.cart-center-bottom-general {
    float: left;
    width: 100%;
}
.checkout-center-detail-right-general-admission-name p {
    font-size: 11px;
    line-height: 14px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 18px 0;
}
.checkout-center-detail-right-general-admission-number p {
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 12px 0;
}
.cart-center-bottom-away .checkout-center-detail-right-general-admission-number p {
    margin: 0 0 35px 0;
}
.cart-center-bottom-away .checkout-center-detail-right-general-admission-price p{
    margin: 7px 0 35px 0;
}
.checkout-center-detail-right-general-admission-price  p {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin: 7px 0 18px 0;
}
.cart-center-bottom-away h3 {
    font-size: 15px;
    color: #BE1E2E;
    line-height: 22px;
    font-weight: 500;
    margin: 0 0 6px 0;
}
.checkout-center-detail-right-general-admission-name h3 {
    font-size: 12px;
    color: #000000;
    line-height: 15px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 0 0;
}
.cart-center-bottom-general h3 {
    font-size: 15px;
    color: #BE1E2E;
    line-height: 22px;
    font-weight: 500;
    margin: 0 0 6px 0;
}
.checkout-center-detail-right-away-fans-content p {
    font-size: 11px;
    color: #000000;
    line-height: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 21px 0;
}
.checkout-center-detail-right-away-fans-content p a{
    display: inline-block;
    color: #000000;
}
.checkout-center-detail-right-away-fans-btn p a {
    display: inline-block;
    background: #FFFFFF;
    box-shadow: 0 4px 7px 0 rgba(0,0,0,0.12);
    font-size: 12px;
    color: #000000;
    line-height: 15px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    padding: 9px 10px 6px 10px;
    text-transform: capitalize;
    margin: 0 0 22px 0;
}
.checkout-center-detail-code {
    float: left;
    width: 100%;
    margin: 0 0 42px 0;
}
.checkout-center-detail-payment {
    float: left;
    width: 100%;
}
.checkout-center-detail-code-voucher {
    float: left;
    width: 45%;
}
.checkout-center-detail-code-box {
    float: right;
    width: 55%;
}
.checkout-center-detail-code-voucher a {
    display: inline-block;
    font-size: 10px;
    color: #0F218B;
    letter-spacing: 0.25px;
    line-height: 13px;
    text-decoration: underline;
    text-transform: uppercase;
    padding: 20px 0 0 0;
    position: relative;
}
.checkout-center-detail-code-box a:after{
    content: "";
    position: absolute;
    top: 11px;
    right: 10px;
    background-image: url($imagePath+"verified.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
}
.checkout-center-detail-code-box a {
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.5);
    width: 92%;
    float: right;
    font-size: 12px;
    color: #2B2B2B;
    line-height: 15px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    padding: 13px 30px 12px 13px;
    position: relative;
}
.checkout-center-detail-payment-total {
    float: left;
    width: 100%;
    border-bottom: 1px solid #979797;
}
.checkout-payment-discount {
    float: left;
    width: 100%;
    margin: 0 0 11px 0;
}
.checkout-payment-payable-btn {
    float: left;
    width: 100%;
    margin: 17px 0 29px 0;
    text-align: right;
}
.checkout-payment-total-text {
    float: left;
    width: 80%;
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
}
.checkout-payment-total-price {
    float: left;
    width: 20%;
    text-align: right;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
.checkout-payment-discount-text {
    float: left;
    width: 80%;
    font-size: 12px;
    color: #000000;
    line-height: 15px;
}
.checkout-payment-discount-price{
    float: left;
    width: 20%;
    text-align: right;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
.checkout-payment-total {
    float: left;
    width: 100%;
    margin: 0 0 11px 0;
}
.checkout-payment-payable {
    float: left;
    width: 100%;
    margin: 17px 0 0 0;
}
.checkout-payment-payable-text {
    float: left;
    width: 80%;
    font-size: 14px;
    color: #BE1E2E;
    line-height: 18px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
}
.checkout-payment-payable-price {
    float: left;
    width: 20%;
    text-align: right;
    font-size: 16px;
    color: #BE1E2E;
    line-height: 24px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.checkout-payment-payable-btn a {
    display: inline-block;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 26px;
    background: #BE1E2E;
    padding: 6px 42px 5px 15px;
    font-weight: 500;
    text-transform: capitalize;
    position: relative;
}
.checkout-payment-payable-btn a:after{
  content: "";
  background-image: url($imagePath+"right-arrow-angle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  height: 20px;
  position: absolute;
  top:12px;
  right:7px;
}
.want-to-buy-season-tickets-section{
    float: left;
    width: 100%;
    margin: 40px 0 26px 0;
}
.want-to-buy-season-tickets-left {
    float: left;
    width: 75%;
    background-image: url($imagePath+"showsuppoer.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 116px;
    display: table;
    background-position: bottom;
}
.want-to-buy-season-tickets-right {
    float: left;
    width: 25%;
    background: #BE1E2E;
    height: 116px;
}
.want-to-buy-season-tickets-right .want-to-buy-season-tickets-right-image img{
    height: 116px;
    width: 100%;
}
.want-to-buy-season-tickets-left h3 {
    font-size: 35px;
    line-height: 52px;
    color: #ffffff;
    padding: 32px 0 0 36px;
    font-weight: 500;
}
.checkout-center-detail-right-inner{
    float: left;
    width: 100%;
    background: #FAFAFA;
    padding: 11px 15px;
}
.want-to-buy-season-tickets-left h3 {
    font-size: 35px;
    line-height: 52px;
    color: #ffffff;
    padding: 32px 0 0 36px;
    font-weight: 500;
}
.checkout-center-detail-address-box{
    margin: 26px 0 0 0;
}
.half{
    width: 48%;
    float: left;
    max-width: 325px;
    margin: 0 0 19px 0;
}
.full{
   width: 100%;
   float: left;
   margin: 0 0 19px 0;
}
.input-style{
    border: 1px solid #DADADA;
    width: 100%;
    height: 44px;
    font-size: 16px;
    line-height: 20px;
    padding: 0 0 0 15px;
}
.checkout-address-box.half{
   margin-right: 15px
}
.checkout-address-box.half:nth-child(2n){
   margin-right: 0px
}
.checkout-center-detail-address-titel {
    background: #BE1E2E;
    height: 44px;
}
.checkout-center-detail-address-titel h2 {
    font-size: 22px;
    color: #FFFFFF;
    line-height: 32px;
    font-weight: 500;
    padding:6px 0 0 20px;
}
.checkout-center-detail-address {
    float: left;
    width: 100%;
    margin: 15px 0 0 0;
}
/*******************checkbox css**************/
.container-check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
  padding: 4px 0 0 35px;
}
.container-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
}
.container-check:hover input ~ .checkmark {
  background-color: #ccc;
}
.container-check input:checked ~ .checkmark {
  background-color: #ccc;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container-check input:checked ~ .checkmark:after {
  display: block;
}
.container-check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.show-your-support-right-content-checkbox {
    float: left;
    width: 100%;
}
.checkout-center-detail-right .checkout-center-detail-left{
    float: left;
    width: 100%;
}
.checkout-center-detail-address-content {
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
    padding: 0 0 0 20px;
    max-width: 315px;
}
.checkout-center-detail-address-content h3 {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 10px 0;
    font-weight: 500;
}
.checkout-center-detail-address-content p {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
.checkout-center-detail-address-content-box {
    float: left;
    width: 100%;
    border: 1px solid #DADADA;
    margin: 26px 0 0 0;
}
.checkout-center-detail-address-btn {
    float: left;
    width: 100%;
    padding: 0 0 0 20px;
    margin: 35px 0 25px 0;
}
.checkout-center-detail-address-btn a{
    display: inline-block;
    border: 1px solid #BE1E2E;
    color: #BE1E2E;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-transform: capitalize;
    text-align: center;
    width: 330px;
    height: 45px;
    padding: 8px 0 0 0;
}