@import 'var';

.ashton-hero-top-clubsponsorship{
	float: left;
	width: 100%;
	background-image: url($imagePath+"clubsponsor-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 362px;
    overflow: hidden;
    margin: 127px 0 0 0; 
    position: relative;
}
.ashton-hero-top-clubsponsorship-overlay{
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: #0000009c;
   top: 0;
   left: 0;
}
.ashton-hero-top-clubsponsorship-detail {
    position: relative;
    z-index: 9;
    float: left;
    width: 100%;
    height: 362px;
    display: table;
}
.ashton-hero-top-clubsponsorship-detail h2{
	display: table-cell;
	vertical-align: middle;
	color: #ffffff;
	font-size: 32px;
	line-height: 42px;
	text-transform: uppercase;
	padding: 0 16%;
    text-align: center;
}
.ashton-hero-top-clubsponsorship-section{
    float: left;
    width: 100%;
}
.ashton-hero-top-clubsponsorship-section-detail{
	float: left;
	width: 100%;
}
.ashton-clubsponsorship-top-content{
	float: left;
	width: 100%;
	margin: 21px 0 38px 0;
	text-align: center;
}
.ashton-clubsponsorship-top-content p {
    font-size: 16px;
    color: #000000;
    line-height: 24px;
    padding: 0 160px;
}
.ashton-clubsponsorship-top-content p a{
	display: inline-block;
	color: #000000;
}
.ashton-clubsponsorship-bottom {
    float: left;
    width: 100%;
}
.ashton-clubsponsorship-box {
    float: left;
    width: 50%;
    max-width: 571px;
    border-radius: 8px;
    height: 345px;
    overflow: hidden;
    background: #BE1E2E;
    margin: 0 29px 56px 0;
}
.ashton-clubsponsorship-box:nth-child(2n){
	margin: 0 0px 56px 0;
}
.ashton-clubsponsorship-box-img {
    float: left;
    width: 100%;
    height: 227px;
    overflow: hidden;
}
.ashton-clubsponsorship-box-img  img {
    max-width: 100%;
    width: 571px;
    height: 227px;
}
.ashton-clubsponsorship-box-content {
    float: left;
    width: 100%;
    background: #BE1E2E;
    border-radius: 5px; 
    padding: 0 12px 0 11px;
}
.ashton-clubsponsorship-box-content-left {
    float: left;
    width: 60%;
}
.ashton-clubsponsorship-box-content-right {
    float: right;
    width: 40%;
}
.ashton-clubsponsorship-box-content-left h2 {
    font-size: 25px;
    line-height: 37px;
    color: #ffffff;
    font-weight: bold;
    margin: 0 0 19px 0;
}
.ashton-clubsponsorship-box-content-left p {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 21px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.ashton-clubsponsorship-box-content-left h3 {
    font-size: 22px;
    color: #FFFFFF;
    line-height: 21px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.ashton-clubsponsorship-box-content-right-share-icon{
	float: left;
	width: 100%;
}
.ashton-clubsponsorship-box-content-right-share-icon a{
	display: inline-block;
	float: right;
	width: 100%;
	text-align: right;
	margin: 10px 0 0 0;
}
.ashton-clubsponsorship-box-content-right-share-icon a img {
    width: 16px;
    height: 16px;
}
.ashton-clubsponsorship-right-buy-now-btn{
	float: left;
	width: 100%;
}
.ashton-clubsponsorship-right-buy-now-btn a {
    display: inline-block;
    background-color: #ffffff;
    font-size: 18px;
    color: #BE1E2E;
    line-height: 26px;
    font-weight: 500;
    padding: 5px 24px;
    float: right;
    margin: 36px 0 0 0;
}
.our-charity-detail{
  float: left;
  width: 100%;
  background-image: url($imagePath+"our-charity-bg.png");
  background-size:cover;
  background-repeat: no-repeat;
  height: 241px;
  padding: 57px 41px 0 49px;
  margin: 14px 0 25px 0;
}
.our-charity-left{
  float: left;
  width: 50%;
}
.our-charity-right{
  float: left;
  width: 50%;
  text-align: right;
}
.our-charity-left h3 {
    font-size: 45px;
    line-height: 67px;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
}
.our-charity-left p {
    font-size: 25px;
    line-height: 37px;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 0 5px 0;
}
.seemore-white{
  display: inline-block;
  background-color: #ffffff;
  width: 127px;
  height: 37px;
  font-size: 18px;
  line-height: 26px;
  color: #BE1E2E;
  text-transform: capitalize;
  font-weight: 500;
  padding: 5px 0 0 16px;
  text-align: left;
  position: relative;
}
.seemore-white:after{
  content: "";
  position: absolute;
  bottom: -2px;
  right:0;
  width: 35px;
  height: 40px;
  background-image: url($imagePath+"right-arrow-angle-red.svg");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
}