$assetPath: "~src/assets/";
$imagePath: "~src/assets/images/";

$break-xs: 360px;
$break-sm: 480px;
$break-md: 767px;
$break-ipad: 1023px;
$break-xl: 1199px;
$break-xxl: 1280px;
$break-xdsk: 1366px;
$break-mdsk: 1400px;
$break-dsk: 1440px;
$break-ldsk: 1480px;
$break-lgg: 1560px;
$break-lg: 1600px;
$break-llg: 1680px;
$break-xlg: 1880px;
$break-em-xs: 29.9375em;
$break-em-sm: 35.9375em;
$break-em-md: 47.9375em;
$break-em-lg: 61.9375em;
$break-em-dsk: 90.125em;
$break-em-xl: 125em;

@mixin respond($media) {
  @if $media==xs {
    @media only screen and (max-width: $break-xs) {
      @content;
    }
  } @else if $media==sm {
    @media only screen and (max-width: $break-sm) {
      @content;
    }
  } @else if $media==md {
    @media only screen and (max-width: $break-md) {
      @content;
    }
  } @else if $media==lg {
    @media only screen and (max-width: $break-lg) {
      @content;
    }
  }@else if $media==mdsk {
    @media only screen and (max-width: $break-mdsk) {
      @content;
    }
  }  @else if $media==xdsk {
    @media only screen and (max-width: $break-xdsk) {
      @content;
    }
  }@else if $media==ldsk {
    @media only screen and (max-width: $break-ldsk) {
      @content;
    }
}@else if $media==lgg {
    @media only screen and (max-width: $break-lgg) {
      @content;
    }
  } @else if $media==llg {
    @media only screen and (max-width: $break-llg) {
      @content;
    }
  }
  @else if $media==xlg {
    @media only screen and (max-width: $break-xlg) {
      @content;
    }
  } @else if $media==ipad {
    @media only screen and (max-width: $break-ipad) {
      @content;
    }
  } @else if $media==xl {
    @media only screen and (max-width: $break-xl) {
      @content;
    }
  }
  @else if $media==xxl {
    @media only screen and (max-width: $break-xxl) {
      @content;
    }
  } @else if $media==em_xs {
    @media only screen and (max-width: $break-em-xs) {
      @content;
    }
  } @else if $media==em_sm {
    @media only screen and (max-width: $break-em-sm) {
      @content;
    }
  } @else if $media==em_xl {
    @media only screen and (max-width: $break-em-xl) {
      @content;
    }
  } @else if $media==em_md {
    @media only screen and (max-width: $break-em-md) {
      @content;
    }
  } @else if $media==em_dsk {
    @media only screen and (max-width: $break-em-dsk) {
      @content;
    }
  } @else if $media==em_lg {
    @media only screen and (max-width: $break-em-lg) {
      @content;
    }
  } @else if $media==dsk {
    @media only screen and (max-width: $break-dsk) {
      @content;
    }
  } @else {
    @media only screen and (max-width: $media) {
      @content;
    }
  }
}

@mixin respond-to($media) {
  @if $media==xs {
    @media only screen and (min-width: $break-xs) {
      @content;
    }
  } @else if $media==sm {
    @media only screen and (min-width: $break-sm) {
      @content;
    }
  } @else if $media==md {
    @media only screen and (min-width: $break-md) {
      @content;
    }
  } @else if $media==lg {
    @media only screen and (min-width: $break-lg) {
      @content;
    }
  } @else if $media==lgg {
    @media only screen and (min-width: $break-lgg) {
      @content;
    }
  } @else if $media==xlg {
    @media only screen and (min-width: $break-xlg) {
      @content;
    }
  } @else if $media==ipad {
    @media only screen and (min-width: $break-ipad) {
      @content;
    }
  } @else if $media==xl {
    @media only screen and (min-width: $break-xl) {
      @content;
    }
  } @else if $media==dsk {
    @media only screen and (min-width: $break-dsk) {
      @content;
    }
  } @else {
    @media only screen and (min-width: $media) {
      @content;
    }
  }
}

@mixin respond-only($media) {
  @if $media==xs {
    @media only screen and (min-width: $break-xs) {
      @content;
    }
  } @else if $media==sm {
    @media only screen and (min-width: $break-xs + 1) and (max-width: $break-sm) {
      @content;
    }
  } @else if $media==md {
    @media only screen and (min-width: $break-sm + 1) and (max-width: $break-md) {
      @content;
    }
  } @else if $media==lg {
    @media only screen and (min-width: $break-md + 1) and (max-width: $break-ipad) {
      @content;
    }
  } @else if $media==ipad {
    @media only screen and (min-width: $break-ipad + 1) and (max-width: $break-lg) {
      @content;
    }
  } @else if $media==xl {
    @media only screen and (min-width: $break-lg + 1) and (max-width: $break-xl) {
      @content;
    }
  } @else if $media==dsk {
    @media only screen and (min-width: $break-lg + 1) and (max-width: $break-dsk) {
      @content;
    }
  } @else {
    @media only screen and (min-width: $media) {
      @content;
    }
  }
}

@mixin respond-min-max($minMedia, $maxMedia) {
  @media only screen and (min-width: $minMedia) and (max-width: $maxMedia) {
    @content;
  }
}