<!-- page starts-->
    <section class="page-wrapper">
        <div class="ashton-hero-top-news-single-section cf" [ngStyle]="{'background-image':'url(' + newsImage + ')'}">
        	<div class="container">
        		
        	</div>
        	<a [routerLink]="['/news', newsPrevious]" class="Previous-player">
        		<p>Previous</p>
		    </a>
		    <a [routerLink]="['/news', newsNext]" class="next-player">
		    	<p>Next</p>
		    </a>
        </div>
        <div class="ashton-hero-top-detail cf">
         <div class="container">
         	<div class="ashton-hero-top-news-single-about">
         	   <div class="red-titel">{{newsTitle}}</div>	
         	   <div class="ashton-hero-top-news-single-about-content" [innerHTML]="newsDesc">
         	   </div>
         	</div>
         </div>
        </div>
    </section><!-- page ends-->