@import 'var';
.ashton-hero-top-news-single-section{
    float: left;
    width: 100%;
    background-image: url($imagePath+"news-single-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 603px;
    position: relative;
    background-position: center;
}
.ashton-hero-top-news-single-section a.Previous-player {
    position: absolute;
    top: 55%;
    left: 4%;
    cursor: pointer;
    width: 130px;
    color: #ffffff;
    background: #BE1E2E;
    height: 44px;
    font-size: 22px;
    line-height: 26px;
    padding: 7px 15px 0 0px;
    text-align: right;
}
.ashton-hero-top-news-single-section a.next-player{
    position: absolute;
    top: 55%;
    right: 4%;
    cursor: pointer;
    width: 100px;
    color: #ffffff;
    background: #BE1E2E;
    height: 44px;
    font-size: 22px;
    line-height: 26px;
    padding: 7px 0 0 15px;
}
.ashton-hero-top-news-single-section a.Previous-player:before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 40px;
  height: 40px;
  background: #BE1E2E;
  background-image: url($imagePath+"left-arrow-line-symbol.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}
.ashton-hero-top-news-single-section a.next-player:after {
  content: "";
  position: absolute;
  right: 0;
  top: 3px;
  width: 40px;
  height: 40px;
  background: #BE1E2E;
  background-image: url($imagePath+"right-arrow-angle.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}
.ashton-hero-top-news-single-about {
    float: left;
    width: 100%;
    margin: 12px 0 0 0;
}
.ashton-hero-top-detail{
    float: left;
    width: 100%;
}
.ashton-hero-content-detail-top {
    float: left;
    width: 100%;
}
.ashton-hero-top-news-single-about .red-titel {
    text-transform: capitalize;
}
.ashton-hero-top-news-single-about-content p {
    font-size: 14px;
    color: #000000;
    letter-spacing: 0.3px;
    line-height: 20px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 20px 0;
}
.ashton-hero-top-news-single-about-content p {
    margin: 5px 0 15px 0;
}