<!-- body starts-->
<section class="body-wrapper">
    <div class="ashton-section">
        <div class="ashton-detail cf">
        	<div class="container">
	            <div class="ashton-signup-detail cf">
	                <div class="ashton-signup-left-form">
	                	<div class="ashton-signup-form-box-detail cf">
	                		<div class="ashton-signup-form-top">
	                			<div class="ashton-signup-form-top-left">
	                				<div class="ashton-signup-form-top-left-image">
	                					<img src="assets/images/Bitmap-icon.png">
	                				</div>
	                				<div class="ashton-signup-form-top-left-titel">
	                					Ashton United FC
	                				</div>
	                			</div>
	                			<div class="ashton-signup-form-top-right">
	                				<a href="#">
	                					New User? Sign Up
	                				</a>
	                			</div>
	                		</div>
	                		<h2>Sign in</h2>
	                		<div class="ashton-signup-form-social-icon-box">
	                			<p>Sign in via</p>
	                			<ul>
	                				<li><a href="#"><img src="assets/images/ggole.svg"></a></li>
	                				<li><a href="#"><img src="assets/images/facebbok.svg"></a></li>
	                				<li><a href="#"><img src="assets/images/twitter.svg"></a></li>
	                			</ul>
	                		</div>
	                		<div class="ashton-signup-form-box">
	                			<div class="ashton-signup-form-input">
	                				<div class="ashton-signup-form-input-top">
	                					<div class="ashton-signup-form-input-label">
	                						<label>Email Address</label>
	                					</div>
	                				</div>
	                				<div class="ashton-signup-form-input-bottom">
	                					<input type="text" name="">
	                				</div>
	                			</div>
	                            <div class="ashton-signup-form-input">
	                				<div class="ashton-signup-form-input-top">
	                					<div class="ashton-signup-form-input-label">
	                						<label>Password</label>
	                					</div>
	                					<div class="ashton-signup-form-forgot">
	                						<a href="#">Forgot Password?</a>
	                					</div>
	                				</div>
	                				<div class="ashton-signup-form-input-bottom">
	                					<input type="text" name="">
	                				</div>
	                			</div>
	                			<div class="ashton-signup-form-btn">
	                				<a href="#">Sign In</a>
	                			</div>

        <form #signupForm="ngForm" (ngSubmit)="doSignup(signupForm)" class="signupform">  
            <div class="form-group-left">        
              <div class="form-group">
                <div class="login-box">
                  <app-form-field validation="required" name="first_name" [(ngModel)]="registerRequest.first_name" class="app-group">
                    <input appFieldInput type="text" class="form-control login-input-style" placeholder="First Name" tabindex="1">
                  </app-form-field>
                </div>
              </div>
            </div>
            <div class="form-group-right">
              <div class="login-box">
                <app-form-field validation="required" name="last_name" [(ngModel)]="registerRequest.last_name" class="app-group">
                  <input appFieldInput type="text" class="form-control login-input-style" placeholder="Last Name" tabindex="2">
                </app-form-field>
              </div>
            </div>
            <div class="form-group-left">        
              <div class="form-group">
                <div class="login-box">
                  <app-form-field validation="required|min:8|max:14" name="phone_number" [(ngModel)]="registerRequest.phone_number" class="app-group">
                    <input appFieldInput type="number" class="form-control login-input-style" placeholder="Mobile Number" tabindex="3">
                  </app-form-field>
                </div>
              </div>
            </div>
            <div class="form-group-right">
              <div class="login-box">
                <app-form-field validation="required|email" name="email" [(ngModel)]="registerRequest.email" class="app-group">
                  <input appFieldInput type="text" class="form-control login-input-style" placeholder="Email Address" tabindex="4">
                </app-form-field>
              </div>
            </div>
            <div class="form-group-left">        
              <div class="form-group">
                <div class="login-box">
                  <app-form-field validation="required|min:8" name="password" [(ngModel)]="registerRequest.password" class="app-group">
                    <input appFieldInput type="text" class="form-control login-input-style" placeholder="password" tabindex="5">
                  </app-form-field>
                </div>
              </div>
            </div>
            
            <div class="signup-btn">
              <button type="submit">Seal the deal. Sign up!</button>
             </div>
        </form>
	                		</div>
	                	</div>
	                </div>
	                <div class="ashton-signup-right">
	                	<div class="ashton-signup-right-image">
	                		<img src="assets/images/pl.png">
	                	</div>
	                </div>
	            </div>
	        </div>
            <div class="overlay-video">
               
            </div>
        </div> 
    </div>
</section><!-- body ends-->
