@import 'var';

.ashton-section{
   background-image: url($imagePath+"bg-ground.png");
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 100vh;
}
.ashton-signup-detail{
    float: left;
    width: 100%;
    margin: 106px 0 0 0;
}
.ashton-signup-left-form {
    float: left;
    width: 50%;
}
.ashton-signup-right {
    float: left;
    width: 50%;
}
.ashton-signup-form-box-detail{
    float: left;
    width: 100%;
    background:rgba(255,255,255,0.89);
    border-radius: 30px;
    padding: 18px 25px 100px 25px;
    max-width: 480px;
}
.ashton-signup-form-top {
    float: left;
    width: 100%;
    margin: 0 0 40px 0;
}
.ashton-signup-form-social-icon-box {
    float: left;
    width: 100%;
    text-align: center;
    margin: 0 0 40px 0;
}
.ashton-signup-form-box {
    float: left;
    width: 100%;
}
.ashton-signup-form-input {
    float: left;
    width: 100%;
    margin: 0 0 29px 0;
}
.ashton-signup-form-btn {
    float: left;
    width: 100%;
}
.ashton-signup-form-top-left {
    float: left;
    width: 75%;
}
.ashton-signup-form-top-right {
    float: left;
    width: 25%;
    text-align: center;
}
.ashton-signup-form-top-left-image {
    float: left;
    width: 20%;
}
.ashton-signup-form-top-left-titel {
    float: left;
    width: 80%;
    font-size: 20px;
    color: #010101;
    font-weight: 600;
    line-height: 30px;
    margin: 12px 0 0 0px;
    padding: 0 0 0 8px;
}
.ashton-signup-form-top-right a {
    display: inline-block;
    font-size: 16px;
    color: #BE1E2E;
    line-height: 19px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 0 0 0;
}
.ashton-signup-form-top-left-image img {
    width: 57px;
    height: 60px;
}
.ashton-signup-form-box-detail h2 {
    font-size: 35px;
    color: #000000;
    line-height: 43px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 29px 0;
}
.ashton-signup-form-social-icon-box ul{
	width: 100%;
	max-width: 240px;
	margin: 0 auto;
}
.ashton-signup-form-social-icon-box ul li {
    list-style: none;
    float: left;
    width: 70px;
    height: 70px;
    margin: 0 10px 0 0;
}
.ashton-signup-form-social-icon-box p {
    font-size: 16px;
    color: rgba(0,0,0,0.5);
    line-height: 19px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 18px 0;
}
.ashton-signup-form-input-label{
	float: left;
	width: 50%;
}
.ashton-signup-form-input-label label {
    font-size: 12px;
    color: rgba(0,0,0,0.4);
    line-height: 15px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 8px 0;
}
.ashton-signup-form-forgot{
	float: left;
	width: 50%;
	text-align: right;
	margin: 0 0 8px 0;
}
.ashton-signup-form-input-top {
    float: left;
    width: 100%;
    margin: 0 0 8px 0;
}
.ashton-signup-form-input-bottom {
    float: left;
    width: 100%;
}
.ashton-signup-form-input-bottom input[type="text"] {
    width: 100%;
    background: #FFFFFF;
    border: 0 solid #BE1E2E;
    border-radius: 8px;
    height: 60px;
    font-size: 14px;
    color: #000000;
    line-height: 18px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.ashton-signup-form-forgot a {
    display: inline-block;
    font-size: 12px;
    color: #000000;
    line-height: 15px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.ashton-signup-form-btn a {
    display: inline-block;
    background: #BE1E2E;
    font-size: 22px;
    color: #FFFFFF;
    line-height: 32px;
    font-weight: 500;
    padding: 14px 49px;
    float: right;
}
.ashton-signup-right-image img {
    max-width: 100%;
    width: 499px;
    height: 613px;
}
.ashton-signup-right-image {
    float: left;
    width: 100%;
    margin: 20% 0 0 60px;
}