
/*************************home page css***********************/
@import 'var';

.header-left-social-icon {
    position: absolute;
    bottom: 40px;
    z-index: 1;
}
.header-left-social-icon ul li {
    list-style: none;
    padding: 0 36px 0 34px;
    margin: 0 0 7px 0;
}
.ashton-hero-mouse{
  float: left;
  width: 100%;
  text-align: center;
  z-index: 1;
  position: relative;
  margin: 56px 0 0 0;
}
.ashton-hero-mouse a{
  display: inline-block;
}
.ashton-hero-mouse a img{
  width: 45px;
  height: 45px;
}
.ashton-hero-top{
  float: left;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url($imagePath+"header3.jpg");
  height: 100vh;
  z-index: 999;
}
.ashton-hero-top-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000082;
    top: 0;
    left: 0;
}
.ashton-hero-top-detail {
    float: left;
    width: 100%;
    margin: 0 0 44px 0;
}
.ashton-hero-top-section{
    padding: 130px 0 0 0;
    float: left;
    width: 100%;
    z-index:1;
    position: relative;
}
.ashton-hero-content-detail-top-left {
    float: left;
    width: 50%;
    max-width: 350px;
    margin: 0 15% 0 5%;

}
.ashton-hero-content-detail-top-right{
  float: left;
  width: 50%;
  padding: 0 0 0 15%;
}
.ashton-hero-content-detail-top-left h2 {
    font-size: 44px;
    line-height: 65px;
    color: #ffffff;
    font-weight: 500;
}
.ashton-hero-content-detail-top-left p {
    font-size: 12px;
    color: #FFFFFF;
    line-height: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
.ashton-hero-content-detail-top-right h3 {
    font-size: 22px;
    line-height: 32px;
    color: #ffffff;
    font-weight: 500;
}
.ashton-hero-content-detail-top-right p {
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin: 6px 0 11px 0;
}
.ashton-hero-live-match-box {
    float: left;
    width: 100%;
    background-color: rgba(255,255,255,0.17);
    border-radius: 9px;
    max-width: 370px;
    padding: 23px 26px 21px;
}
.ashton-hero-live-match-left {
    float: left;
    width: 35%;
}
.ashton-hero-live-match-center{
   float: left;
   width: 30%;
   text-align: center;
   padding: 7px 0 0 0;
}
.ashton-hero-live-match-right {
    float: left;
    width: 35%;
    text-align: right;
}
.ashton-hero-live-match-left img {
    width: 70px;
    height: 70px;
}
.ashton-hero-live-match-right img {
    width: 70px;
    height: 70px;
}
.ashton-hero-live-match-center h3{
  font-size: 25px;
  line-height: 37px;
}
.ashton-hero-live-match-center p{
  font-size: 12px;
  line-height: 15px;
}
.ashton-hero-live-match-btn{
  width: 100%;
  float: left;
  text-align: center;
  margin: 11px 0 0 0;
}
.ashton-hero-live-match-btn a {
    display: inline-block;
    background: #FFFFFF;
    box-shadow: 0 9px 4px 0 rgba(0,0,0,0.10);
    border-radius: 27px;
    padding: 10px 44px;
    font-weight: 500;
    color: #000000;
    font-size: 18px;
    line-height: 28px;
}
.ashton-hero-content-detail-bottom {
    width: 100%;
    float: right;
    margin: 20% 0 0 0;
    max-width: 890px;
}
.ashton-hero-content-detail {
    float: left;
    width: 100%;
    position: relative;
    height: 100%;
    z-index: 9;
}
.ashton-hero-content-detail-top {
    float: left;
    width: 100%;
}
.ashton-hero-content-slide-box {
    float: left;
    width: 50%;
    background-color: rgba(255,255,255,0.17);
    border-radius: 9px;
    max-width: 405px;
    padding: 23px 26px 21px;
    margin: 0 30px 0 0px;
}
.ashton-hero-content-slide-left{
  float: left;
  width: 35%;
}
.ashton-hero-content-slide-center{
  float: left;
  width: 30%;
  text-align: center;
  padding: 10px 0 0 0;
}
.ashton-hero-content-slide-center h2{
  font-size: 38px;
  line-height: 48px;
  font-weight: 500;
  color: #ffffff;
}
.ashton-hero-content-slide-right {
    float: right;
    width: 20%;
    text-align: right;
}
.ashton-hero-content-detail-bottom-slide-detail h3 {
    font-size: 24px;
    line-height: 32px;
    text-transform: capitalize;
    color: #ffffff;
    margin: 0 0 15px 0;
    font-weight: 500;
}
.ashton-hero-content-slide-box-top {
    float: left;
    width: 100%;
}
.ashton-hero-content-slide-box-bottom {
    float: left;
    width: 100%;
}
.ashton-hero-content-slide-box-bottom p {
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.ashton-hero-content-detail-bottom-slide-box button.slick-next.slick-arrow {
    position: absolute;
    right: -25px;
    bottom: 35%;
    text-indent: -9999;
    border: none;
    font-size: 0;
}
.ashton-hero-content-detail-bottom-slide-box  button.slick-prev.slick-arrow {
    position: absolute;
    left: -60px;
    bottom: 35%;
    border: none;
    font-size: 0;
}
.ashton-hero-content-detail-bottom-slide-box button.slick-next.slick-arrow:after{
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: #BE1E2E;
  background-image: url($imagePath+"right-arrow-angle.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}
.ashton-hero-content-detail-bottom-slide-box  button.slick-prev.slick-arrow:after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: #BE1E2E;
  background-image: url($imagePath+"left-arrow-line-symbol.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}
.red-titel{
   font-size: 45px;
   line-height: 67px;
   color: #BE1E2E;
   font-weight: 500;
   margin: 20px 0;
   text-transform: uppercase;
}

.ashton-hero-center-player-tab{
  float: left;
  width: 100%;
}
.ashton-hero-center-player-tab ul li {
    list-style: none;
    float: left;
    font-size: 22px;
    line-height: 27px;
    margin: 0 55px 0 0;
    padding: 13px 0px;
}
.ashton-hero-center-player-tab ul li.active{
   background: #BE1E2E;
   padding: 13px 44px;
}
.ashton-hero-center-player-tab ul li.active a{
   color: #FFFFFF;
}
.ashton-hero-center-player-tab-content.course-main-content{
  display:none;
}
.ashton-hero-center-player-tab-content.course-main-content.active{
  display: block;
}
.ashton-hero-center-player-tab ul li:nth-last-child(1){
  margin: 0 0px 0 0;
}
.ashton-hero-center-player-tab ul li a{
    color: #CDCDCD;
    display: inline-block;
}
.ashton-hero-center-player-tab-content {
    float: left;
    width: 100%;
    margin: 37px 0 0 0;
}
.ashton-player-box {
    background: #BE1E2E;
    box-shadow: 0 0px 12px 0px rgba(0,0,0,0.10);
    border-radius: 5px;
    float: left;
    width: 32%;
    max-width: 371px;
    height: 423px;
    margin: 0 29px 0 0;
    position: relative; 
    display: none;
}
.ashton-player-box.ashton-active{
  display: block;
}
.ashton-player-box:nth-child(3n){
    margin: 0 0px 0 0;
}
.ashton-player-box h2 {
    font-size: 45px;
    line-height: 67px;
    color: #ffffff;
    font-weight: 500;
    padding: 30px 0 0 17px;
}
.ashton-player-box p {
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    padding: 0px 0 0 17px;
}
.ashton-player-number h3{
  font-size: 200px;
  line-height: 297px;
  font-weight: 500;
  color: rgba(255,255,255,0.16);
  margin: 15px 0 0 0;
}
.ashton-player-image {
    position: absolute;
    bottom: -5px;
    right: 0;
}
.ashton-player-overlay {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
}
.ashton-hero-center-new-box{
  float: left;
  width: 48%;
  margin: 0 44px 22px 0;
  position: relative;
  height: 400px;
}
.ashton-hero-center-new-box:nth-child(2n){
   margin: 0 0px 22px 0;
}
.ashton-hero-center-new-image{
  width: 446px;
  height: 313px;
  float: left;
}
.ashton-hero-center-new-content-box {
    background: #FFFFFF;
    box-shadow: 0 8px 12px 6px rgba(0,0,0,0.10);
    border-radius: 5px;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 286px;
    height: 189px;
    padding: 20px 13px 0 34px;
}
.ashton-hero-center-new-content-box h3{
  font-size: 22px;
  line-height: 32px;
  color: #000000;
  font-weight: 500;
}
.ashton-hero-center-new-content-box p{
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  bottom: 15px;
  right: 13px;
}
.ashton-hero-center-new-btn {
    float: left;
    width: 100%;
    text-align: right;
    margin: 35px 0 0 0;
}
.ashton-hero-center-new-btn a {
    display: inline-block;
    background: #BE1E2E;
    padding: 5px 53px;
    color: #ffffff;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    position: relative;
}
.ashton-hero-center-video-box{
  float: left;
  width: 48%;
  margin: 0 44px 22px 0;
  position: relative;
  height: 400px;
}
.ashton-hero-center-video-box:nth-child(2n){
   margin: 0 0px 22px 0;
}
.ashton-hero-center-video-image{
  width: 446px;
  height: 313px;
  float: left;
}
.ashton-hero-center-video-content-box {
    background: #FFFFFF;
    box-shadow: 0 8px 12px 6px rgba(0,0,0,0.10);
    border-radius: 5px;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 286px;
    height: 189px;
    padding: 20px 13px 0 10px;
}
.ashton-hero-center-video-content-box h3{
  font-size: 22px;
  line-height: 32px;
  color: #000000;
  font-weight: 500;
}
.ashton-hero-center-video-content-box p{
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  bottom: 15px;
  right: 13px;
}
.ashton-hero-center-video-btn {
    float: left;
    width: 100%;
    text-align: right;
    margin: 35px 0 0 0;
}
.ashton-hero-center-video-btn a {
    display: inline-block;
    background: #BE1E2E;
    padding: 5px 53px;
    color: #ffffff;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    position: relative;
}
.ashton-hero-center-new-btn a:after{
  content: "";
  position: absolute;
  bottom: -2px;
  right:0;
  width: 35px;
  height: 40px;
  background-image: url($imagePath+"right-arrow-angle.svg");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
} 
.ashton-hero-center-video-btn a:after{
  content: "";
  position: absolute;
  bottom: -2px;
  right:0;
  width: 35px;
  height: 40px;
  background-image: url($imagePath+"right-arrow-angle.svg");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
} 
.ashton-hero-center-video.icon a {
    display: inline-block;
    float: left;
    margin: 4px 11px 0 0;
}
.ashton-hero-shop-section{
    float: left;
    width: 100%;
}
.ashton-hero-shop-detail{
   float: left;
   width: 100%;
   background-image: url($imagePath+"shop-bg.png");
   background-repeat: no-repeat;
   background-size:cover;
   background-position: center;
   height: 490px;
   display: table;
}
.seemore-white{
  display: inline-block;
  background-color: #ffffff;
  width: 127px;
  height: 37px;
  font-size: 18px;
  line-height: 26px;
  color: #BE1E2E;
  text-transform: capitalize;
  font-weight: 500;
  padding: 5px 0 0 16px;
  text-align: left;
  position: relative;
}
.seemore-white:after{
  content: "";
  position: absolute;
  bottom: -2px;
  right:0;
  width: 35px;
  height: 40px;
  background-image: url($imagePath+"right-arrow-angle-red.svg");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
}
.ashton-hero-shop-seemore-btn{
  display: table-cell;
  vertical-align: middle;
  padding: 0 115px 0 0;
  text-align: right;
}
.our-charity-detail{
  float: left;
  width: 100%;
  background-image: url($imagePath+"our-charity-bg.png");
  background-size:cover;
  background-repeat: no-repeat;
  height: 241px;
  padding: 57px 41px 0 49px;
  margin: 28px 0 25px 0;
}
.our-charity-left{
  float: left;
  width: 50%;
}
.our-charity-right{
  float: left;
  width: 50%;
  text-align: right;
}
.our-charity-left h3 {
    font-size: 45px;
    line-height: 67px;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
}
.our-charity-left p {
    font-size: 25px;
    line-height: 37px;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 0 5px 0;
}

/*******************checkbox css**************/
.container-check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  color: #ffffff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.container-check:hover input ~ .checkmark {
  background-color: #ccc;
}
.container-check input:checked ~ .checkmark {
  background-color: #ffffff;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container-check input:checked ~ .checkmark:after {
  display: block;
}
.container-check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #BE1E2E;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.show-your-support-detail{
    float: left;
    width: 100%;
    height: 184px;
    overflow: hidden;
}
.show-your-support-left {
    float: left;
    width: 45%;
    background-image: url($imagePath+"show-your-support-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 184px;
    padding: 37px 67px 0 49px;
}
.show-your-support-right {
    float: left;
    width: 55%;
    background: #BE1E2E;
    height: 184px;
    padding: 28px 0 0 86px;
}
.show-your-support-left h3 {
    font-size: 45px;
    line-height: 67px;
    color: #ffffff;
    font-weight: 500;
}
.show-your-support-left p {
    font-size: 25px;
    line-height: 37px;
    color: #ffffff;
    font-weight: 500;
}
.show-your-support-right-content-titel {
    font-size: 18px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 500;
}
.show-your-support-right-content-inputbox input[type="email"] {
    background: #A31422;
    border-radius: 5px;
    height: 50px;
    padding: 0 0 0 10px;
    color: #ffffff;
    width: 100%;
}
.show-your-support-right-content-inputbox input[type="email"]::-webkit-input-placeholder { /* Edge */
  color:rgba(255,255,255,0.48);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.show-your-support-right-content-inputbox input[type="email"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:rgba(255,255,255,0.48);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.show-your-support-right-content-inputbox input[type="email"]::placeholder {
  color:rgba(255,255,255,0.48);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.show-your-support-right-content {
    float: left;
    width: 55%;
}
.show-your-support-right-btn{
    float: left;
    width: 45%;
    text-align: center;
    margin: 33px 0 0 0;
}
.show-your-support-right-content-inputbox {
    margin: 7px 0 12px 0;
}
.show-your-support-right-btn a {
    display: inline-block;
    width: 167px;
    height: 50px;
    background-color: #ffffff;
    background: #FFFFFF;
    box-shadow: 0 8px 15px 0 rgba(0,0,0,0.26);
    border-radius: 5px;
    font-size: 20px;
    color: #BE1E2E;
    line-height: 30px;
    font-weight: 500;
    padding: 10px 0;
}
.club-sponsorship-section{
  float: left;
  width: 100%;
  margin: 31px 0 0 0;
}
.club-sponsorship-section h2 {
    font-size: 35px;
    color: #000000;
    line-height: 52px;
    font-weight: 500;
    margin: 0 0 20px 0;
    text-transform: uppercase;
}
.club-sponsorship-box {
    float: left;
    width: 18%;
    margin: 0 29px 0 0;
    height: 165px;
    display: table!important;
    max-width: 220px;
}
.club-sponsorship-box:nth-child(5n){
    margin: 0 0px 0 0;
} 
.club-sponsorship-box-inner{
  display: table-cell;
  vertical-align: middle;
}
.club-sponsorship-box-inner img{
  width: 95%;
  height: auto;
}
.club-affiliate-section{
  float: left;
  width: 100%;
  margin: 20px 0 0 0;
}
.club-affiliate-section h2 {
    font-size: 35px;
    color: #000000;
    line-height: 52px;
    font-weight: 500;
    text-align: center;
}
.club-affiliate-detail{
  float: left;
  width: 100%;
}
.club-affiliate-detail ul {
    list-style: none;
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
}
.club-affiliate-detail ul li {
    list-style: none;
    float: left;
    width: 100px;
    height: 131px;
    display: table;
    overflow: hidden;
    margin: 0 5px 0 0;
}
.club-affiliate-detail ul li a{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
