 <!--page starts-->
    <section class="page-wrapper">
      <div class="ashton-hero-top">
        <div class="ashton-hero-mouse"><a href="#"><img src="assets/images/mouse.svg" alt="mouse"></a></div>
        <div class="container">
            <div class="ashton-hero-top-section cf">
              <div class="ashton-hero-content-detail">
                  <div class="ashton-hero-content-detail-top">
                     <div class="ashton-hero-content-detail-top-left">
                        <h2>Ashton United FC</h2>
                        <p>shton were left frustrated by their local opponents as for the second game running they failed to find the net whilst also having a man dismissed.</p>
                     </div>
                     <div class="ashton-hero-content-detail-top-right">
                       <h3>Ashton United V Mickleover Sports</h3>
                       <p>A Northern Premier League match at Hurst Cross Stadium</p>
                       <div class="ashton-hero-live-match-box">
                          <div class="ashton-hero-live-match-top">
                            <div class="ashton-hero-live-match-left">
                              <img src="assets/images/Bitmap.png" alt="Bitmap">
                            </div>
                            <div class="ashton-hero-live-match-center">
                              <h3>2-1</h3>
                              <p>90’ +4</p>
                            </div>
                            <div class="ashton-hero-live-match-right">
                              <img src="assets/images/Bitmap-two.png" alt="Bitmap-two"> 
                            </div>
                          </div>
                          <div class="ashton-hero-live-match-btn">
                             <a href="#">Watch Highlight</a>
                          </div>
                       </div>
                     </div>
                  </div>
                  <div class="ashton-hero-content-detail-bottom">
                      <div class="ashton-hero-content-detail-bottom-slide-detail">
                        <h3>upcoming matches </h3>
                        <div class="ashton-hero-content-detail-bottom-slide-box">
                          <ngx-slick-carousel class="carousel " #slickModal="slick-carousel" [config]="slideliveConfig">
                            <div ngxSlickItem class="ashton-hero-content-slide-box slide">
                              <div class="ashton-hero-content-slide-box-top">
                                <div class="ashton-hero-content-slide-left">
                                    <img src="assets/images/Bitmap.png" alt="Bitmap">
                                </div>
                                <div class="ashton-hero-content-slide-center">
                                   <h2>vs</h2>
                                </div>
                                <div class="ashton-hero-content-slide-right">
                                  <img src="assets/images/Bitmap-two.png" alt="Bitmap-two">
                                </div>
                              </div>
                              <div class="ashton-hero-content-slide-box-bottom">
                                 <p>Saturday 17th of October </p>
                                 <p>Home 15:00 </p>
                              </div> 
                            </div>
                            <div ngxSlickItem class="ashton-hero-content-slide-box slide">
                              <div class="ashton-hero-content-slide-box-top">
                                <div class="ashton-hero-content-slide-left">
                                    <img src="assets/images/Bitmap.png" alt="Bitmap">
                                </div>
                                <div class="ashton-hero-content-slide-center">
                                   <h2>vs</h2>
                                </div>
                                <div class="ashton-hero-content-slide-right">
                                  <img src="assets/images/Bitmap-two.png" alt="Bitmap-two">
                                </div>
                              </div>
                              <div class="ashton-hero-content-slide-box-bottom">
                                 <p>Saturday 17th of October </p>
                                 <p>Home 15:00 </p>
                              </div> 
                            </div>
                            <div ngxSlickItem class="ashton-hero-content-slide-box slide">
                              <div class="ashton-hero-content-slide-box-top">
                                <div class="ashton-hero-content-slide-left">
                                    <img src="assets/images/Bitmap.png" alt="Bitmap">
                                </div>
                                <div class="ashton-hero-content-slide-center">
                                   <h2>vs</h2>
                                </div>
                                <div class="ashton-hero-content-slide-right">
                                  <img src="assets/images/Bitmap-two.png" alt="Bitmap-two">
                                </div>
                              </div>
                              <div class="ashton-hero-content-slide-box-bottom">
                                 <p>Saturday 17th of October </p>
                                 <p>Home 15:00 </p>
                              </div> 
                            </div>
                          </ngx-slick-carousel>
                        </div>
                      </div> 
                  </div>
              </div>
            </div>
        </div>
        <div class="header-left-social-icon dsk">
              <ul>
                <li><a href="#"><img src="assets/images/fb.svg" alt="fb"></a></li>
                <li><a href="#"><img src="assets/images/insta.svg" alt="insta"></a></li>
                <li><a href="#"><img src="assets/images/youtube.svg" alt="youtube"></a></li>
                <li><a href="#"><img src="assets/images/twi.svg" alt="twi"></a></li> 
              </ul>
        </div>
        <div class="ashton-hero-top-overlay"></div>
      </div>
      <div class="ashton-hero-top-detail cf">
         <div class="container">
            <div class="ashton-hero-center-detail cf">
               <div class="red-titel">Players</div>
               <div class="ashton-hero-center-player-detail cf">
                  <div class="ashton-hero-center-player-tab">
                    <ul>
                      <li class="courses-name" [ngClass]="{'active': i == 0}" id="{{category?.players_category_id}}" *ngFor="let category of playercategoryList?.data; let i = index"><a href="#">{{category?.title}}</a></li>
                       <!-- <li class="courses-name active" id="men"><a href="#">Men’s Team</a></li>
                       <li class="courses-name " id="women"><a href="#">Women’s Team</a></li>
                       <li class="courses-name " id="junior"><a href="#">Junior’s Team</a></li> -->
                    </ul>
                  </div>
                  <div class="ashton-hero-center-player-tab-content course-main-content cf" [ngClass]="{'active': i == 0}" id="{{category?.players_category_id}}-content" *ngFor="let category of playercategoryList?.data; let i = index">
                    <ngx-slick-carousel class="carousel " #slickModal="slick-carousel" [config]="slideplayerConfig">
                      <div ngxSlickItem class="ashton-player-box slide" *ngFor="let player of playerList?.data" [ngClass]="{'ashton-active': player?.players_category_id == category?.players_category_id}">
                        <a [routerLink]="['/player-single', player?.slug]">
                          <h2>{{player?.full_name}}</h2>
                          <p>{{player?.main_role}}</p>
                          <div class="ashton-player-image">
                            <img [src]="player?.image" alt="pl">
                          </div>
                          <div class="ashton-player-number">
                             <h3>{{player?.players_number}}</h3>
                          </div>
                          <div class="ashton-player-overlay">
                             <img src="assets/images/red-shadow-ic.png" alt="red-shadow-ic">
                          </div>
                        </a>
                      </div>
                      <!-- <div ngxSlickItem class="ashton-player-box slide">
                          <h2>Greg Hartley</h2>
                          <p>Goalkeeper</p>
                          <div class="ashton-player-image">
                            <img src="assets/images/pl.png" alt="pl">
                          </div>
                          <div class="ashton-player-number">
                             <h3>25</h3>
                          </div>
                          <div class="ashton-player-overlay">
                             <img src="assets/images/red-shadow-ic.png" alt="red-shadow-ic">
                          </div>
                      </div>
                      <div ngxSlickItem class="ashton-player-box slide">
                          <h2>Greg Hartley</h2>
                          <p>Goalkeeper</p>
                          <div class="ashton-player-image">
                            <img src="assets/images/pl.png" alt="pl">
                          </div>
                          <div class="ashton-player-number">
                             <h3>25</h3>
                          </div>
                          <div class="ashton-player-overlay">
                             <img src="assets/images/red-shadow-ic.png" alt="red-shadow-ic">
                          </div>
                      </div>
                      <div ngxSlickItem class="ashton-player-box slide">
                          <h2>Greg Hartley</h2>
                          <p>Goalkeeper</p>
                          <div class="ashton-player-image">
                            <img src="assets/images/pl.png" alt="pl">
                          </div>
                          <div class="ashton-player-number">
                             <h3>25</h3>
                          </div>
                          <div class="ashton-player-overlay">
                             <img src="assets/images/red-shadow-ic.png" alt="red-shadow-ic">
                          </div>
                      </div> -->
                    </ngx-slick-carousel>  
                  </div>
                  <!-- <div class="ashton-hero-center-player-tab-content course-main-content  cf" id="women-content">
                      <div class="ashton-player-box">
                          <h2>Greg Hartley</h2>
                          <p>Goalkeeper</p>
                          <div class="ashton-player-image">
                            <img src="assets/images/pl.png" alt="pl">
                          </div>
                          <div class="ashton-player-number">
                             <h3>25</h3>
                          </div>
                          <div class="ashton-player-overlay">
                             <img src="assets/images/red-shadow-ic.png" alt="red-shadow-ic">
                          </div>
                      </div>
                      <div class="ashton-player-box">
                          <h2>Greg Hartley</h2>
                          <p>Goalkeeper</p>
                          <div class="ashton-player-image">
                            <img src="assets/images/pl.png" alt="pl">
                          </div>
                          <div class="ashton-player-number">
                             <h3>25</h3>
                          </div>
                          <div class="ashton-player-overlay">
                             <img src="assets/images/red-shadow-ic.png" alt="red-shadow-ic">
                          </div>
                      </div>
                      <div class="ashton-player-box">
                          <h2>Greg Hartley</h2>
                          <p>Goalkeeper</p>
                          <div class="ashton-player-image">
                            <img src="assets/images/pl.png" alt="pl">
                          </div>
                          <div class="ashton-player-number">
                             <h3>25</h3>
                          </div>
                          <div class="ashton-player-overlay">
                             <img src="assets/images/red-shadow-ic.png" alt="red-shadow-ic">
                          </div>
                      </div>
                  </div>
                  <div class="ashton-hero-center-player-tab-content course-main-content  cf" id="junior-content">
                      <div class="ashton-player-box">
                          <h2>Greg Hartley</h2>
                          <p>Goalkeeper</p>
                          <div class="ashton-player-image">
                            <img src="assets/images/pl.png" alt="pl">
                          </div>
                          <div class="ashton-player-number">
                             <h3>25</h3>
                          </div>
                          <div class="ashton-player-overlay">
                             <img src="assets/images/red-shadow-ic.png" alt="red-shadow-ic">
                          </div>
                      </div>
                      <div class="ashton-player-box">
                          <h2>Greg Hartley</h2>
                          <p>Goalkeeper</p>
                          <div class="ashton-player-image">
                            <img src="assets/images/pl.png" alt="pl">
                          </div>
                          <div class="ashton-player-number">
                             <h3>25</h3>
                          </div>
                          <div class="ashton-player-overlay">
                             <img src="assets/images/red-shadow-ic.png" alt="red-shadow-ic">
                          </div>
                      </div>
                      <div class="ashton-player-box">
                          <h2>Greg Hartley</h2>
                          <p>Goalkeeper</p>
                          <div class="ashton-player-image">
                            <img src="assets/images/pl.png" alt="pl">
                          </div>
                          <div class="ashton-player-number">
                             <h3>25</h3>
                          </div>
                          <div class="ashton-player-overlay">
                             <img src="assets/images/red-shadow-ic.png" alt="red-shadow-ic">
                          </div>
                      </div>
                  </div> -->
               </div>
               <div class="red-titel">News</div>
               <div class="ashton-hero-center-new-detail cf">
                  <div class="ashton-hero-center-new-detail-inner cf">
                    <div class="ashton-hero-center-new-box" *ngFor="let news of newsList?.data | slice:0:2">
                      <a [routerLink]="['/news-single', news?.slug]">
                        <div class="ashton-hero-center-new-image">
                           <img [src]="news?.thumbnail_image" alt="new-img">
                        </div>
                        <div class="ashton-hero-center-new-content-box">
                          <h3>{{news?.title}}</h3>
                          <p>{{news?.created_at}}</p>
                        </div>
                      </a>
                    </div>
                    <!-- <div class="ashton-hero-center-new-box">
                      <div class="ashton-hero-center-new-image">
                         <img src="assets/images/new-img.png" alt="new-img">
                      </div>
                      <div class="ashton-hero-center-new-content-box">
                        <h3>Ashton United Vs Matlock Town Preview </h3>
                        <p>Aug 12, 2020</p>
                      </div>
                    </div> -->
                  </div>
                  <div class="ashton-hero-center-new-btn">
                     <a routerLink="/news">SEE MORE</a>
                  </div>
               </div>
               <div class="red-titel">VIDEOS</div>
               <div class="ashton-hero-center-video-detail cf">
                  <div class="ashton-hero-center-video-detail-inner cf">
                    <div class="ashton-hero-center-video-box" *ngFor="let video of videoList?.data | slice:0:2">
                      <div class="ashton-hero-center-video-image">
                         <img [src]="video?.image" alt="new-img">
                      </div>
                      <div class="ashton-hero-center-video-content-box">
                        <div class="ashton-hero-center-video icon">
                          <a class="popup-youtube" href="{{video?.video}}"><img src="assets/images/play-button.png" alt="play-button"></a>
                          <h3>{{video?.title}}</h3>
                        </div>
                        <p>{{video?.created_at}}</p>
                      </div>
                    </div>
                    <!-- <div class="ashton-hero-center-video-box">
                      <div class="ashton-hero-center-video-image">
                         <img src="assets/images/new-img.png" alt="new-img">
                      </div>
                      <div class="ashton-hero-center-video-content-box">
                        <div class="ashton-hero-center-video icon">
                          <a href="#"><img src="assets/images/play-button.png" alt="play-button"></a>
                          <h3>Ashton United Vs Matlock Town Preview</h3>
                        </div>
                        <p>Aug 12, 2020</p>
                      </div>
                    </div> -->
                  </div>
                  <div class="ashton-hero-center-video-btn">
                     <a routerLink="/video">SEE MORE</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="ashton-hero-shop-section cf">
         <div class="container">
            <div class="red-titel">SHOP</div>
         </div>
         <div class="ashton-hero-shop-detail cf">
            <div class="ashton-hero-shop-seemore-btn">
               <a href="#" class="seemore-white">See More</a>
            </div>
         </div>
         <div class="container">
           <div class="our-charity-detail cf">
              <div class="our-charity-left">
                <h3>OUR CHARITY</h3>
                <p>ASHTON UNITED IN COMMUNITY</p>
                <div class="our-charity-left-btn">
                  <a href="#" class="seemore-white">Know More</a>
                </div>
              </div>
              <div class="our-charity-right">
                <img src="assets/images/Bitmap-icon.png" alt="Bitmap-icon">
              </div>
           </div>
           <div class="show-your-support-detail cf">
             <div class="show-your-support-left">
               <h3>SHOW YOUR SUPPORT</h3>
               <p>& JOIN THE ROBINS TODAY!</p>
             </div>
             <div class="show-your-support-right">
                <div class="show-your-support-right-content">
                  <div class="show-your-support-right-content-titel">
                    Subscribe for email updates
                  </div>
                  <div class="show-your-support-right-content-inputbox">
                    <input type="email" name="" placeholder="Add Email Address">
                  </div>
                  <div class="show-your-support-right-content-checkbox">
                    <label class="container-check">I have read and agree to the Privacy Policy and Data Protection Policy
                      <input type="checkbox" checked="checked">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
                <div class="show-your-support-right-btn">
                   <a href="#">SUBMIT</a>
                </div>
             </div>
           </div>
           <div class="club-sponsorship-section cf">
             <h2>CLUB SPONSORS</h2>
             <div class="club-sponsorship-detail">
              <ngx-slick-carousel class="carousel " #slickModal="slick-carousel" [config]="slidesponsorConfig">
                <div ngxSlickItem class="club-sponsorship-box slide">
                  <div class="club-sponsorship-box-inner">
                     <img src="assets/images/unnamed-3.jpg" alt="unnamed-3">
                  </div>
                </div>
                <div ngxSlickItem class="club-sponsorship-box slide">
                  <div class="club-sponsorship-box-inner">
                     <img src="assets/images/unnamed-1.jpg" alt="unnamed-1">
                  </div>
                </div>
                <div ngxSlickItem class="club-sponsorship-box slide">
                  <div class="club-sponsorship-box-inner">
                     <img src="assets/images/sponsorship-logo.png" alt="sponsorship-logo">
                  </div>
                </div>
                <div ngxSlickItem class="club-sponsorship-box slide">
                  <div class="club-sponsorship-box-inner">
                     <img src="assets/images/unnamed-9.jpg" alt="unnamed-9">
                  </div>
                </div>
                <div ngxSlickItem class="club-sponsorship-box slide">
                  <div class="club-sponsorship-box-inner">
                     <img src="assets/images/unnamed-2.jpg" alt="unnamed-2">
                  </div>
                </div>
                <div ngxSlickItem class="club-sponsorship-box slide">
                  <div class="club-sponsorship-box-inner">
                     <img src="assets/images/unnamed-3.jpg" alt="unnamed-3">
                  </div>
                </div>
                <div ngxSlickItem class="club-sponsorship-box slide">
                  <div class="club-sponsorship-box-inner">
                     <img src="assets/images/unnamed-1.jpg" alt="unnamed-1">
                  </div>
                </div>
              </ngx-slick-carousel>
             </div>
           </div>
           <div class="club-affiliate-section cf">
             <h2>CLUB AFFILIATES</h2>
             <div class="club-affiliate-detail">
                <ul>
                   <li><a href="#"><img src="assets/images/mcdonnalds.jpg" alt="mcdonnalds"></a></li>
                   <li><a href="#"><img src="assets/images/respect.jpg" alt="respect"></a></li>
                   <li><a href="#"><img src="assets/images/logo-logo.jpg" alt="logo-logo"></a></li>
                   <li><a href="#"><img src="assets/images/respect-logo.jpg" alt="respect-logo"></a></li>
                   <li><a href="#"><img src="assets/images/logo2-logo2.jpg" alt="logo2-logo2"></a></li>
                   <li><a href="#"><img src="assets/images/logo3-logo3.jpg" alt="logo3-logo3"></a></li>
                </ul>
             </div>
           </div>
         </div>
      </div>
    </section><!-- page ends-->