 <!--page starts-->
    <section class="page-wrapper">
      <div class="ashton-hero-top fixtures">
        <div class="container">
        	<div class="fixtures-top-detail">
               <div class="red-titel">Fixtures</div>
	            <div class="ashton-hero-center-player-tab">
	                <ul>
	                    <li class="courses-name active" id="men"><a routerLink="/fixtures">Men’s Team</a></li>
	                    <li class="courses-name " id="women"><a routerLink="/fixtures-women/test">Women’s Team</a></li>
	                    <li class="courses-name " id="junior"><a routerLink="/fixtures-junior/test">Junior’s Team</a></li>
	                </ul>
	            </div>
            </div>
        </div>
        <div class="fixtures-top-detail-banner cf">
        	<div class="fixtures-top-detail-slider">
        		<div class="fixtures-top-detail-slider-box" *ngFor="let matchs of matchsList?.data | slice:0:1">
        			<div class="fixtures-top-detail-slider-box-left">
        				<div class="fixtures-top-detail-slider-box-left-text">
        					<p>{{matchs?.first_name}}</p>
        				</div>
        				<div class="fixtures-top-detail-slider-box-left-image">
        					<img [src]="matchs?.first_image" alt="Bitmap">
        				</div>
        			</div>
        			<div class="fixtures-top-detail-slider-box-center">
        				<div class="fixtures-top-detail-slider-box-center-inner">
	        				<h3>Home 15:00</h3>
	        				<p>{{matchs?.date_time}}</p>
	        			</div>
        			</div>
        			<div class="fixtures-top-detail-slider-box-right">
        				<div class="fixtures-top-detail-slider-box-left-image">
        					<img [src]="matchs?.second_image" alt="Bitmap">
        				</div>
        				<div class="fixtures-top-detail-slider-box-left-text">
        					<p>{{matchs?.second_name}}</p>
        				</div>
        			</div>
        		</div>
        		<div class="fixtures-top-detail-slider-btn">
        			<a href="#">Buy Tickets</a>
        		</div>
        	</div>
        </div>
        <div class="fixtures-center-detail-section cf">
        	<div class="container">
        		<div class="fixtures-center-detail cf">
        			<div class="fixtures-center-detail-left">
        				<div class="caleandar-box">
                            <div class="row text-center">
								<div class="col-md-4">
								  <div class="btn-group">
									<div
									  class="btn btn-primary"
									  mwlCalendarPreviousView
									  [view]="view"
									  [(viewDate)]="viewDate"
									  (viewDateChange)="closeOpenMonthViewDay()"
									>
									  Previous
									</div>
									<div
									  class="btn btn-outline-secondary"
									  mwlCalendarToday
									  [(viewDate)]="viewDate"
									>
									  Today
									</div>
									<div
									  class="btn btn-primary"
									  mwlCalendarNextView
									  [view]="view"
									  [(viewDate)]="viewDate"
									  (viewDateChange)="closeOpenMonthViewDay()"
									>
									  Next
									</div>
								  </div>
								</div>
								<div class="col-md-4">
								  <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
								</div>
								<div class="col-md-4">
								  <div class="btn-group">
									<div
									  class="btn btn-primary"
									  (click)="setView(CalendarView.Month)"
									  [class.active]="view === CalendarView.Month"
									>
									  Month
									</div>
									<div
									  class="btn btn-primary"
									  (click)="setView(CalendarView.Week)"
									  [class.active]="view === CalendarView.Week"
									>
									  Week
									</div>
									<div
									  class="btn btn-primary"
									  (click)="setView(CalendarView.Day)"
									  [class.active]="view === CalendarView.Day"
									>
									  Day
									</div>
								  </div>
								</div>
							  </div>
							  <br />
							  <div [ngSwitch]="view">
								<mwl-calendar-month-view
								  *ngSwitchCase="CalendarView.Month"
								  [viewDate]="viewDate"
								  [events]="events"
								  [refresh]="refresh"
								  [activeDayIsOpen]="activeDayIsOpen"
								  (dayClicked)="dayClicked($event.day)"
								  (eventClicked)="handleEvent('Clicked', $event.event)"
								  (eventTimesChanged)="eventTimesChanged($event)"
								>
								</mwl-calendar-month-view>
								<mwl-calendar-week-view
								  *ngSwitchCase="CalendarView.Week"
								  [viewDate]="viewDate"
								  [events]="events"
								  [refresh]="refresh"
								  (eventClicked)="handleEvent('Clicked', $event.event)"
								  (eventTimesChanged)="eventTimesChanged($event)"
								>
								</mwl-calendar-week-view>
								<mwl-calendar-day-view
								  *ngSwitchCase="CalendarView.Day"
								  [viewDate]="viewDate"
								  [events]="events"
								  [refresh]="refresh"
								  (eventClicked)="handleEvent('Clicked', $event.event)"
								  (eventTimesChanged)="eventTimesChanged($event)"
								>
								</mwl-calendar-day-view>
							  </div>
							  
							  <!-- Everything you see below is just for the demo, you don't need to include it in your app -->
							  
							  <br /><br /><br />
							  
							  <h3>
								Edit events
								<button class="btn btn-primary float-right" (click)="addEvent()">
								  Add new
								</button>
								<div class="clearfix"></div>
							  </h3>
							  
							  <div class="table-responsive">
								<table class="table table-bordered">
								  <thead>
									<tr>
									  <th>Title</th>
									  <th>Primary color</th>
									  <th>Secondary color</th>
									  <th>Starts at</th>
									  <th>Ends at</th>
									  <th>Remove</th>
									</tr>
								  </thead>
							  
								  <tbody>
									<tr *ngFor="let event of events">
									  <td>
										<input
										  type="text"
										  class="form-control"
										  [(ngModel)]="event.title"
										  (keyup)="refresh.next()"
										/>
									  </td>
									  <td>
										<input
										  type="color"
										  [(ngModel)]="event.color.primary"
										  (change)="refresh.next()"
										/>
									  </td>
									  <td>
										<input
										  type="color"
										  [(ngModel)]="event.color.secondary"
										  (change)="refresh.next()"
										/>
									  </td>
									  <td>
										<input
										  class="form-control"
										  type="text"
										  mwlFlatpickr
										  [(ngModel)]="event.start"
										  (ngModelChange)="refresh.next()"
										  [altInput]="true"
										  [convertModelValue]="true"
										  [enableTime]="true"
										  dateFormat="Y-m-dTH:i"
										  altFormat="F j, Y H:i"
										  placeholder="Not set"
										/>
									  </td>
									  <td>
										<input
										  class="form-control"
										  type="text"
										  mwlFlatpickr
										  [(ngModel)]="event.end"
										  (ngModelChange)="refresh.next()"
										  [altInput]="true"
										  [convertModelValue]="true"
										  [enableTime]="true"
										  dateFormat="Y-m-dTH:i"
										  altFormat="F j, Y H:i"
										  placeholder="Not set"
										/>
									  </td>
									  <td>
										<button class="btn btn-danger" (click)="deleteEvent(event)">
										  Delete
										</button>
									  </td>
									</tr>
								  </tbody>
								</table>
							  </div>
                        </div>
        			</div>
        			<div class="fixtures-center-detail-right">
        				<div class="fixtures-center-detail-right-box cf" *ngFor="let matchs of matchsList?.data">
        					<div class="fixtures-center-detail-right-box-top cf">
		        				<div class="fixtures-center-detail-right-left">
		        				    <div class="fixtures-top-detail-slider-box-left-text">
		        					   <p>{{matchs?.first_name}}</p>
		        				    </div>
		        				    <div class="fixtures-top-detail-slider-box-left-image">
		        					  <img [src]="matchs?.first_image" alt="Bitmap">
		        				    </div>	
		        				</div>
		        				<div class="fixtures-center-detail-right-center">
		        				    <div class="fixtures-top-detail-slider-box-center-inner">
			        				   <h2>VS</h2>
			        			    </div>	
		        				</div>
		        				<div class="fixtures-center-detail-right-right">
		        					<div class="fixtures-top-detail-slider-box-left-image">
		        					    <img [src]="matchs?.second_image" alt="Bitmap">
		        				    </div>
		        				    <div class="fixtures-top-detail-slider-box-left-text">
		        					   <p>{{matchs?.second_name}}</p>
		        				    </div>
		        				</div>
		        			</div>
	        			    <div class="fixtures-center-detail-right-box-bottom cf">
	        			    	<div class="fixtures-center-detail-right-box-bottom-left">
	        			    		<p>{{matchs?.date_time}} |  Home 15:00 </p>
	        			    	</div>
	        			    	<div class="fixtures-center-detail-right-box-bottom-btn">
	        			    		<a href="#">Book Tickets</a>
	        			    	</div>
	        			    </div>
	        			</div>
	        			<!-- <div class="fixtures-center-detail-right-box cf">
        					<div class="fixtures-center-detail-right-box-top cf">
		        				<div class="fixtures-center-detail-right-left">
		        				    <div class="fixtures-top-detail-slider-box-left-text">
		        					   <p>Ashton United</p>
		        				    </div>
		        				    <div class="fixtures-top-detail-slider-box-left-image">
		        					  <img src="assets/images/Bitmap.png" alt="Bitmap">
		        				    </div>	
		        				</div>
		        				<div class="fixtures-center-detail-right-center">
		        				    <div class="fixtures-top-detail-slider-box-center-inner">
			        				   <h2>VS</h2>
			        			    </div>	
		        				</div>
		        				<div class="fixtures-center-detail-right-right">
		        					<div class="fixtures-top-detail-slider-box-left-image">
		        					    <img src="assets/images/Bitmap-two.png" alt="Bitmap">
		        				    </div>
		        				    <div class="fixtures-top-detail-slider-box-left-text">
		        					   <p>Mickleover Sports</p>
		        				    </div>
		        				</div>
		        			</div>
	        			    <div class="fixtures-center-detail-right-box-bottom cf">
	        			    	<div class="fixtures-center-detail-right-box-bottom-left">
	        			    		<p>Saturday 17th of October |  Home 15:00 </p>
	        			    	</div>
	        			    	<div class="fixtures-center-detail-right-box-bottom-btn">
	        			    		<a href="#">Book Tickets</a>
	        			    	</div>
	        			    </div>
	        			</div>
	        			<div class="fixtures-center-detail-right-box cf">
        					<div class="fixtures-center-detail-right-box-top cf">
		        				<div class="fixtures-center-detail-right-left">
		        				    <div class="fixtures-top-detail-slider-box-left-text">
		        					   <p>Ashton United</p>
		        				    </div>
		        				    <div class="fixtures-top-detail-slider-box-left-image">
		        					  <img src="assets/images/Bitmap.png" alt="Bitmap">
		        				    </div>	
		        				</div>
		        				<div class="fixtures-center-detail-right-center">
		        				    <div class="fixtures-top-detail-slider-box-center-inner">
			        				   <h2>VS</h2>
			        			    </div>	
		        				</div>
		        				<div class="fixtures-center-detail-right-right">
		        					<div class="fixtures-top-detail-slider-box-left-image">
		        					    <img src="assets/images/Bitmap-two.png" alt="Bitmap">
		        				    </div>
		        				    <div class="fixtures-top-detail-slider-box-left-text">
		        					   <p>Mickleover Sports</p>
		        				    </div>
		        				</div>
		        			</div>
	        			    <div class="fixtures-center-detail-right-box-bottom cf">
	        			    	<div class="fixtures-center-detail-right-box-bottom-left">
	        			    		<p>Saturday 17th of October |  Home 15:00 </p>
	        			    	</div>
	        			    	<div class="fixtures-center-detail-right-box-bottom-btn">
	        			    		<a href="#">Book Tickets</a>
	        			    	</div>
	        			    </div>
	        			</div> -->
        			</div>
        		</div>
        		<div class="fixtures-recentmathces-section cf">
        			<div class="red-titel">RECENT MATHCES</div>
        			<div class="fixtures-recentmathces-detail">
        				<div class="fixtures-recentmathces-box">
        					<div class="fixtures-recentmathces-box-left">
        						<div class="fixtures-center-detail-right-box-top cf">
		        				<div class="fixtures-center-detail-right-left">
		        				    <div class="fixtures-top-detail-slider-box-left-text">
		        					   <p>Ashton United</p>
		        				    </div>
		        				    <div class="fixtures-top-detail-slider-box-left-image">
		        					  <img src="assets/images/Bitmap.png" alt="Bitmap">
		        				    </div>	
		        				</div>
		        				<div class="fixtures-center-detail-right-center">
		        				    <div class="fixtures-top-detail-slider-box-center-inner">
			        				   <h2>VS</h2>
			        			    </div>	
		        				</div>
		        				<div class="fixtures-center-detail-right-right">
		        					<div class="fixtures-top-detail-slider-box-left-image">
		        					    <img src="assets/images/Bitmap-two.png" alt="Bitmap">
		        				    </div>
		        				    <div class="fixtures-top-detail-slider-box-left-text">
		        					   <p>Mickleover Sports</p>
		        				    </div>
		        				</div>
		        			</div>
	        			    <div class="fixtures-center-detail-right-box-bottom cf">
	        			    	<div class="fixtures-center-detail-right-box-bottom-left">
	        			    		<p>Saturday 17th of October |  Home 15:00 </p>
	        			    	</div>
	        			    </div>
        					</div>
        					<div class="fixtures-recentmathces-box-right">
        						<h3>2-1</h3>
        						<p>90’ +4</p>

        						<div class="fixtures-recentmathces-box-right-next">
        							<a href="#"><img src="assets/images/right-arrow-angle-red.svg"></a>
        						</div>
        					</div>
        				</div>
        				<div class="fixtures-recentmathces-box">
        					<div class="fixtures-recentmathces-box-left">
        						<div class="fixtures-center-detail-right-box-top cf">
		        				<div class="fixtures-center-detail-right-left">
		        				    <div class="fixtures-top-detail-slider-box-left-text">
		        					   <p>Ashton United</p>
		        				    </div>
		        				    <div class="fixtures-top-detail-slider-box-left-image">
		        					  <img src="assets/images/Bitmap.png" alt="Bitmap">
		        				    </div>	
		        				</div>
		        				<div class="fixtures-center-detail-right-center">
		        				    <div class="fixtures-top-detail-slider-box-center-inner">
			        				   <h2>VS</h2>
			        			    </div>	
		        				</div>
		        				<div class="fixtures-center-detail-right-right">
		        					<div class="fixtures-top-detail-slider-box-left-image">
		        					    <img src="assets/images/Bitmap-two.png" alt="Bitmap">
		        				    </div>
		        				    <div class="fixtures-top-detail-slider-box-left-text">
		        					   <p>Mickleover Sports</p>
		        				    </div>
		        				</div>
		        			</div>
	        			    <div class="fixtures-center-detail-right-box-bottom cf">
	        			    	<div class="fixtures-center-detail-right-box-bottom-left">
	        			    		<p>Saturday 17th of October |  Home 15:00 </p>
	        			    	</div>
	        			    </div>
        					</div>
        					<div class="fixtures-recentmathces-box-right">
        						<h3>2-1</h3>
        						<p>90’ +4</p>
        						<div class="fixtures-recentmathces-box-right-next">
        							<a href="#"><img src="assets/images/right-arrow-angle-red.svg"></a>
        						</div>
        					</div>
        				</div>
        				<div class="fixtures-recentmathces-box">
        					<div class="fixtures-recentmathces-box-left">
        						<div class="fixtures-center-detail-right-box-top cf">
		        				<div class="fixtures-center-detail-right-left">
		        				    <div class="fixtures-top-detail-slider-box-left-text">
		        					   <p>Ashton United</p>
		        				    </div>
		        				    <div class="fixtures-top-detail-slider-box-left-image">
		        					  <img src="assets/images/Bitmap.png" alt="Bitmap">
		        				    </div>	
		        				</div>
		        				<div class="fixtures-center-detail-right-center">
		        				    <div class="fixtures-top-detail-slider-box-center-inner">
			        				   <h2>VS</h2>
			        			    </div>	
		        				</div>
		        				<div class="fixtures-center-detail-right-right">
		        					<div class="fixtures-top-detail-slider-box-left-image">
		        					    <img src="assets/images/Bitmap-two.png" alt="Bitmap">
		        				    </div>
		        				    <div class="fixtures-top-detail-slider-box-left-text">
		        					   <p>Mickleover Sports</p>
		        				    </div>
		        				</div>
		        			</div>
	        			    <div class="fixtures-center-detail-right-box-bottom cf">
	        			    	<div class="fixtures-center-detail-right-box-bottom-left">
	        			    		<p>Saturday 17th of October |  Home 15:00 </p>
	        			    	</div>
	        			    </div>
        					</div>
        					<div class="fixtures-recentmathces-box-right">
        						<h3>2-1</h3>
        						<p>90’ +4</p>
        						<div class="fixtures-recentmathces-box-right-next">
        							<a href="#"><img src="assets/images/right-arrow-angle-red.svg"></a>
        						</div>
        					</div>
        				</div>
        				<div class="fixtures-recentmathces-btn">
        					<a href="#">Load More</a>
        				</div>
        			</div>
        		</div>
        	</div>
        </div>
      </div>
    </section><!-- page ends -->