@import 'var';

.ashton-hero-top-payment-section {
    float: left;
    width: 100%;
    margin: 119px 0 0 0;
}
.ashton-hero-top-payment-left {
    float: left;
    width: 50%;
    background: #BE1E2E;
    height: 329px;
    padding: 6px 0 0 22px;
}
.ashton-hero-top-payment-image-box{
	float: left;
	width: 100%;
}
.ashton-hero-top-payment-image-box h3 {
    font-size: 22px;
    color: #FFFFFF;
    line-height: 32px;
    margin: 0 0 51px 0;
}
.ashton-hero-top-payment-image-slide{
	max-width: 400px;
    margin: 0 auto;
    width: 100%;
}
.ashton-hero-top-payment-image {
    background-image: url($imagePath+"visa.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 215px;
    max-width: 370px;
    margin: 0 auto;
    padding: 10px 0 0 30px;
    background-position: bottom;
}
.ashton-hero-top-payment-right {
    float: left;
    width: 50%;
    padding: 0 0 0 23px;
    margin: 10px 0 0 0;
}
.ashton-hero-top-payment-card-name {
    float: left;
    width: 100%;
}
.ashton-hero-top-payment-card-number {
    float: left;
    width: 100%;
}
.ashton-hero-top-payment-card-date-detail {
    float: left;
    width: 100%;
}
.ashton-hero-top-payment-card-name h3 {
    font-size: 26px;
    line-height: 30px;
    margin: 0 0 0 0;
}
.ashton-hero-top-payment-card-number p {
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 2.2px;
    text-align: left;
    line-height: 29px;
    font-weight: 500;
    margin: 35px 0 28px 0;
}
.ashton-hero-top-payment-card-holder-name p {
    font-size: 10px;
    color: #FFFFFF;
    line-height: 13px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
.ashton-hero-top-payment-image-box .ashton-hero-top-payment-card-holder-name h3 {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 24px;
}
.ashton-hero-top-payment-card-holder-name {
    float: left;
    width: 50%;
}
.ashton-hero-top-payment-card-holder-valid-date {
    float: left;
    width: 50%;
}
.ashton-hero-top-payment-card-holder-valid-date p {
    font-size: 10px;
    color: #FFFFFF;
    line-height: 13px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
.ashton-hero-top-payment-image-box .ashton-hero-top-payment-card-holder-valid-date h3 {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 24px;
    margin: 0 0 0 0;
}
.ashton-hero-top-payment-right h3 {
    font-size: 22px;
    color: #BE1E2E;
    line-height: 32px;
    font-weight: 500;
    margin: 0 0 15px 0;
}
.ashton-hero-top-payment-btn {
    float: left;
    width: 100%;
    margin: 50px 0 0 0;
}
.ashton-hero-top-payment-add-card-detail {
    float: left;
    width: 100%;
    margin: 0px 0 0 0;
}
.ashton-hero-top-payment-btn a {
    display: inline-block;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 26px;
    background: #BE1E2E;
    padding: 6px 40px 5px 6px;
    position: relative;
    text-transform: capitalize;
    float: right;
}
.ashton-hero-top-payment-btn a:after{
  content: "";
  background-image: url($imagePath+"right-arrow-angle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  height: 20px;
  position: absolute;
  top:12px;
  right:7px;
}
.half{
    width: 50%;
    float: left;
    max-width: 260px;
    margin: 0 0 19px 0;
}
.full{
   width: 100%;
   float: left;
   margin: 0 0 19px 0;
}
.input-style{
    border: 1px solid #DADADA;
    width: 100%;
    height: 44px;
    font-size: 16px;
    line-height: 20px;
    padding: 0 0 0 15px;
}
.checkout-address-box.half{
   margin-right: 41px
}
.checkout-address-box.half:nth-child(2n){
   margin-right: 0px
}

.ashton-hero-top-detail-payment-done{
   float: left;
   width: 100%;
   background-image: url($imagePath+"booking done img.png");
   background-repeat: no-repeat;
   background-size: cover;
   height: 362px;
   overflow: hidden;
   margin: 127px 0 0 0;
}
.ashton-hero-top-payment-done-section{
    float: left;
    width: 100%;
}
.ashton-hero-top-payment-done-detail {
    width: 100%;
    max-width: 370px;
    margin: 0 auto;
    text-align: center;
}
.ashton-hero-top-payment-done-detail h2 {
    font-size: 32px;
    color: #FFFFFF;
    line-height: 42px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 34px 0 18px 0;
}
.ashton-hero-top-payment-done-box.cf {
    float: left;
    width: 100%;
    background-image: url($imagePath+"Combined-Shape.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 172px;
}
.ashton-hero-top-payment-done-left {
    float: left;
    width: 37%;
    position: relative;
}
.ashton-hero-top-payment-done-left:after{
	content: "";
    position: absolute;
    height: 95%;
    width: 0px;
    top: 11px;
    right: 0;
    border: 1px solid #ffffff9e;
    border-style: dashed;
}
.ashton-hero-top-payment-done-right{
	float: left;
	width: 63%;
}
.ashton-hero-top-payment-done-left-image {
    padding: 28px 0 0 19px;
    text-align: left;
}
.ashton-hero-top-payment-done-left h3 {
    font-size: 14px;
    color: #FFFFFF;
    line-height: 21px;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    margin: 7px 0 0 0;
}
.ashton-hero-top-payment-done-right-content h3 {
    font-size: 22px;
    color: #FFFFFF;
    line-height: 28px;
    font-weight: 500;
}
.ashton-hero-top-payment-done-right-content p {
    font-size: 12px;
    color: #FFFFFF;
    line-height: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 9px 0 12px 0;
}
.ashton-hero-top-payment-done-right-content {
    float: left;
    width: 100%;
    padding: 18px 40px 0 13px;
    text-align: left;
}
.ashton-hero-top-payment-done-right-btn{
	float: left;
	width: 100%;
}
.ashton-hero-top-payment-done-right-btn a {
    display: inline-block;
    background: #FFFFFF;
    font-size: 18px;
    color: #BE1E2E;
    line-height: 26px;
    font-weight: 500;
    padding: 5px 9px 5px 9px;
    float: right;
    margin: 0 10px 0 0;
}